[2015-05-07 20:52] elibixby opened #5 "Add top-level tox.ini"
Work out test configuration/standards for the repo.

[2015-05-08 16:26] tmatsuo opened #7 "Add unit tests for datastore/ndb/overview and datastore/ndb/transactions"

[2015-05-08 16:28] tmatsuo opened #8 "Enable travis and coveralls"
After merging https://github.com/GoogleCloudPlatform/python-docs-samples/pull/6

[2015-05-09 12:14] tmatsuo opened #9 "Raise minimum coverage to 100% or close"

[2015-05-09 14:57] tmatsuo opened #10 "Use environment variable for the project id to use in integration tests"
otherwise people outside google can not run the tests

[2015-05-14 16:45] tmatsuo commented on #8
weird, the build for the PR succeeded
https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/61875739

but the build for merge failed
https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/62574554

Those should have the same results.

[2015-05-14 16:59] tmatsuo commented on #8
suspecting it's because tox 2.0 started to filter env variables
https://testrun.org/tox/latest/example/basic.html#passing-down-environment-variables

[2015-05-14 18:13] tmatsuo commented on #5
Fixed by https://github.com/GoogleCloudPlatform/python-docs-samples/pull/11

[2015-05-14 18:13] #5 closed

[2015-05-14 21:35] tmatsuo opened #17 "Other env variables we should pass; CLOUDSDK_COMPUTE_ZONE, CLOUDSDK_COMPUTE_REGION"

[2015-05-15 03:14] tmatsuo commented on #8
Fixed by https://github.com/GoogleCloudPlatform/python-docs-samples/pull/15

[2015-05-15 03:14] #8 closed

[2015-05-15 03:35] tmatsuo commented on #7
@jeffmendoza The top level tox.ini and travis config started working properly. Can you add unit tests for code in these 2 directories so that travis can run your tests?

[2015-05-15 15:59] tmatsuo commented on #7
FYI https://github.com/GoogleCloudPlatform/python-docs-samples/pull/18 will allow you to run the tox test against your own project.

[2015-05-15 17:39] #17 closed

[2015-05-15 17:40] #10 closed

[2015-05-21 18:07] jeffmendoza opened #19 "Where to put appengine-memcache-guestbook-python ?"
Where should we put: https://github.com/GoogleCloudPlatform/appengine-memcache-guestbook-python ?
appengine/memcache/guestbook ?
@elibixby @jonparrott

[2015-05-21 18:21] elibixby commented on #19
@jeffmendoza SGTM

[2015-05-21 18:21] jonparrott commented on #19
:+1:

[2015-05-21 18:49] #19 closed

[2015-05-21 22:39] tmatsuo opened #30 "Add a description to the README that you need to create a dataset and table for running tests"

[2015-05-22 20:25] jeffmendoza commented on #7
Closed with #33

[2015-05-22 20:25] #7 closed

[2015-05-22 20:32] elibixby commented on #30
I would rather automate this as part of test setup + teardown.

[2015-05-22 23:21] tmatsuo opened #35 "Travis test is failing"

[2015-05-23 01:47] #35 closed

[2015-05-23 01:48] tmatsuo commented on #30
Ok, agreed. Let's create another issue.

[2015-05-23 01:48] #30 closed

[2015-05-23 01:50] tmatsuo opened #37 "Make the integration text runnable with your own project easily"
Specifically, if we automatically create the dataset and the table, I think we're good to go.

[2015-06-17 18:15] elibixby opened #38 "Export data to CSV sample"
Needed for docs.

[2015-06-19 17:20] elibixby opened #41 "Add doc strings to functions"

[2015-06-19 17:22] elibixby opened #42 "Export data to CSV sample"

[2015-06-19 17:22] #42 closed

[2015-06-19 17:22] elibixby opened #43 "Add 3LO Auth examples for python clients"

[2015-06-19 18:28] elibixby commented on #41
fixed in #44

[2015-06-19 18:28] #41 closed

[2015-06-30 21:51] elibixby opened #47 "Add testing for main functions in samples/"

[2015-07-01 22:10] elibixby opened #48 "Add RPC verification to bigquery tests"
Bigquery tests should at least verify that the right RPC is made.

[2015-07-20 15:37] jerjou commented on #43
Note: integration tests can be tricky, since 3LO requires user intervention to authorize tokens.

[2015-07-20 18:21] elibixby commented on #43
Is there an easy way to mock 3LO Flow? @jonparrott maybe has an idea?

[2015-07-20 18:26] jonparrott commented on #43
The oauth2 decorators in oauth2client are well tested by that library specifically. No need to re-tread that ground, just test that the following:

1. No credentials -> redirect to auth screen
2. Has credentials -> gets through to page

[2015-07-20 20:08] jerjou commented on #43
Yeah - how do you set up the has-credentials scenario? Do we just generate a refresh token for one of our accounts and put that in the repo? That sounds all kinds of sketch :)

[2015-07-20 20:09] jonparrott commented on #43
Fake one, and never *actually* use it.

[2015-07-20 20:19] jerjou commented on #43
Trouble is, if we want the test to be an integration test, we'll want the api call to actually be authenticated, so we can verify we're getting the expected (successful) response.
For unit tests, of course, we can mock to our heart's content.

[2015-07-20 20:23] jonparrott commented on #43
:/ well, hmm, we should either see if we can obtain a test account specifically for this, or only do the int test for 2lo.

[2015-07-20 20:50] elibixby commented on #43
Internally we have a way to get dummy accounts that don't last. Which I have been using to test my 3LO stuff. But this is a larger problem with Travis being on the other side of SSO.

[2015-07-29 19:22] jonparrott opened #62 "Confirm that coverage is working post-gae split"

[2015-07-29 19:24] jonparrott commented on #43
We'll have a good 3lo sample once the [Flask 3LO Helper](https://github.com/google/oauth2client/pull/226) is merged.

[2015-07-30 21:37] jonparrott commented on #62
Fixed.

[2015-07-30 21:37] #62 closed

[2015-08-31 19:35] jerjou opened #71 "Run tests under both python 2 and 3"
The CI tests should run under both python 2 and 3

[2015-09-02 22:35] jonparrott opened #75 "Can discoverydoccaching be deprecated?"
@tmatsuo in light of your contribution [here](https://github.com/google/google-api-python-client/pull/127), can we remove the `discoverydoccaching` sample?

[2015-09-02 22:50] #71 closed

[2015-09-02 23:38] tmatsuo commented on #75
Yes, let me see how soon we can release the next version.

[2015-09-02 23:40] jonparrott commented on #75
Great. Let me know when.

[2015-09-11 22:22] tmatsuo commented on #75
I've just released 1.4.2. https://github.com/google/google-api-python-client/pull/134

I'll start deprecating many things from next week.

[2015-09-11 22:24] jonparrott commented on #75
SGTM. We can close this issue when you're done.

[2015-09-14 17:38] tmatsuo commented on #75
Maybe I can simply replace the `discoverydoccaching` sample, with some texts explaining that it's not needed any more.

How does it sound?

[2015-09-14 17:41] jonparrott commented on #75
I'd like to remove the folder altogether, and the commit message can mention why it was removed. Not a fan of this repository accumulating historical cruft.

Was the sample linked from any documentation? That would be the only compelling reason I'd see to leave the folder around, and even then, I'd recommend we update the documentation and remove the folder.

[2015-09-14 17:50] tmatsuo commented on #75
Sounds good, will do.

[2015-09-14 17:55] jonparrott opened #79 "All appengine web tests should use webtest."

[2015-09-14 17:57] jonparrott opened #80 "All console-runnable samples should use better main pattern."
Instead of:

[code]

It should be

[code]

[2015-09-14 20:28] jonparrott commented on #47
See #80.

[2015-09-14 20:29] jonparrott commented on #38
@elibixby this hasn't been updated since june. Is this issue still valid?

[2015-09-14 21:50] waprin opened #85 "Tests use magic numbers"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/images/tests/test_guestbook.py

Code cleanup: HTTP requests should be named constants.

Others might feel that HTTP codes are well known enough to not be "magic". I think this would be slight code cleanup but if there's loud objections we can leave it as is.

httplib contains the constants so we can use those.

[2015-09-14 21:54] #75 closed

[2015-09-14 22:04] jonparrott opened #86 "There has got to be a better way to do bigquery/load_data_by_post"

[2015-09-14 22:06] tmatsuo opened #87 "Should we move `Testing` part in `README` to `CONTRIBUTING`?"
Most users don't need `Testing` section, but contributors do. How about to move the sections related to tests to CONTRIBUTING.md?

[2015-09-14 22:11] jonparrott commented on #87
SGTM, do you want to do the PR? I'm working on #80.

[2015-09-14 22:14] tmatsuo commented on #87
will do

[2015-09-14 22:23] elibixby commented on #38
It is, just low priority. Thanks for bumping.

[2015-09-14 22:24] elibixby commented on #47
Closing as duplicate of #80

[2015-09-14 22:24] #47 closed

[2015-09-14 22:32] jonparrott commented on #38
Alright, will leave open (trying to clean up this repo)

[2015-09-14 22:33] #87 closed

[2015-09-15 20:52] jonparrott opened #90 "Storage transfer samples need full integration tests"
The current tests for the storage transfer service mock everything, which isn't very useful in terms of ensuring the sample still works with the live API.

We need to come up with a plan to test these. The only one that might be difficult is the AWS one, as it will require us to have an AWS account.

[2015-09-15 20:53] jonparrott opened #91 "Storage transfer samples should follow main pattern established by the rest of the samples."
Notably, the samples should be executable from the command line without modification, and should accept parameters as command line arguments.

[2015-09-15 21:24] #80 closed

[2015-09-16 17:51] #79 closed

[2015-09-18 20:29] jonparrott commented on #38
The sample for exporting to cloud storage exports in CSV format. Is that not sufficient? If not, what exactly does this bug want?

[2015-09-18 20:30] jonparrott commented on #9
We're at 91% and I'll work to keep coverage above 90%. Closing.

[2015-09-18 20:30] #9 closed

[2015-09-18 20:30] jonparrott commented on #37
Instructions added to ``CONTRIBUTING.md`` to create necessary resources. Closing for now.

[2015-09-18 20:30] #37 closed

[2015-09-18 21:31] #91 closed

[2015-09-23 22:25] jerjou opened #107 "Add tests for appengine/datastore_namespaces app"

[2015-09-23 22:59] jonparrott opened #109 "Bring appengine/storage up to standards"

[2015-09-23 23:06] jonparrott opened #111 "Bring appengine/cloudsql up to standards"

[2015-09-23 23:17] waprin opened #113 "Bring appengine/multitenancy up to standards"

[2015-09-23 23:39] #107 closed

[2015-09-23 23:52] jonparrott opened #115 "Mark slow tests"

[2015-09-24 21:08] #115 closed

[2015-09-24 22:13] #109 closed

[2015-09-24 22:41] #111 closed

[2015-09-25 20:27] jerjou opened #121 "Bring appengine/i18n up to standards"

[2015-09-25 21:21] #113 closed

[2015-09-25 21:22] jonparrott opened #123 "Setup nightly builds to run slow tests."

[2015-09-28 16:14] jerjou opened #124 "Bring appengine/angular up to standards"

[2015-09-30 21:38] waprin commented on #123
Fixed tests on Jenkernetes, added @jonparrott and @jerjou to the email list. URL is still the same as the old URL (not public), migration to the new URL is still blocked by some secops stuff but should be done soon.

[2015-09-30 21:38] #123 closed

[2015-10-15 14:34] Falydoor opened #126 ""Empty or missing scope not allowed" in load_data_by_post"
Hello

I had an exception "Empty or missing scope not allowed" when running the sample **load_data_by_post**.

I fixed it by creating the scope after getting credentials :

    credentials = GoogleCredentials.get_application_default()
    scope = ['https://www.googleapis.com/auth/bigquery']
    credentials = credentials.create_scoped(scope)

Regards

[2015-10-15 19:09] jerjou commented on #126
Thanks for the bug report! I'm having trouble reproducing - the `discovery.build()` call in the line following, that creates the `bigquery` service object, should have filled in the scope for you (though what you did is perfectly valid as well).

Do you know what version of the google-api-python-client library you're using?
Also - what environment are you running the code in? (eg local dev, google

[2015-10-15 20:01] jonparrott commented on #126
It may be that because it's using the http client directly, instead of the service, that the proper scope isn't being used.

[2015-10-15 20:15] Falydoor commented on #126
I'm using the version 1.3.2 for the google-api-python-client and I'm on a local dev environment.
I'm loading data into my BigQuery project using this sample in python.

And I had other issues that I fixed by comparing the POST request who was made in the BigQuery web client and the one in this sample.

If you have time, you can check my commit [here](https://github.com/Falydoor/python-docs-samples

[2015-10-15 20:15] jerjou commented on #126
Oh weird. I guess it's only using the service object to poll for the job status. I wonder why the sample is working for me... anyway, will update.

[2015-10-15 20:16] jonparrott commented on #126
preferably, we should find a way to make this sample *not* use raw POST
request (this is a really ugly sample). I know I filed a bug for this
somewhere.

On Thu, Oct 15, 2015 at 1:15 PM Jerjou <notifications@github.com> wrote:

[2015-10-15 21:52] #126 closed

[2015-10-15 21:55] jerjou commented on #126
Okay- updated the sample to actually use the python sdk the way I had originally thought [it was being used](https://developers.google.com/api-client-library/python/guide/media_upload) ^_^; This should hopefully make the scope issue obsolete.

Will update the relevant doc as well.

[2015-10-16 17:11] Falydoor opened #129 ""Cannot load CSV data with a nested schema" with a JSON file in load_data_by_post"
Hello

With the new load_data_by_post, I'm not able to upload a JSON file and I have this error "Cannot load CSV data with a nested schema".

Sounds like the job expect a CSV not a JSON file so do I need to do something special ?

And I tested on the web client with my data/schema and it works fine, here the [schema](https://gist.github.com/Falydoor/200477dee839c84afc2a) and the [data](https://gis

[2015-10-16 17:19] jonparrott commented on #129
@jerjou do you mind checking this one out?

[2015-10-16 18:25] jerjou commented on #129
Oops - overlooked json data uploads. Thanks for catching that! PR pending..

[2015-10-16 18:30] #129 closed

[2015-10-16 18:34] jerjou commented on #129
Okay - should be fixed. Let us know if you run into any issues!

[2015-10-19 15:37] jerjou commented on #86
Haha - what were you thinking? You could do it synchronously as well, I believe, but I imagine that's not what you're getting at.

[2015-10-19 16:49] jonparrott commented on #86
I think you already solved this when you re-wrote the sample. Assigning it to you so you could confirm and close.

[2015-10-19 16:52] jerjou commented on #86
Oh right. Didn't look at the date on this.

[2015-10-19 16:52] #86 closed

[2015-10-29 11:16] tsilochr opened #134 "BiqQuery Streaming Insert example is different from official documentation"
According to BigQuery (BQ) API documentation, streaming insert (insertAll) input should be formed as
{"rows": [ {"insertId": "A String",
                 "json": {"a_key": ""},
               },
            ],
}

(see https://developers.google.com/resources/api-libraries/documentation/bigquery/v2/python/latest/bigquery_v2.tabledata.html)

whereas in the example  bigquery/api/streaming.py the input

[2015-10-29 21:53] jonparrott commented on #134
@jerjou can you take a look?

[2015-10-30 15:56] jerjou commented on #134
Should be fixed now. Thanks for the bug report!

[2015-10-30 15:56] #134 closed

[2015-10-31 00:45] jonparrott opened #137 "Cleanup App Engine readmes, deployment instructions, and module-level docstrings."

[2015-11-12 23:34] #137 closed

[2015-12-21 22:20] as1ndu opened #151 "Image app sample throws error 500."
Image app sample throws error 500 on signing in to guest book (local deploy)

[2015-12-22 16:28] waprin commented on #151
Thank you for the bug report, I have reproduced the issue, I am working on a fix now.

[2015-12-22 19:51] waprin commented on #151
@as1ndu Can you clarify a bit on the error? I originally had an error, but I have since installed PIL by doing
   sudo pip install pillow
and it fixed the issue. Let me know if something like that works for you. If that's the case we will update the docs.

[2016-01-06 00:18] waprin commented on #151
Closing due to lack of clarification, I will re-open if you can provide more info.

[2016-01-06 00:18] #151 closed

[2016-01-06 08:42] as1ndu commented on #151
Pillow  installation does not solve the issue

[2016-01-06 22:06] jonparrott opened #154 "Updated Managed VMs custom sample with new runtime"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/managed_vms/hello_world_custom/Dockerfile

[2016-01-19 18:19] #154 closed

[2016-01-25 20:38] bkovacev commented on #124
@jerjou When do you think this will occur?

[2016-01-25 22:09] jerjou commented on #124
Mostly this is a reminder bug to add integration tests and audit for pep8 style compliance. It's fairly low priority at the moment, but shouldn't stop you from using the sample if you'd like. ie there shouldn't be anything functionally incorrect about it or anything.

If you have reason for it to be of higher priority, do let us know, so we can take that into consideration!

[2016-01-29 23:04] lesv opened #159 "CloudSQL / Datastore samples should record only first two octtets of IP"
Principle of keeping only required data.

[2016-02-03 18:49] jonparrott opened #166 "Datastore API samples need requirements.txt"

[2016-02-03 18:49] #159 closed

[2016-02-03 20:09] WalterHub opened #168 "datastore/api/tasks.py delete_command calls mark_done"
Needs to call delete_task

[2016-02-10 17:08] #166 closed

[2016-02-12 22:50] #168 closed

[2016-02-12 22:50] #48 closed

[2016-02-12 22:52] jonparrott opened #179 "Figure out a way to test the django samples"
The django apps don't like being imported as part of a larger package, apparently. We need to either find a way for the apps to play nice with nose or figure out a way to get nose and coverage to cooperate if we remove all of the packages.

[2016-02-12 22:52] jonparrott opened #180 "managed_vms/analytics needs tests"

[2016-02-12 22:52] jonparrott opened #181 "managed_vms/mailgun needs tests"

[2016-02-12 22:52] jonparrott opened #182 "managed_vms/sengrid needs tests"

[2016-02-12 22:53] jonparrott opened #183 "managed_vms/twilio needs tests"

[2016-02-17 22:16] jonparrott commented on #38
Closing this. Feel free to re-open.

[2016-02-22 18:13] jonparrott opened #198 "Move datastore key filters to use Query.key_filter()"

[2016-02-25 18:44] #38 closed

[2016-03-02 18:57] jonparrott opened #212 "Managed VMs flask samples should have an error handler"

[2016-03-04 17:51] jonparrott opened #215 "Update managed_vms/django_cloudsql sample to use cloud sql proxy"
(You're also free to punt this until the proxy has a better UX)

[2016-03-16 20:38] waprin opened #224 "Remove hardcoded sub-project from monitoring tests"

[2016-03-16 20:39] waprin commented on #224
@jonparrott fyi

[2016-03-17 19:13] peaton opened #227 "Use metric.type instead of metric.name"
With recent changes in the alpha Monitoring API, code should be migrated to use metric.type instead of metric.name when interacting with MetricDescriptors and in filters.

[2016-03-17 20:32] #227 closed

[2016-03-22 23:30] waprin opened #229 "Monitoring tests are flaky"
Make them less flaky and wrap them in flaky wrappers.

@jonparrott fyi since Travis is flaky atm.

[2016-03-25 19:37] jerjou opened #232 "Write tests for speech sample"

[2016-03-25 22:28] #232 closed

[2016-03-29 03:41] #229 closed

[2016-03-29 19:28] jonparrott commented on #224
This is closed now, yeah? @waprin

[2016-03-29 19:28] jonparrott commented on #179
This is now possible with the py.test and nox setup, so we should do this soon.

[2016-03-29 19:29] jonparrott opened #236 "Speech API samples need to be added to nox.py and .coveragerc"

[2016-03-31 23:28] #224 closed

[2016-04-04 17:35] #236 closed

[2016-04-04 19:02] sharbison3 opened #238 "Monitoring v3 custom_metrics timeout"
The first call to write a data point in a new metric takes some time. When I ran the sample on my personal account, the read-time-series call timed out with an error ("no metric with that name" I think). The work-around is to run the sample program again, but better would be for the program to automatically retry the read-time-series method a few times if it fails.

[2016-04-04 19:28] waprin commented on #238
Ok, the tradeoff is the code gets a little less readable but you're right, I'll do this.

[2016-04-06 20:05] waprin opened #242 "Fix Travis on PRs"
Run all the tests that don't require credentials but skip ones that do.

[2016-04-07 05:47] gtaylor opened #244 "Wrong project ID when running cloud monitoring custom metrics sample"
Trying to run this sample:
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/monitoring/api/v3/custom_metric.py

Command is:
[code]
Output is:
[code]
It's tossing out a weird project ID, so when I follow the link I get something odd:
![image](https://cloud.githubusercontent.com/assets/75556/14341742/44b853d2-fc49-11e5-9b97-b37a3aa46d00.png)
Seems like it's got me in some inval

[2016-04-07 05:55] waprin commented on #244
Use `gcloud beta auth application-default login` instead of `gcloud auth login`.

It's a long story, but the short one is that monitoring is a unique API in that the project _making_ the project is billed, so gcloud auth login does not provide the correct credentials. The new command is designed to fix it, and eventually will be recommended for all local code samples (gcloud auth login will only b

[2016-04-07 05:57] gtaylor commented on #244
Using your suggested beta equivalent seems to have fixed things. Thanks!

[2016-04-07 05:59] waprin commented on #244
Cool, @gtaylor just FYI some other APIs might not work with the beta command and will need `gcloud auth login`. We realize this is a messy story right now, trying to fix it up. The most reliabiable, consistent way to make sure this works is to create a service account and download a JSON key file and point GOOGLE_APPLICATION_CREDENTIALS environment variable to the key file. Just a heads up.

[2016-04-07 05:59] #244 closed

[2016-04-07 06:00] gtaylor commented on #244
Thanks, I might go on ahead and do that.

[2016-04-11 16:48] jerjou opened #246 "Speech api streaming sample doesn't support python 3"
This is a consequence of the underlying grpc lib not supporting it yet:

https://github.com/grpc/grpc/issues/282

Once grpc supports it, we should un-skip the test in [speech_streaming_test](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api/speech_streaming_test.py#L56)

[2016-04-12 21:10] jeffmendoza opened #254 "appengine/taskqueue/pull-counter Needs Worker Tests"
The app in appengine/taskqueue/pull-counter has a worker that is run as a separate module using the worker.yaml. It listens on /_ah/start and then enters an infinite loop pulling from the pull taskqueue and pushing to datastore.

Currently the test just tests the post and addition to the queue, but not the worker function.

[2016-04-15 23:28] waprin commented on #242
I think I imagined an issue that doesn't exist.

[2016-04-15 23:28] #242 closed

[2016-04-21 13:10] rimey opened #269 "create_custom_metric() shouldn't send "name""
The sample code for creating a custom metric ([create_custom_metric()](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/monitoring/api/v3/custom_metric.py#L62)) includes the `name` field in the request body. It shouldn't. The service ignores this field in the request (but includes it in the response).

[2016-04-22 20:30] jonparrott opened #276 "compute/api/create_instance should use image families"
https://cloud.google.com/compute/docs/reference/beta/images/getFromFamily

This ensures that the latest debian image is used.

[2016-04-25 16:55] jonparrott opened #277 "Update dns samples to use easier DNS api methods"
https://github.com/GoogleCloudPlatform/gcloud-python/releases/tag/0.12.1

[2016-04-26 05:05] tmatsuo opened #281 "Write a real test for encryption sample code"
[The current test](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/compute/encryption/generate_wrapped_rsa_key_test.py#L17) just invokes the function, but it's very nice if the test actually check if one of the operations described in [the doc](https://cloud.google.com/compute/docs/disks/customer-supplied-encryption).

For example, you can invoke:
[code]
with the file create

[2016-04-26 19:31] SurferJeffAtGoogle opened #283 "gcp-python-repo-tools installation fails."
Following the instructions here:
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/TESTING.md

rennie@rennie:~/gitrepos/python-docs-samples$ sudo pip install --upgrade nox-automation pip gcp-python-repo-tools
[sudo] password for rennie:
Downloading/unpacking nox-automation
  Downloading nox-automation-0.2.1.tar.gz
  Running setup.py (path:/tmp/pip_build_root/nox-automation/set

[2016-04-26 19:36] jonparrott commented on #283
Fixed by c697937967be24

You just need nox.

[2016-04-26 19:36] #283 closed

[2016-04-26 19:54] janderse opened #284 "Typo in Speech API README.md"
In https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api/README.md

This:
pip install requirements-speech_rest.txt
pip install requirements-speech_streaming.txt

Should be:
pip install -r requirements-speech_rest.txt
pip install -r requirements-speech_streaming.txt

[2016-04-28 20:49] broady opened #305 "managed_vms/endpoints: fix lint errors"
https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/126491131

[2016-04-28 20:49] broady commented on #305
`./managed_vms/endpoints/clients/google-id-token-client.py:24:1: I100 Import statements are in the wrong order. from oauth2client.file should be before from oauth2client.tools`

[2016-04-28 20:56] jerjou commented on #305
Fixed in #304

[2016-04-28 20:56] #305 closed

[2016-04-28 21:05] #284 closed

[2016-04-29 02:48] broady opened #310 "Problem running endpoints oauth client"
[code]

[2016-04-29 02:49] broady commented on #310
I was running the wrong client. D'oh.

[2016-04-29 02:49] #310 closed

[2016-04-29 13:28] speedplane opened #312 "Complete Python Sample Code for Logging API"
Most languages have sample code for writing to the Logging API, [such as Node.js](https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/logging/write.js).

However [the Python sample code](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/cloud_logging/api/list_logs.py) only has sample code for reading the logging API, not writing to it.  Notice also that ther

[2016-04-29 17:04] waprin commented on #312
The reason there is not much sample code is that the idea is that you setup the fluentd logging agent (which is automatically setup on App Engine Flexible and for which we include instructions on GCE), and after that point you use standard Python logging. However you raise a valid point that the documentation is a little bit all over the place and a few more samples wouldn't hurt so I'll look into

[2016-04-29 20:21] speedplane commented on #312
Thanks @waprin.

I recently moved to the Flexible environment from App Engine Classic. Unfortunately, as a result, my logs are no longer nested within each request. The logs are all denormalized and it is difficult to track which error log goes to which request.

When I posted this on SO, [I was told that](http://stackoverflow.com/questions/36883027/logs-are-not-nested-under-requests-in-flexible-v

[2016-04-29 20:28] jonparrott commented on #312
See also: https://github.com/GoogleCloudPlatform/gcloud-python/issues/1497

[2016-05-03 18:01] waprin opened #317 "README is still confusing"
While we don't expect the end-users to run the tests, we can probably still have better documentation explaining how to if they want to. Most people who were helping with recent sample migration needed help, so a few more examples in the TESTING.md will prob help.

[2016-05-03 19:24] #212 closed

[2016-05-05 20:14] #269 closed

[2016-05-05 20:15] waprin opened #329 "managed_vms -> flexible rename"
@jonparrott I assume you've already given this some thought, have to update all the doc links.

[2016-05-05 20:18] jonparrott commented on #329
Yeah that's the only blocker. Thanks for filing the bug.

[2016-05-06 19:27] jonparrott commented on #312
@speedplane while we do plan to eventually provide a logger that goes directly to cloud logging as mentioned in GoogleCloudPlatform/gcloud-python#1497, the bundling feature is to be determined.

App Engine Standard's serving path and sandbox restrictions allowed us to easily associate a request with associated logs. This is much more complicated in Flexible, so at the moment it's not currently pos

[2016-05-09 18:32] #198 closed

[2016-05-11 05:00] heroddaji opened #344 "[Speech] speech_streaming.py code does not worl"
Hello,

I am testing the new google cloud speech api on **raspberry-pi2**, I have access to the beta and have the json key ready.

I can run the file **speech_rest.py** and get the result, like this:

But for the **streaming version** (we need this for our product), I encountered error.
I follow all the requirement by install package gcloud, grpcio, PyAudio, grpc-google-cloud-speech. All of the pa

[2016-05-11 16:44] jonparrott commented on #344
@jerjou can you take a look here?

[2016-05-11 16:44] #281 closed

[2016-05-11 17:13] #276 closed

[2016-05-11 17:13] #277 closed

[2016-05-11 17:59] jerjou commented on #344
Hm... looks like a grpc on ARM thing. A quick search turns up [this bug](https://github.com/grpc/grpc/issues/5497), which seems to indicate that grpc has a fix. Try replacing `grpcio==0.14.0rc1` in `requirements-speech_streaming.txt` with `git+https://github.com/grpc/grpc.git#egg=grpcio` and do the `pip install -r requirements-speech_streaming.txt` again (you might have to `pip uninstall grpcio` f

[2016-05-13 05:50] heroddaji commented on #344
thanks for your help,
i try it, now i got this error
[code]

quick google search shows me this link: https://github.com/grpc/grpc/issues/6083
seem like another problem in grpc.

Can you give me more advices?

[2016-05-13 17:43] jonparrott commented on #90
I'm closing this for now, it doesn't seem feasible to test these right now.

[2016-05-13 17:43] #90 closed

[2016-05-13 18:09] waprin opened #347 "Modules App Engine sample needs better docs"
Based on internal feedback, how to deploy the sample is not obvious.

[2016-05-16 08:05] heroddaji commented on #344
This is my new requirement file

Then I go to the grpcio src folder, issue command:
`#git submodule update --init`

After that, I issue command:
`#pip install -r requirements-speech_streaming.txt`

And this is the error:

third_party/boringssl/crypto/asn1/../internal.h:121:22: fatal error: stdalign.h: No such file or directory
compilation terminated.

Any advices?

[2016-05-16 20:07] #254 closed

[2016-05-16 20:07] #180 closed

[2016-05-18 20:21] #183 closed

[2016-05-18 20:54] #182 closed

[2016-05-18 21:10] #181 closed

[2016-05-23 02:21] heroddaji commented on #344
anyone?

[2016-05-24 20:18] bmyerz opened #359 "Transfer service: http to gs bucket"
How do I set up a transfer from an HTTP URL to a bucket? There are only samples for amazon-google and google-google.

https://cloud.google.com/storage/transfer/create-manage-transfer-program

[2016-05-24 22:23] jonparrott commented on #359
It seems like it's just using `httpDataSource` in place of `gcsDataSource`.

[code]

We can put this on our list of new samples to add, but if you want to make a sample and contribute it I'll be happy to review.

[2016-05-25 20:18] arouzrokh opened #360 "update managed_vm naming to flexible everywhere"
Thanks! :)

[2016-05-25 20:20] jonparrott commented on #360
Duplicate of #329

[2016-05-25 20:20] #360 closed

[2016-05-27 18:25] #329 closed

[2016-05-29 03:25] httpdss commented on #344
@heroddaji found the solution: make sure you are using gcc 4.7

to make gcc 4.7 the default compiler con raspbian follow this link:

http://www.rpiblog.com/2014/07/installing-gcc-on-raspberry-pi.html

hope this helps!

[2016-05-30 01:00] heroddaji commented on #344
Thank you, i will try that and let you know the result soon

[2016-05-30 05:37] heroddaji commented on #344
Finally can compile all the dependencies for the `speech_streaming.py`, thank you @httpdss
The next issue is... I have errors when running the `speech_streaming.py`

So what I did is plugin the camera with mic build-in, and talk after I execute the program.
I ran it on my raspberry pi3, and this is the error. ( i believe I have all the alsa driver install)

Pls help me again, thank you all

I0530

[2016-05-30 05:39] heroddaji commented on #344
Also, when I run the code on MacOS, I got this error message (it hangs for a while before showing the error message)

  File "speech_streaming.py", line 145, in <module>
    main()
  File "speech_streaming.py", line 137, in main
    service.Recognize(request_stream(stop_audio), DEADLINE_SECS))
  File "speech_streaming.py", line 114, in listen_print_loop
    for resp in recognize_stream:
  File "/L

[2016-05-30 12:02] heroddaji commented on #344
After fixing the audio driver, I got a new error, the special part is google error. Any help?

  File "speech_streaming.py", line 145, in <module>
    main()
  File "speech_streaming.py", line 137, in main
    service.Recognize(request_stream(stop_audio), DEADLINE_SECS))
  File "speech_streaming.py", line 114, in listen_print_loop
    for resp in recognize_stream:
  File "/usr/local/lib/python2.7/

[2016-05-30 13:31] httpdss commented on #344
@heroddaji im suffering the same issue. battled with it all weekend, but i didnt get to the solution. if you have any info, please let me know. thx

[2016-05-31 10:01] hir3npatel opened #363 "cloud logging python client docs link 404"
Hi,

From:
https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/cloud_logging

There is a link listed for the python cloud logging client docs:
https://developers.google.com/resources/api-libraries/documentation/logging/v1beta3/python/latest/

which is a broken 404 link.

[2016-06-01 10:52] heroddaji commented on #344
Any Google employee can help?
because my speech api trial is expired, that why I have the problem of connecting to google server?

E0530 20:59:11.030871346 3377 tcp_client_posix.c:191] failed to connect to 'ipv4:216.58.197.138:443': timeout occurred

[2016-06-01 17:46] #363 closed

[2016-06-02 01:07] heroddaji commented on #344
So at this moment, all the test file work, my audio device also working fine. Nothing wrong.
But when I tried the "speech_streaming.py", I always receive this error:

Pls give some feedback

  File "speech_streaming.py", line 145, in <module>
    main()
  File "speech_streaming.py", line 137, in main
    service.Recognize(request_stream(stop_audio), DEADLINE_SECS))
  File "speech_streaming.py", li

[2016-06-02 20:38] erichuang2013 opened #364 "speech_streaming.py got Error from server: Audio data is being streamed too fast."
When running python-docs-samples/speech/api/speech_streaming.py,  always got the same error from the server after connection is fired. Computer environment is windows 10 w/ ptyhon 2.7.11.

[2016-06-02 21:08] jerjou commented on #344
Sorry - I've been at a conference these past couple of days..

Yeah - the LocalError is thrown when there's some error within one of the threads that the grpc client library spins up for the streaming process. For some reason the grpc library swallows the original exception, so it's not shown in the stack trace - and instead you get the generic LocalError.

I've been getting around it using brute

[2016-06-02 21:50] jerjou commented on #364
Hello- can you paste in the command-line you're using to invoke the script?

[2016-06-02 22:04] erichuang2013 commented on #364
C:\Users\Eric\Downloads\chrome\python-docs-samples\speech\api>python speech_streaming.py
[transcript: "hi"
]
Traceback (most recent call last):
  File "speech_streaming.py", line 146, in <module>
    main()
  File "speech_streaming.py", line 138, in main
    service.Recognize(request_stream(stop_audio), DEADLINE_SECS))
  File "speech_streaming.py", line 116, in listen_print_loop
    raise RuntimeE

[2016-06-03 05:05] heroddaji commented on #344
well, this is not my code, this is the google sample code...
anyway, i will try to add logging everywhere

[2016-06-04 01:14] jerjou commented on #344
Right - but it's still helpful to know where exactly the problem is occurring. For example, perhaps there's a permissions problem accessing the audio interface, or perhaps the pyAudio library doesn't have support for some device or platform, or perhaps there's some assumption I made when writing the sample that isn't valid on your setup.

Whatever it is, we need to figure out where the problem is

[2016-06-04 03:44] httpdss commented on #344
@heroddaji got it working with some exception handling. check if it works for you too:

https://gist.github.com/httpdss/c116b4b3a056e350d9f4ed4ae6325270

[2016-06-07 04:49] heroddaji commented on #344
Thank you @httpdss .
Can you show me the output result?

I follow your code and test on my rpi2 again.
I get some error like this during the rec
`[Errno -9981] Input overflowed`
within this area (i added the exception handling)
[code]

[2016-06-07 06:55] heroddaji commented on #344
ok, so I got the code to work on my mac machine (still has input overflowed randomly)
so the code is not really stable.

on the rpi, i still have the input overflowed, it might the rpi limitation, i'm not sure.
I read on stackoverflow, that to avoid the input overflow error, use a callback when reading audio chunk from pyaudio, i will try that.

If you have code using callback, pls let me know as

[2016-06-09 02:30] httpdss commented on #344
@heroddaji dont have any callback example. one thing i forgot to mention is that playing arround with rate, channels and chunks was also part of the solution cuz i was getting a message that i wasnt streaming the data in realtime or something like that. check which is your mic rate using arecord and change the params based on that info.

[2016-06-09 02:42] heroddaji commented on #344
Thx, any way some time it works, some time it shows error, and on rpi it seems the combination of
(audio driver problem on pi) + (unstable google sample result) = nothing  work for me.
My boss got fed up and ask me to switch to use vision api for another project.

So to recap:
this problem somewhat has been solved, you can close it.

For other:
I think the most frustrating for me is to install the

[2016-06-09 02:42] #344 closed

[2016-06-09 18:36] niravmerchant opened #372 "missing Python namespace example"
This page:

https://cloud.google.com/appengine/docs/python/multitenancy/#Python_Building_a_multitenant_application_with_the_Namespaces_API

refers to a Python Namespacing example with this link:

https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/multitenancy

Python App Engine: appengine-multitenancy – A namespace-aware sample guestbook application.

and that link 40

[2016-06-09 19:05] jonparrott commented on #372
@waprin likely something you missed when you moved /appengine to /appengine/standard ?

[2016-06-09 19:58] waprin commented on #372
Yep ty I'll fix it.

[2016-06-10 18:45] waprin commented on #372
Ty again for report, fix is submitted, will be live next time our docs are published.

[2016-06-10 18:45] #372 closed

[2016-06-10 19:09] waprin commented on #317
Also fix datastore README

[2016-06-11 23:47] kotobuki commented on #364
I reproduced same issue with Python 2.7.11 on MacOS 10.11.5 as follows (in this case, I said 'my name is Shigeru'):

[code]

In my environment, this occurs with a probability of one thirds.

[2016-06-12 08:00] kotobuki opened #374 "speech_streaming.py got an error on a Raspberry Pi"
I got an error on a Raspberry Pi (Raspberry Pi 2 Model B, Raspbian Jessie May 2016) as follows. I could run the example successfully only once, but fails in many cases due to same error.

[code]

I confirmed that the following example works as expected, so the hardware (i.e. a USB microphone) and the PyAudio library seems to be fine.

https://gist.github.com/kotobuki/f8e7ca76186a6b575c9bf1e86bed5e

[2016-06-17 13:52] dariocazzani opened #379 "Segmentation Fault inside (probably) make_channel"
I am testing the performances of this STT engine and others in my app.
I am using Ubuntu 14.04
After 4 requests of transcription (streaming mode), I always get Segmentation Fault.

[2016-06-17 18:58] waprin commented on #379
Sorry, what's STT?

[2016-06-18 06:04] dariocazzani commented on #379
Google Speech API. In other words, this repo

[2016-06-20 17:57] jerjou commented on #379
Ah - "speech to text".
This repo contains samples for the whole of the Google Cloud Platform (ie not just the speech api), so it's hard to decipher acronyms without context.

Are you hitting the [one-minute mark](https://cloud.google.com/speech/docs/best-practices#usage_limits) in your testing? If not, it'd be helpful to get some details on what platform you're using, and a [paste](https://gist.gi

[2016-06-27 22:46] jonparrott opened #387 "Update sendgrid samples"

[2016-06-27 23:37] nrifel commented on #374
+1 exact same problem here. Maybe the python generator returned by `service.Recognize(request_stream(stop_audio), DEADLINE_SECS))` has some sort of issue with iteration? Or is this even a normal python generator? Looking through the stub code was not enlightening.

[2016-06-27 23:47] jerjou commented on #374
Yeah - the stub code isn't great.
Usually when I hit a LocalError, it meant that some exception was being thrown in the background thread - ie the thread that generates `RecognizeRequests`. Unfortunately there's a bug in grpc that swallows the actual exception, so you'll get a LocalError for all sorts of things that go wrong.

You might try creating a recognize_stream manually and iterating throug

[2016-06-29 02:06] nrifel commented on #374
Since it was not mentioned in the speech/api README, I neglected to install the requirements from `requirements-python2.7-dev.txt` at the top level of the `python-docs-samples` repo.

After installing all of the requirements, I discovered something else...  When `grpcio==0.14.0` was installed (as per the requirements file) the type returned by `service.Recognize()` is `"grpc.framework.crust._contr

[2016-06-30 04:04] jonparrott opened #393 "Fix jobId parameter in bigquery sample"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/api/async_query.py#L41 should be `jobId` as the API expects camelcase.

[2016-06-30 20:07] waprin opened #395 "Mark tests that require creds"
So Travis can run all the other tests,

[2016-06-30 20:07] broady opened #396 "endpoints: add /auth/info/firebase endpoint"
This one needs CORS headers.

See sample implementation here:
https://github.com/GoogleCloudPlatform/golang-samples/blob/master/docs/managed_vms/endpoints/app.go

and copy the new swagger file:
https://github.com/GoogleCloudPlatform/golang-samples/blob/master/docs/managed_vms/endpoints/swagger.yaml

[2016-06-30 20:10] jonparrott commented on #396
MMMkay.

[2016-06-30 20:11] broady commented on #396
thank ye!

[2016-07-01 21:00] #396 closed

[2016-07-05 15:51] raphael0202 opened #403 "speech_streaming tests do not pass"
After installing the required dependencies, the tests of the streaming Speech API don't pass. The live speech recognition (speech_streaming.py) also don't work: no error is raised, but no response from the Google Cloud server is received, even if Streaming RecognizeRequest are sent regularly.

(googlecloud) raphael@debian-raphael:~/Documents/Projets/ZebrIA/python-docs-samples/speech/api$ python -m

[2016-07-06 16:41] jonparrott commented on #403
We merged a version of the sample that was using an internal-only version of the API. We've reverted that change. Can you try this again with the latest code?

[2016-07-06 19:19] #387 closed

[2016-07-06 19:19] jonparrott commented on #403
(closing, but feel free to respond and I'll re-open if needed)

[2016-07-06 21:00] raphael0202 commented on #403
An import error occurs, because in speech_streaming.py, the module name was not corrected during the import.
from google.cloud.speech.v1beta1 import cloud_speech_pb2 as cloud_speech
instead of google.cloud.speech.v1

After fixing this ImportError, I get another one:

(googlecloud) raphael@debian-raphael:~/ZebrIA/python-docs-samples/speech/api$ python -m pytest speech_streaming_test.py
============

[2016-07-06 21:03] jonparrott commented on #403
I can't debug any further, @xinjiez @jerjou any ideas?

(jerjou is ostensibly out until mid-next week, but ccing him just in case)

[2016-07-06 21:03] jonparrott commented on #403
@puneith as well.

[2016-07-06 21:19] jonparrott commented on #403
@raphael0202 does the sample itself work if you run it directly?

[2016-07-06 21:23] raphael0202 commented on #403
@jonparrott I have the same error if I run speech_streaming.py directly:

Traceback (most recent call last):
  File "speech_streaming.py", line 147, in <module>
    main()
  File "speech_streaming.py", line 139, in main
    service.Recognize(request_stream(stop_audio), DEADLINE_SECS))
  File "/home/raphael/.virtualenvs/googlecloud/local/lib/python2.7/site-packages/grpc/beta/_stub.py", line 57, in

[2016-07-06 21:25] jonparrott commented on #403
Great, just making sure. And you are on the latest HEAD of master, right?

[2016-07-06 21:31] xinjiez commented on #403
Could you please do this
pip install -r requirements-speech_grpc.txt

and use google.cloud.speech.v1 instead of google.cloud.speech.v1beta1 and see if it fixes the problem?

Because we rollback please refer to the original README and run the instructions again. Sorry for the inconvenience.

Thanks.

[2016-07-06 21:31] raphael0202 commented on #403
Yes, latest HEAD on master branch. Did you manage to reproduce the bug?
By the way, I don't know if you previously noticed this info in my previous message, but I had to manually fix an ImportError in speech_streaming.py:

Traceback (most recent call last):
  File "speech_streaming.py", line 22, in <module>
    from google.cloud.speech.v1 import cloud_speech_pb2 as cloud_speech
ImportError: No mod

[2016-07-06 21:37] raphael0202 commented on #403
Ok, I used `pip install -r requirements-speech_grpc.txt`, nothing seemed to be installed or updated:

Requirement already satisfied (use --upgrade to upgrade): gcloud==0.17.0 in /home/raphael/.virtualenvs/googlecloud/lib/python2.7/site-packages (from -r requirements-speech_grpc.txt (line 1))
Requirement already satisfied (use --upgrade to upgrade): grpcio==0.14.0 in /home/raphael/.virtualenvs/goog

[2016-07-06 21:38] jonparrott commented on #403
It did install installed `grpc-google-cloud-speech-1.0.4`. So is this resolved?

[2016-07-06 21:38] #403 closed

[2016-07-06 22:11] raphael0202 commented on #403
Yes indeed. And yes this is resolved. Thanks!

[2016-07-13 01:54] mark4in opened #414 "speech_streaming.py ERROR - something related to GPRC I suppose"
D0712 23:18:44.320062112    2197 ev_posix.c:101]             Using polling engine: poll
Traceback (most recent call last):
  File "speech_streaming.py", line 147, in <module>
    main()
  File "speech_streaming.py", line 139, in main
    service.Recognize(request_stream(stop_audio), DEADLINE_SECS))
  File "/usr/local/lib/python2.7/dist-packages/grpc/beta/_client_adaptations.py", line 539, in __get

[2016-07-13 17:02] jonparrott commented on #414
This should now be resolved, can you update your copy and try again?

/cc @xinjiez

[2016-07-13 17:02] #414 closed

[2016-07-13 18:20] jerjou commented on #379
Closing for now. Feel free to reopen with more details!

[2016-07-13 18:20] #379 closed

[2016-07-13 19:09] jerjou commented on #364
Hm... when I've encountered this error, it's been because the sample rate I specified was different from the actual sample rate that my mic was sampling at. If you're running the sample unmodified, though, it should be specifying the sample rate when it opens the device, and passing that same rate to the api in the initial request..

Perhaps the given rate (16000) isn't supported by your audio dev

[2016-07-14 00:52] jerjou commented on #374
FTR, `grpcio==0.15.0` appears to show the actual error, instead of the `LocalError`.

[2016-07-15 19:53] jonparrott commented on #246
@jerjou grpc should ostensibly support Python 3 now. Can we look into removing our hacks for this?

[2016-07-18 05:19] BalaExotel opened #424 "Speech API not working for some files"
Though speech_rest API worked correctly for the given resources, it returned null JSON everytime whenever I passed other audio files in raw format (16-bit, little endian, 16KHz)?

I've attached screenshot of the error. I've also attached that audio file as ZIP (Though the conversation is in another language, it has a few English words like "Hello" which I want to capture.).

![googlecloudasr](http

[2016-07-18 16:40] jonparrott commented on #424
@puneith or @jerjou can you take a look?

[2016-07-21 08:29] mitbeaver opened #427 "Secured Read Failed - FD Shutdown error on Async GRPC request"
I'm having issues with the async grpc reqest.  I have uploaded the audio raw file to GS under the project with the service account I'm using for authentication.

I'm able to access the file fine via gsutil and verified that the ACL seems to have the service account:

johndoe@xyz.com:~/google/python-docs-samples/speech/api$ gsutil cp gs://#####/audio.raw .
Copying gs://#####/audio.raw...
Downloadin

[2016-07-21 14:17] edesaintchamas commented on #424
Same issue:

The provided .raw files are working:
`$ python speech_rest.py resources/audio2.raw`
`{"results": [{"alternatives": [{"confidence": 0.97258663, "transcript": "the rain in Spain stays mainly on the plain"}]}]}`

But the provided FLAC does not
`$ python speech_rest.py resources/audio.flac`
`{}`

I also tried with voice samples I found online (https://archive.org/details/VoiceSample) I al

[2016-07-21 16:18] puneith commented on #424
Can you please edit the speech_rest.py file (in line 63) and change the encoding to "FLAC". I will open a ticket to make this configurable.

[2016-07-25 08:56] BalaExotel commented on #424
Hey,

I did NOT pass a FLAC filr.

I passed in a "raw" format file. It worked for the raw files in the
resources directory. When I passed our own 16-bit little endian 16 KHz
sampled raw audio file, it printed null set.

PFA the raw file. Thanks.

Balaraman Lakshmanan | Research Engineer | +91 9900531463
Website <http://exotel.in/> | We’re Hiring <http://exotel.in/about/careers/> |
Twitter <https:/

[2016-07-25 17:40] jerjou commented on #424
To be fair, I didn't understand the audio file either :-)

I think at least one of the main issues here is that it wasn't obvious that the api looks for english (US) by default if you don't specify the language. I'm updating the sample to explicitly state the language, and add a link to the config docs so you can look up other languages you can specify.

I realize you mentioned the audio wasn't in

[2016-07-25 18:05] jerjou commented on #427
It's probably not you being stupid :)
How are you [exposing](https://developers.google.com/identity/protocols/application-default-credentials#howtheywork) the service account to the script? Are you using the `GOOGLE_APPLICATION_CREDENTIALS` environment variable? If not, can you try using that?

[2016-07-25 23:34] edesaintchamas commented on #424
Hi @puneith @jerjou

Thanks for your answers. Got it working perfectly on my side!

[2016-07-26 05:51] BalaExotel commented on #424
Thanks for the detailed explanation. :)

I get your point on differentiating between "year" & "ear" based on
context. My interest is just to find "Hellos" inside these multi-lingual
recordings. Can that be done?

I will check with flac files and update you whether it works. Thanks again.

Balaraman Lakshmanan | Research Engineer | +91 9900531463
Website <http://exotel.in/> | We’re Hiring <http://e

[2016-07-26 18:23] puneith commented on #424
@BalaExotel Thanks for your comment. I checked the audio and see that its in Hindi. Adding further, we were able to get a non-null transcription when the language hindi was specified ( not perfect though because I hear a lot of noise in the audio). But, the challenge is that when we set the language to hi-IN (see here https://cloud.google.com/speech/docs/best-practices#language_support) we will no

[2016-07-26 19:58] jerjou commented on #424
@BalaExotel you might try using some higher-quality audio (eg less background noise) to see what results you can get, but I wouldn't rely on it at this time.

[2016-07-26 19:58] #424 closed

[2016-07-26 20:06] jerjou commented on #364
Closing this for now. Feel free to reopen if that doesn't solve it

[2016-07-26 20:06] #364 closed

[2016-07-27 05:44] heroddaji opened #430 "[Speech] Error - CancellationError(code=StatusCode.CANCELLED, details="")"
I got this error after everything setup:
I just run the example code of speech_streaming

`
I0727 05:42:15.039469042    6765 socket_utils_common_posix.c:196] Disabling AF_INET6 sockets because socket() failed.
I0727 05:42:15.209272924    6764 http_client_filter.c:97]    Unexpected content-type 'text/html; charset=UTF-8'
ERROR CancellationError(code=StatusCode.CANCELLED, details="")
E0727 05:42:15.

[2016-07-27 20:43] jerjou commented on #430
Can you include a little more detail about your environment? Are you on a mac or raspberry pi or linux on some other platform? I assume you're using python2? Are you in a virtualenv? Are you behind any sort of network proxy? Do you know at around what line you're encountering this error (you can try using `pdb` to step through, or just scatter `print` statements to narrow down where the error is t

[2016-07-29 05:49] puneith commented on #427
@mitbeaver Were you able to try @jerjou suggestion and make things work?

[2016-08-02 19:16] jerjou commented on #427
Closing this for now. Please re-open if you're still having this issue, and we can dig deeper.

[2016-08-02 19:16] #427 closed

[2016-08-03 18:15] jonparrott opened #437 "Re-organize speech api samples"
Currently apiary and grpc samples are in the sample folder. The structure should be updated to:

* /speech
  * /api-client
    * /requirements.txt
    * /main.py (or snippets.py)
  * /grpc
    * /requirements.txt
    * /main.py (or snippets.py)

[2016-08-05 19:53] mjgallow opened #441 "Can't get speech_asynch_rest.py to work with Google Cloud Storage to transcribe long audio files"
I'm probably being dense or missing something, but speech_asynch_rest.py doesn't seem to work with Google Cloud Storage, and I believe you have to use Google Cloud Storage to transcribe long audio files.
I tried to find an answer to this on my own, but so far no luck. Hopefully I'm posting my issue in the right place, and following your guidelines for reporting issues (I did look over the guidelin

[2016-08-07 08:24] #430 closed

[2016-08-08 05:17] heroddaji opened #442 "speech stop listening after few seconds"
So I manage to make speech works on my rpi3 using the sample code speech_streaming.py.
But I want my program always listen for a long period of time (days).

But the sample code seem to be able to listen for brief moment after it start-ups. I speak a few sentences, then I silent for a few secs, then in the transcript response, I will see the accuracy value. After that, the program stop listening,

[2016-08-08 18:26] jerjou commented on #442
Out of curiosity - what did you end up having to tweak to get things running on the rpi?

Take a look at the [usage limits](https://cloud.google.com/speech/limits). Basically, it'll only recognize for a minute at a time. What you could do is to [detect silences](http://stackoverflow.com/questions/2668442/detect-and-record-a-sound-with-python), and only start streaming audio to the api when there's

[2016-08-09 05:42] heroddaji commented on #442
thank you for your answer.
So when you say it'll only recognize for a minute, you mean at one time or many time?
- so can I speak many times during one minute and get recognized, or just one time, but with maximum speak duration of 1 minute?

[2016-08-12 09:16] smorodsky opened #448 "UrlFetchRpcHandler error"
I used in the project slightly modifying class UrlFetchRpcHandler (file /appengine/standard/urlfetch/async/rpc.py)
Approximately once every 100,000 requests to receive an unexpected error:

**UnboundLocalError: local variable 'result' referenced before assignment**

It looks like the problem of garbage collection. Completely solve the problem by adding at the beginning define of the line

**global

[2016-08-12 16:12] jonparrott commented on #448
Interesting. Do you happen to have a full stacktrace that you're willing to share with us?

[2016-08-12 17:04] puneith commented on #441
@mjgallow Can you please try the grpc version https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api/speech_async_grpc.py

[2016-08-15 08:04] smorodsky commented on #448
Sorry for the delay, please:

local variable 'result' referenced before assignment
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.5.2/webapp2.py", line 1535, in __call__
    rv = self.handle_exception(request, response, e)
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.5.2/webapp2.py",

[2016-08-15 23:23] jonparrott commented on #448
Do you mind sharing the `do_req` function's source with me?

[2016-08-16 12:53] smorodsky commented on #448
`  def do_req(self, url, headers):
    global result
    deadline = 9
    rpc = urlfetch.create_rpc(deadline = deadline)
    urlfetch.make_fetch_call(
        rpc              = rpc,
        url              = url,
        payload          = self.request.body,
        method           = self.request.method,
        headers          = headers,
        allow_truncated  = False,
        follow_redire

[2016-08-17 01:20] jonparrott commented on #448
@smorodsky I wrote more tests in #457 but I still can't reproduce this.

[2016-08-17 07:15] smorodsky commented on #448
I made 200,000 calls google.com and did not get a single shot. The server to which real requests are responsible slower. Obviously, this increases the likelihood of failure. Errors may be missing a few hours and then go to series. Probably at some point python begins cleanup and does it too aggressively.

If it would be helpful, I can add you to a real project. It consistently repeat this error.

[2016-08-17 16:31] jonparrott commented on #448
Sure - that might be helpful. It's strange though because the test cases I added should cover all failure paths.

[2016-08-17 20:23] jonparrott commented on #437
@jerjou @puneith bump?

[2016-08-18 15:41] smorodsky commented on #448
Excuse me, I'm an idiot.

In the original code, there is another block except, and it skipped return. I have many times check it this function, but i can not understand for what reason did not notice the bug. I'm really sorry, that gave rise to worry. Thank you.

[2016-08-18 15:41] #448 closed

[2016-08-18 17:08] jonparrott commented on #448
@smorodsky don't sweat it! At least I got some shiny new tests out of it. :)

[2016-08-24 02:22] #442 closed

[2016-08-24 02:27] heroddaji opened #475 "How to specify quotaUser upon Speech Streaming request"
Dear,

We have a requirement to limit per user usage of speech streaming recognition.
We want to limit by user identity "quotaUser" param as specified here:
https://support.google.com/cloud/answer/7035610?hl=en

So far I cannot find out how to do that from Cloud Speech API doc.
Could you please help me providing a sample code in python?
if it even better if you use speech_streaming.py example code

[2016-08-24 17:49] puneith commented on #475
@heroddaji Please take a loot at https://cloud.google.com/speech/limits to use the API appropriately.

[2016-08-24 22:06] jonparrott commented on #475
@heroddaji it doesn't appear our grpc clients currently expose the ability to do userquota, or if they do, it's very non-obvious how to do so.

[2016-08-25 02:19] puneith commented on #475
@heroddaji Support for the quotaUser is no longer available. If the request is authenticated, the user QPS limit applies to the actual user (Google user ID). Otherwise, client IP is used. Hope that helps.

[2016-08-25 04:08] heroddaji commented on #475
thank you, i have not yet fully understand the part "he user QPS limit applies to the actual user (Google user ID)".

In which situation this apply? because in our app, we will use our google_json_secret key (our id).  and distribute the app to user:
- Does this means the google_user is our account? Or do we need to have user to do authentication, for example using "oauth" to obtain their id and u

[2016-08-25 19:25] puneith commented on #475
@heroddaji Can you please give me details and specifics about how you are using or intend to use the speech api and distribute it to your users? I do get a sense from your previous comment, but I don't want to assume. Thanks.

[2016-08-25 19:26] jonparrott commented on #475
@heroddaji you shouldn't distribute your service account private key to end users. Client applications can't keep secrets, and private keys are intended for server-to-server communication.

[2016-08-26 05:27] abihc opened #484 "Cannot run speech streaming example now"
I could run the all speech api examples without any error until this morning, however, I got an error when I ran speech_streaming.py:

[code]

I tried to run it both on Ubuntu 16.04 and on OS X Yosemite, but the result was same.

Does anyone know the solution for this?

[2016-08-26 10:48] F324 commented on #484
I have the same issue and same error message with  sample code as well as with my own program.

Part of the error message:
grpc.framework.interfaces.face.face.AbortionError: AbortionError(code=StatusCode.INTERNAL, details="{"created":"@1472207486.837745000","description":"RST_STREAM","file":"src/core/ext/transport/chttp2/transport/frame_rst_stream.c","file_line":107,"http2_error":1}")
E0826 12:31:

[2016-08-30 09:06] jonghooy opened #487 "Google cloud speech - does not Python Example ( Streaming ) support multi-language?"
Regarding Python streaming example ( speech_streaming.py ) ,
when I test it in language "en-US", it works great. but found the alternatives.transcript is not right in case of language "ko-KR".
For example "안녕하세요 안녕하세요" in Korean,
The transcript returned are "[transcript: "\354\225\210\353\205\225\355\225\230\354\204\270\354\232\224 \354\225\210\353\205\225\355\225\230\354\204\270\354\232\224"]
It

[2016-08-30 17:44] jerjou commented on #487
Were you able to solve this?

[2016-09-05 16:46] tthong opened #498 "Speech Streaming Issue"
Hi all, I can run the samples just fine except for **speech_streaming.py**.

It will only allow up to the first _is_final=true_ result. Then it hangs for a minute or 2 before the following error is shown:

[code]
I'm running this on OSX Yosemite 10.10.5 and Python 2.7. Does anyone have any idea regarding the grpc error?

[2016-09-05 19:59] travisoneill opened #499 "Multiple services example for flexible environment"
You should have one.  It would have made my deployment a lot easier.  I will be happy to make a PR if it is something that you want to add.

[2016-09-06 15:27] maltem-za opened #500 "App Engine testrunner doesn't behave like docs suggest"
This is relatively minor - just something I noticed relating to [/appengine/standard/localtesting/runner.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/localtesting/runner.py)

The App Engine [Setting up a testing framework](https://cloud.google.com/appengine/docs/python/tools/localunittesting#Python_Setting_up_a_testing_framework) documentation state

[2016-09-06 16:24] jonparrott commented on #500
This is a great bug report. Thank you, I'll investigate shortly.

[2016-09-06 16:24] jonparrott commented on #499
Sounds like a great idea. It seems like I'd like to schedule this as something to do before App Engine flex goes GA. 👍

[2016-09-06 17:59] jerjou commented on #246
I believe this was addressed in #462

[2016-09-06 17:59] #246 closed

[2016-09-06 18:58] jerjou commented on #437
On it

[2016-09-07 14:30] maltem-za opened #503 "App Engine testrunner should exit with a non-zero exit code when tests fail"
This doesn't seem significant enough for me to want to fill out a CLA... / please add this.

I'm trying out [Bitbucket Pipelines](https://confluence.atlassian.com/bitbucket/bitbucket-pipelines-beta-792496469.html) and noticed that my builds were passing even though tests were failing. This is due to the fact that the testrunner always exits with code 0 ([someone else had a similar problem with PHP

[2016-09-07 16:54] #437 closed

[2016-09-07 16:54] jonparrott commented on #503
Thanks! I'll address this at the same time as #500.

[2016-09-07 17:47] #500 closed

[2016-09-07 17:47] #503 closed

[2016-09-07 19:09] jerjou commented on #498
Ah - probably because `single_utterance` is set to True. I wonder why I did that... (anyway, remove it and it should continue transcribing. I'll investigate why I put it there, and if it was for a dumb reason, I'll remove it)

[2016-09-07 22:13] jerjou commented on #484
Unfortunately, this isn't really the best place to report service-level issues (like this appears to be) - this issue tracker is for issues with the sample code itself, and while we do try to address whatever gets reported to us as we have opportunity (we too feel your pain), we're often not the best equipped for that sort of thing.

Anyway, it looks like the script runs as expected right now. In

[2016-09-07 22:13] #484 closed

[2016-09-07 22:27] #498 closed

[2016-09-07 22:28] jerjou commented on #498
Closing for now. Please reopen if that doesn't fix the issue.

[2016-09-08 21:48] travisoneill commented on #499
Opened up a PR.  I included Express servers in the architecture as well so it could be useful as an example of how to deploy multiple runtimes in one repo as well too.  Would you like me to keep that structure or use Python only since this is the Python docs repo?

[2016-09-08 21:51] jonparrott commented on #499
I think it would be best to stick to Python as we're not setup to appropriately test node.js in this repo.

[2016-09-08 21:57] travisoneill commented on #499
Will switch it over.

[2016-09-08 22:02] travisoneill commented on #499
Also, is there a repo for the code that handles python in the Google Cloud Shell?  You guys have some missing parens on print calls that throw syntax errors (but no lost functionality) on almost every line when running in a python 3 virtual environment.

[2016-09-08 22:04] jonparrott commented on #499
Do you have a stacktrace? I can hand it off to the appropriate team.

[2016-09-08 22:15] travisoneill commented on #499
Coming from stdin.  not sure how to trace deeper but clear what the error is:

[code]

[2016-09-08 22:33] thecloudist commented on #499
I am trying to reproduce the GoPiGo (Raspberry PI Robot Car) demo that was done in the spring.
So far, I have all the keys, GCP, appengine and everything (I think) properly installed on latest OSX.
Just to try and run any of the GRPC samples gets about the same exceptions - shown below.
Does anyone have experience with this and can help?
Thanks in advance.

_**(grpc) steves-MacBook-Pro:grpc salvid

[2016-09-08 22:38] thecloudist opened #510 "Exceptions running speech samples on OSX"
Re: voice API samples:

I am trying to reproduce the GoPiGo (Raspberry PI Robot Car) voice-controlled car demo that was done in the spring. http://bit.ly/2c30Ko6
So far, I have all the keys, GCP, appengine and everything (I think) properly installed on latest OSX.
Just to try and run any of the GRPC samples gets about the same exceptions - shown below.
Does anyone have experience with this and can

[2016-09-09 00:38] jonparrott commented on #499
that is really strange. Happens with any Python 3 virtualenv?

[2016-09-09 16:38] jerjou commented on #510
Hello - looks like you haven't [set up auth](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/speech/grpc#authentication) yet - it looks like it's using the auth from the cloudsdktool (ie gcloud) instead of from your project.

[2016-09-09 16:42] thecloudist commented on #510
I got this working.  Yesterday, after I posted this issue, I was able to set the GOOGLE_APPLICATION_CREDENTIALS env var correctly to point to my json creds file.
After that, everything including the api-client and the grpc samples worked flawlessly.

Now, I am porting this whole thing to Raspberry Pi on my GoPiGo.
Cheers!

[2016-09-09 16:42] #510 closed

[2016-09-09 17:03] jerjou commented on #499
Looks like this is part of the [cloud shell bashrc](https://github.com/google/appengine-jenkins/blob/master/image/base/devshell/bashrc.google). I submitted a PR google/appengine-jenkins#2

[2016-09-09 17:28] jonparrott commented on #499
@jerjou nice! I didn't even know that repo existed. Seems weird that it's on Google and not GoogleCloudPlatform.

[2016-09-12 19:28] thecloudist opened #515 "grpc streaming example crashes and hangs"
Just cloned the latest repo for grpc -
running this on Raspbian (Raspberry Pi)

Cannot even break out of the program at all.
The sample rate of my usb mic is limited to 44100 and 48000.  I tried changing those in the example but I get the same results.

I have pyaudio installed up to date.
Sound recording and playback both work with pyaudio.

The  ~/.asoundrc script is here:

[code]

Here is the o

[2016-09-12 19:39] jerjou commented on #515
Would you mind posting a snippet of the code that works with pyaudio, and the output that you get?

[2016-09-12 19:45] thecloudist commented on #515
Here is what I have working:

[pyaudio_examples_steve.zip](https://github.com/GoogleCloudPlatform/python-docs-samples/files/468217/pyaudio_examples_steve.zip)

[2016-09-12 20:37] jerjou commented on #515
Two things:
* Can you post the output that you get when you run the code that works?
* Can you post the output of `git diff` on the directory where you're running `transcribe_streaming.py`?

[2016-09-12 20:53] thecloudist commented on #515
will do.  thanks

[2016-09-12 21:39] thecloudist commented on #515
The output when it is successful:

pi@raspberrypi:~/gopigo/Projects/Awareness/voice/pyaudio_test $ python pyaudio_test.py
ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pc

[2016-09-12 21:48] thecloudist commented on #515
By the way:

This works --- >

(grpc) pi@raspberrypi:~/python-docs-samples/speech/grpc $ python transcribe.py gs://voice_test/audio.flac
[alternatives {
  transcript: "how old is the Brooklyn Bridge"
  confidence: 0.982678949833
}
]
(grpc) pi@raspberrypi:~/python-docs-samples/speech/grpc $

[2016-09-12 21:48] jerjou commented on #515
I'm not seeing the diff? I'm seeing a dump of your audio devices in the attachment..

[2016-09-12 21:52] thecloudist commented on #515
Sorry: 1 sec --
[grpc_diff.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/files/468430/grpc_diff.txt)

[2016-09-12 22:24] jerjou commented on #515
Okay, I can't seem to reproduce the error on my box (I don't have a raspberry pi handy at the moment).

Googling around, it [looks like](http://stackoverflow.com/questions/10733903/pyaudio-input-overflowed) it happens because audio data is coming in faster than you're using it, and the portaudio buffer overflows. I'd guess that this is because, on the raspberry pi, the hardware is just a tad too s

[2016-09-12 22:26] jonparrott commented on #515
@jerjou if you'll remind me next time you come to Seattle I can bring in my RPi2.

[2016-09-12 22:35] thecloudist commented on #515
@jerjou - I concur with your analysis. If the alsaaudio example works, that is it can keep up with the sampling, then it does suggest that this is an efficiency issue.  I am also looking at what the enormously popular (but somewhat limited) Amazon Echo 'on yur pi' project does to guarantee audio can get to the service and responses come back pretty quickly on a Raspi.

I am building a voice-contro

[2016-09-12 22:36] travisoneill commented on #499
Thats great!  I was stumped after searching the entire GCP repo for that one line of code and never getting a hit.

[2016-09-12 23:37] jerjou commented on #515
I just pushed a quick-and-dirty version that fills an input buffer in a separate thread. See if this works for you:

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/threaded-speech/speech/grpc/transcribe_streaming.py

[2016-09-13 14:43] thecloudist commented on #515
Still getting this error with the separate thread version.

(grpc) pi@raspberrypi:~/gopigo/Projects/Awareness/voice/python-docs-samples/speech/grpc $ python transcribe_streaming_thread.py
ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lf

[2016-09-13 18:09] jerjou commented on #515
That looks like a different error. Did you double-check that the sample rate you defined in the code is one that's supported by your input device?

[2016-09-13 18:26] thecloudist commented on #515
No, I will try that.
thanks

[2016-09-13 18:36] V3SalC opened #517 "grpc streaming example crashes or hangs due to deadline seconds"
Using example, DEADLINE_SECS = 8 \* 60 \* 60 would cause the code to stop responding after about 60 seconds (which i think is the streaming limit) and would not gracefully exit or provide any errors (have to kill python).  So to work around that, i changed it to DEADLINE_SECS = 60 which has been working up until today where now there is an error like below after about 20 seconds:
error {
  code: 3

[2016-09-13 18:42] thecloudist commented on #515
Eureka! That works.
Changed the s/r to one of my supported rates.  44.1k

Huge thanks.

[2016-09-13 18:42] #515 closed

[2016-09-14 17:43] travisoneill commented on #499
@jonparrott Switched over to all Python (w/ a few lines of JS on the front) and pushed.  Please let me know if you would like me to make any changes.

[2016-09-15 00:42] jerjou commented on #517
So the general idea is that the usage limits specify how much audio it will transcribe, but the server needs some more time than that to actually perform the transcription (including retries, if necessary).

You could think of it as - the DEADLINE_SECS isn't really a measure of the length of audio you want transcribed. It's more low-level than that - it's just how long to keep the connection open

[2016-09-15 14:48] V3SalC commented on #517
Hi jerjou. Thanks for the response.  I agree that would be a better approach.  Would that fix the issue where it is closing the connection prematurely, because given 60 seconds, it should not give the error it did 20 seconds later.  Could this also be an issue with the service?

[2016-09-16 02:16] sngc1 opened #530 "transcribe_streaming speech example does not respond after 10-30secs"
After a few successful streaming recognition, transcribe_streaming.py does not respond without any message, in many cases it hangs and requires to kill pyhton. Not quite clear why, but it seems that it occurs after 1-10 recognition or 10-30 secs.

Are there any way to investigate what is going on, e.g. to show logs/messages?  Not clear it is because this sample code, or GCP speech service.

[2016-09-16 04:24] thecloudist opened #531 "Recommendations for distributing open source application based on GCP/Speech/Grpc"
Is there a good way to push my project to a github repo and accommodate gcp/speech/grpc dependencies without pushing a fork of that?

My app README.md  will include procedures for signing up, activating and authenticating with GCP and the Speech API's in order to build this project for themselves.

Ideally, I would want the build to include a git clone step to acquire the GCP stuff and then one to

[2016-09-16 05:29] puneith commented on #475
@heroddaji Closing this due to no activity. Please, open another issue if you have further questions.  Also, adding to what @jonparrott said you should architect your system such that your app talks to the service which behind the scenes invokes the Speech API using the service account.

[2016-09-16 05:29] #475 closed

[2016-09-16 11:13] bprasana commented on #530
I am facing a similar issue too. I tried chanings the DEADLINE_SECS, hoping to get better results. But it just freezes.

[2016-09-16 12:16] bprasana commented on #517
Do we know if this issue is getting fixed anytime soon with solution @jerjou mentioned above. It would help a lot.

[2016-09-16 17:02] jerjou commented on #531
A common way to manage dependencies in python is to use a [requirements.txt](https://pip.pypa.io/en/stable/user_guide/#requirements-files) file, in which you list your dependencies. Most of the samples in this repo use this method, and provide instructions in the README.md describing how to install them, so you can look at some of them for examples.

[2016-09-16 17:02] #531 closed

[2016-09-16 17:46] jerjou commented on #517
Happy to review any pull requests y'all might want to send our way ;-)
Otherwise - this is sample code! :-) Y'all should feel free to change it to suit your needs.
That said, I do agree that it's probably a general enough issue to be included in the canonical sample, though, so it's on my todo list.. I will update this bug if I get to it before I see a pull request come by.

Oh, and to answer your

[2016-09-16 23:34] thecloudist opened #532 "Minimum dependencies for building Google Cloud Platform GRPC Voice application"
## For the voice-controlled robot car:

Going the k.i.s.s. route and building a simple app without any special packaging.
Will worry about sharing it once it is fully operational and bug-free. (:>

What are the **minimum dependencies required** to incorporate voice/grpc.methods into my application?

requirements.txt:

gcloud==0.18.1
grpcio==1.0.0
PyAudio==0.2.9
grpc-google-cloud-speech-v1beta1==1.

[2016-09-17 02:18] puneith commented on #532
@thecloudist Those are the requirements and dependencies required.

[2016-09-17 02:28] puneith commented on #530
@sngc1 There has been similar issue reported https://github.com/GoogleCloudPlatform/python-docs-samples/issues/515 whose PR is in flight. Can you check in the mean time https://github.com/GoogleCloudPlatform/python-docs-samples/pull/527 if this works for you?

[2016-09-17 22:01] thecloudist commented on #532
My problem is that when I run the virtualenv recommended in the README , I cannot access my RPi.GPIO module for some reason. I can access it outside of the VENV but not while in it.

I tried doing the pip install -r requirements.txt outside of the VENV but it fails at the very end with 👍
Cleaning up...
Command /usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip-build-XRkyiv/gcloud/s

[2016-09-17 22:26] thecloudist commented on #532
FYI - I was able to pip install the missing Pi dependencies into the virtualenv so the two libs can play together. Pi and GCO/Speech/Grpc.

(yay)

[2016-09-19 17:47] jerjou commented on #532
Yeah - the reason we recommend installing everything into a virtualenv is to try to avoid dependency conflicts, which will be different for different platforms. It's a general problem that doesn't have a great solution because it's so specific to different environments and situations; and the cleanest way to avoid it is to just start from a clean virtualenv.

That said, there's nothing about the r

[2016-09-19 17:47] #532 closed

[2016-09-19 21:38] jerjou commented on #515
FYI cleaned up the thread handling, and merged into master.

[2016-09-19 21:39] jerjou commented on #530
I just pushed a not-insignificant update to the streaming sample. Would you mind trying that, and seeing if that helps things?

[2016-09-20 10:42] sngc1 commented on #530
@jerjou As a quick answer, the commit 5fca324cbfda5f76d1dc2416e7c3044196db36bc still hangs after a few recognitions (or a few 10 seconds?) and needs to kill python. (on MacOS + built-in Microphone, Japanese recognition)

@puneith Thanks, the analysis in #515 makes sense, I will investigate different RATE/CHUNK settings.

BTW, I am now working on Japanese recognition`"language_code='ja-JP'`, which

[2016-09-20 17:10] jerjou commented on #530
#### Re: japanese vs english
Hm... I took a clean repo, modified the language to be `ja-JP`, and ran it, and it seemed (subjectively) to perform comparably to english recognition, although I admit I only know a handful of short japanese phrases, so perhaps that skews my test. After setting `interim_results` to `True`, I was also able to see interim transcriptions at about the same rate I'm used to

[2016-09-20 19:55] speedplane commented on #312
Just curious, why was this closed?

[2016-09-20 19:57] waprin commented on #312
@speedplane we have [docs and samples](url)

[2016-09-22 09:22] satoru-n commented on #530
By using an external (USB) microphone, the sample works better, while still stop responding  sometimes.
Followed the best practices; checked that my microphone works fine under the Pyaudio settings in `transcribe_streaming.py` (tested in a simple Pyaudio script without GCP speech API); confirmed that `single_utterance=True` is not set.

One thing I have found is, when `language_code=en-US` it work

[2016-09-22 09:22] sngc1 commented on #530
By using an external (USB) microphone, the sample works better, while still stop responding sometimes.
Followed the best practices; checked that my microphone works fine under the Pyaudio settings in transcribe_streaming.py (tested in a simple Pyaudio script without GCP speech API); confirmed that single_utterance=True is not set.

One thing I have found is, when language_code=en-US it works fine,

[2016-09-22 16:41] thecloudist commented on #530
I have working code now using the transcribe_streaming_thread.py version which was shared.
Should I be fetching and syncing with the latest repo updates to python-docs-samples?
That python file does not exist and I also have made some changes to 'listen_print_loop'.  I now call mine listen_transcribe_loop.

I have not tried the OOB version of transcribe_streaming.py again to see if I cleared somet

[2016-09-22 22:37] puneith commented on #530
@thecloudist I would recommend you get the updated sample code since it has final fixes.

re: How do I call the transcribe loop without getting stuck there?
If I am assuming correctly on what you mean here, you need to either put the transcribed response in a queue or create a stream where the output is written and read from it.

[2016-09-24 23:36] lucasduffey commented on #347
for example: how do you make a custom login page - users.create_login_url('/') creates a page - but it isn't clear how to modify it

[2016-09-24 23:38] lucasduffey opened #541 "create_login_url - no clear guidance on making a custom login page"
create_login_url - no clear guidance on making a custom login page

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/users/main.py#L36

[2016-09-24 23:42] lucasduffey commented on #541
https://cloud.google.com/appengine/docs/python/refdocs/google.appengine.api.users#google.appengine.api.users.create_login_url

[2016-09-25 22:48] jonparrott commented on #541
@lucasduffey unfortunately, there is no way to customize the login page when using the users service. If you want to have a completely custom login page, you'll need to roll your own or use a third-party library that provides that functionality.

[2016-09-25 22:48] #541 closed

[2016-09-26 00:07] thecloudist commented on #530
The queue idea is good but the way the transcribe_print_loop() was written, I cannot exit from that method until a terminal condition is reached such as 'quit' etc.

I am going to have to break that method apart so I can just ask for transcription when my main code loop is ready to ask for it rather than having it looping all the time.  The app is kind of an asynchronous command and control app fo

[2016-10-05 00:08] garysieling opened #553 "Unable to retrieve transcript from async API"
I converted my files from MP3s to FLAC, and uploaded them to a bucket.

1. Using the gRPC version of this, I get no transcript:
python transcribe_async.py --encoding LINEAR16 --sample_rate 16000 gs://sieling-wav/10000.flac

name: "3946981841087526250"
Waiting for server processing...
Waiting for server processing...
etc, for some time.

2. Alternately, if I do this with the "api-client" version, I

[2016-10-05 00:40] puneith commented on #553
@garysieling The encoding you have specified is LINEAR16 which takes a .raw file. Once, you fix it from .flac to .raw it should work for you.

Re: Another storage bucket - that's not supported and for that reason we have the long running operation see sample code [here](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/transcribe_async.py#L76)  and proto definition

[2016-10-06 11:41] garysieling commented on #553
Thanks, I converted some of the files to RAW, and now I'm getting a quota error with both my files and the examples provided in this project. What puzzles me is that is the Quotas screen doesn't show me near any limits.

D:\projects\python-docs-samples\speech\api-client>python transcribe_async.py gs://sieling-wav/10000.raw
Traceback (most recent call last):
  File "transcribe_async.py", line 100,

[2016-10-06 17:36] puneith commented on #553
You are using the rest sample which doesn't take the gcs location. Can you please use grpc async sample.

[2016-10-06 21:55] garysieling commented on #553
Thanks, I tried that as well but  I should have included the error:

D:\projects>cd python-docs-samples\speech\grpc

D:\projects\python-docs-samples\speech\grpc>python transcribe_async.py gs://sieling-wav/10000.raw --encoding LINEAR16
Traceback (most recent call last):
  File "D:\Software\Anaconda3\lib\site-packages\grpc\beta\_client_adaptations.py", line 201, in _blocking_unary_unary
    credenti

[2016-10-06 22:22] puneith commented on #553
@garysieling Are you getting the same error in the file which has been provided resources/quit.raw? I just want to confirm that you have followed these limits? https://cloud.google.com/speech/limits

[2016-10-07 01:53] ryanmats opened #562 "AppEngine Flexible Kinto Example - Bug"
I'm get a bug when trying to deploy the AppEngine Flex Kinto example.

This occurs with both vm: true and env: flex.

Thanks!

[2016-10-07 14:33] sngc1 commented on #530
Regarding the recognition hanging issue, after dozens of trials, `language_code=ja-JP` recognition is still unstable: on average the recognition hangs after 3 utterances. Confirmed it is BEFORE the deadline 60 secs.

Due to running out of time to investigate, my workaround is to use `single_utterance=True`; continuously terminate & restart recognition for each utterance.

[2016-10-07 17:00] jonparrott commented on #562
@waprin PTAL?

[2016-10-10 18:33] jerjou commented on #530
Hello!

Sorry for the long delay - the backend folks have confirmed that this is probably an issue on their end that they're actively working on. If you wouldn't mind [providing a link to a sample of audio](https://goo.gl/forms/gNogcwjvAporQ05C3) that stops transcribing after awhile, it'd help them in fixing the issue.

Thanks!

[2016-10-10 19:35] jonparrott commented on #43
Closing this as obsolete.

[2016-10-10 19:35] #43 closed

[2016-10-10 19:36] jonparrott commented on #85
I'm closing this as won't fix, because HTTP codes are standardized enough to not be considered magic number IMO.

[2016-10-10 19:36] #85 closed

[2016-10-10 19:37] jonparrott commented on #215
@waprin ping? You're also welcome to move this into buganizer if it's easier for you to track.

[2016-10-10 19:38] jonparrott commented on #238
@waprin Is this still an issue?

[2016-10-10 19:50] waprin commented on #238
Think given we are switching to new client libraries anyway it's not worth fixing, especially since adding retry logic to samples is already debatable.

[2016-10-10 19:50] #238 closed

[2016-10-10 19:53] waprin commented on #215
Created buganizer

[2016-10-10 20:00] #215 closed

[2016-10-11 18:33] jerjou commented on #553
@garysieling - I'm guessing you authenticated by running `gcloud beta auth application-default login`? If so, try [downloading a service account json file](https://console.cloud.google.com/apis/credentials?project=_) instead, and set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to point to that json file. Then try again and see if you still see the quota error.

[2016-10-11 18:47] #499 closed

[2016-10-11 18:49] garysieling commented on #553
Yes, I used a service account. I uploaded the "quit.raw" file to my bucket as @puneith recommended, and was able to transcribe that particular file.

I verified that the files I've uploaded can be played (on my machine) and are within the limits specified in Google's docs. At this point I think the service is having issues with my files, but I can't find any way to tell what the problem could be,

[2016-10-11 19:04] puneith commented on #553
@garysieling we would like to figure out why its not working for you. Can you please send us the files you are trying to transcribe. Also, on the limits I also meant the API usage limits.

[2016-10-11 19:22] garysieling commented on #553
I can do that, what's the easiest way for me to send these?

On Tue, Oct 11, 2016 at 3:04 PM, puneith <notifications@github.com> wrote:

--
Gary Sieling
www.garysieling.com/blog

[2016-10-11 19:24] puneith commented on #553
You can either attach them here or send us gcs links (make sure you have made it public) if you are ok with that.

[2016-10-11 23:38] garysieling commented on #553
Alright, I've chosen a 6 minute file to test, as that should not hit any limits. The source file is an MP3, which I converted to WAV for a different service, and then to flac using sox. I uploaded all three so that you can compare. I verified that the flac file can be played with VLC. These are set to public:

gs://gsieling-flac/14823.flac
gs://gsieling-flac/14823.wav
gs://gsieling-flac/14823.mp3

[2016-10-11 23:40] rxgranda opened #571 "Speech Cloud API ignores portion of audio"
transcribe_asyn.py of the rest API only recognizes speech up to 20 seconds. The remaining speech of the audio is not recognized

[2016-10-12 17:55] puneith commented on #553
@garysieling There is one error in your command. Please follow steps below:

1. Convert the .flac to .raw using command `sox 14823.flac 14823.raw'
2. Check the details of the .flac file
soxi 14823.flac

Input File     : '14823.flac'
Channels       : 1
Sample Rate    : 22050
Precision      : 16-bit
Duration       : 00:06:05.66 = 8062848 samples ~ 27424.7 CDDA sectors
File Size      : 9.62M
Bit Rate

[2016-10-12 18:44] jerjou commented on #553
For reference, I believe you're hitting the fact that asynchronous transcribes work [only on raw files](https://cloud.google.com/speech/limits#content), not flac, at the moment.

[2016-10-12 22:08] tmatsuo opened #575 "Flaky transaction snippets"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/datastore/api/snippets.py#L655

I don't think `get_multi` guarantees that the order of the result is the same as the given keys. Please close if it does, but please fix this otherwise.

[2016-10-13 00:36] tmatsuo opened #577 "Datastore: transactional retry snippets unintentionally transfer the funds 5 times"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/datastore/api/snippets.py#L664

Do you need to break when it succeeded?

[2016-10-13 19:17] vinayakagrawal88 opened #579 "Code Sample to Classify images in a specified source folder and copy these images into resultant label-folders"
This is a python-code enhancement to build sample application using vision API labeling feature to organize pictures. The code will accept two arguments -
arg 1 - Source folder containing images
arg 2 - Destination folder where all the images will be organized under resultant label-folders.

The code will demonstrate the application of vision api labeling feature that can be used to build picture-

[2016-10-13 19:20] jonparrott commented on #579
HI @vinayakagrawal88, in general we prefer to keep the samples here as simple as possible to demonstrate how to use a particular service. Unless there is a very strong demand for this particular sample, we won't be implementing it. However, we do encourage the community to write additional samples and we can even feature those over at https://github.com/GoogleCloudPlatform/awesome-google-cloud.

[2016-10-13 19:20] #579 closed

[2016-10-13 19:29] vinayakagrawal88 commented on #579
Thank you

[2016-10-15 00:27] chitsuhein opened #582 "Yg"
B

[2016-10-15 00:29] #582 closed

[2016-10-16 23:51] thecloudist opened #585 "requirements.txt hangs with pip install -r requirements.txt"
Just cloned and merged a fork of the latest python-docs-samples repo.
Cannot successfully get requirements.txt to complete.
I may have to recreate the virtualenv fresh because the 0.18.1 version is what is active in the current virtualenv.  Your latest PB is 0.20.0 and I should be using that.

Update: This runs correctly in a new ve.
The previous ve was unhappy to have a new gcp setup overlaid.
My

[2016-10-17 16:33] jonparrott commented on #585
@thecloudist glad you got it working.

Each individual sample has its own `requirements.txt`. We recently moved our top-level `requirements.txt` under `testing/` specifically for this reason.

[2016-10-17 16:33] #585 closed

[2016-10-17 16:53] thecloudist opened #586 "python error with latest fork"
I was able to run the latest sample code (unmodified) and get streaming transcripts.
When I go back to my modified source of transcribe_streaming_thread.py where I have had that working under the older master, I now get this error:

 from gcloud.credentials import get_credentials
ImportError: No module named gcloud.credentials

I am sure the GOOGLE_APPLICATION_CREDENTIALS env var is set properly.

[2016-10-17 16:58] jonparrott commented on #586
@thecloudist `gcloud` recently renamed to `google-cloud`. We updated all dependencies in this repo as well as updated the code to match. If you want to use the latest version of `google-cloud-python` you'll need to do the same. If you're okay with using an older version, then [pin your dependencies](http://nvie.com/posts/pin-your-packages/).

Please keep in mind that we constantly update this repo

[2016-10-17 16:58] #586 closed

[2016-10-17 22:53] #553 closed

[2016-10-18 15:41] Dellax8 opened #588 "Python Async dumps problem Speech API"
Hi,
with the transcribe_async.py file i can't get my results back.
The only changes that i made in transcribe_async.py are:
- Language
- Raw file passed by uri.

The error is in print(json.dumps(response['response']['results']))
Python says that the error is the Key 'results'

I try to fix it, but i can't understand what is wrong in this program.
I hope you can help me.

Thanks

[2016-10-18 16:03] thecloudist opened #589 "Q: Requirements.txt needs to be run each time the virtualenv is invoked?"
I assumed it needed to be run the first time only.
Also, it looks like you are using sphinx.  Isn't this a self-contained voice rec system?

This is a huge load of stuff being installed since I used it yesterday.
Were there very large changes pushed last night?

Tons of this:

oringssl/ssl/d1_srvr.c -o python_build/temp.linux-armv7l-2.7/third_party/boringssl/ssl/d1_srvr.o -fno-wrapv -fvisibility=h

[2016-10-18 16:26] jonparrott commented on #589
Yes, you need to run `pip install -r requirements.txt` every time you create a new virtualenv. If you're activating an existing one where you've already installed dependencies, you don't need to do it.

I'm not sure how to answer your section question.

[2016-10-18 16:26] #589 closed

[2016-10-18 16:27] jonparrott commented on #588
Hi @Dellax8 , can you try changing that line to `print(json.dumps(response))` and sending us the output?

[2016-10-18 16:33] puneith commented on #588
@Dellax8 Do you mean rest or grpc transcribe_async.py? Also can you let us know what language you changed it to?

[2016-10-18 16:40] puneith commented on #571
@rxgranda Which async version are you using? We can recognize ~80 mins of LINEAR16 audio. Can you send us the audio file you are trying to transcribe.

[2016-10-18 17:34] thecloudist commented on #589
This was a v.e. that I have been using since yesterday and everything worked. When I tried to run my app today, it didn't get past the creds validation, missing the package that does that. After I reinstalled requirements, it ran again.  Just that it took 20 minutes for requirements to complete.  (on a Raspi)

[2016-10-18 17:39] jonparrott commented on #589
@thecloudist did you change the code between then?

[2016-10-18 17:44] thecloudist commented on #589
That's just it.  I created a new VM and made the change to  the creds imports to:
'from google.cloud import credentials'.
After creating it, I installed requirements.txt and as I said, everything ran ok.

We can close this until the next time I re-enter the v.m. it does the same thing.
(Hoping it does not)

[2016-10-18 17:47] jerjou commented on #589
Did you activate the virtualenv?

Read more about virtualenv [here](https://virtualenv.pypa.io/en/stable/userguide/)

[2016-10-19 07:30] Dellax8 commented on #588
@jonparrott
{"done": true, "metadata": {"lastUpdateTime": "2016-10-18T15:46:35.033374Z", "progressPercent": 100, "startTime": "2016-10-18T15:46:28.054832Z", "@type": "type.googleapis.com/google.cloud.speech.v1beta1.AsyncRecognizeMetadata"}, "name": "#NAME#", "response": {"@type": "type.googleapis.com/google.cloud.speech.v1beta1.AsyncRecognizeResponse"}}

@puneith
I Try with REST. Now i Try with gr

[2016-10-19 11:34] Dellax8 commented on #588
with  grpc transcribe_async.py i can't compile.

there are errors in "
from google.cloud.credentials import get_credentials
from google.cloud.speech.v1beta1 import cloud_speech_pb2
from google.longrunning import operations_grpc_pb2
from grpc.beta import implementations"

the errors are in the import part.
I have installed the requirements by pip, but it's not working yet

[2016-10-19 17:02] tanin47 opened #592 "Should UpdateSchemaHandler use get(..) instead of post(..)?"
Here: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/ndb/schema_update/main.py#L84

[code]

In https://cloud.google.com/appengine/articles/update_schema, we say: "When you're ready to kickoff the schema migration, simply upload the new source to your App Engine application using appcfg and visit the /update_schema handler using your favorite web browser."

[2016-10-19 17:05] jonparrott commented on #592
Thanks for reporting!

If you run the sample, it presents a form that lets you do a post request. The docs should be updated.

[2016-10-19 17:21] puneith commented on #588
@Dellax8 Can you paste the error you are getting?

[2016-10-20 09:19] Dellax8 commented on #588
@puneith

in grpc - i fix the import error, but the result is empty...
in REST -
    print(json.dumps(response['response']['results']))
KeyError: 'results'

[2016-10-20 15:04] puneith commented on #588
Can you send me the audio file if you don't mind.

[2016-10-20 15:34] Dellax8 commented on #588
the encoding wa wrong
I create a new file but it doesn't work

This is the audio Raw File

[teone2.zip](https://github.com/GoogleCloudPlatform/python-docs-samples/files/542115/teone2.zip)

[2016-10-20 16:08] rxgranda commented on #571
[Here ](https://drive.google.com/file/d/0B_YxGlaT9EDoQl9GSm9CM0dlM2c/view?usp=sharing) is an audio file of 59 seconds.  I am using the python example transcribe_async.py, the latest version of the master branch of this repository. The target languageCode is 'es-EC'.

Audio file: https://drive.google.com/file/d/0B_YxGlaT9EDoQl9GSm9CM0dlM2c/view?usp=sharing

[2016-10-20 22:14] ppapagay commented on #487
Hello, I have same problem with Czech language. If I for example say "začátek", the transcript returne me [ transcript: "za\304\215\303\241tek" I don't know how to solve it, I have been trying define UTF-8 coding at the beggining, decoding and encoding methods, but nothing happend. I'm using Ubuntu 16.04 and Python 2.7.
Can you help me please, do you have any idea how to solve it? Thanks.

[2016-10-21 19:21] jerjou commented on #588
Hello - note that if you have encoded the file with different parameters than the sample one, you'll have to change the configuration parameters you send to the API. In this case, it looks like your audio file was encoded with a sample rate near 32000, which means you'll have to change the [`sampleRate`](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api-client/trans

[2016-10-21 19:21] #588 closed

[2016-10-21 19:36] tanin47 commented on #592
We eventually run the migration from our local desktop connecting to the prod datastore using remote_api. It might also worth mentioning this in the doc. Thanks for fixing the wording.

[2016-10-21 20:16] thetittenquetscher opened #606 "Is it possible to record and upload the transcriptions from _transcribe_streaming.py?"
When running `python transcribe_streaming.py`

the program freezes after I use the voice command “exit” . It keeps logging "Exiting..". Is this normal ?

<img width="562" alt="screen shot 2016-10-21 at 19 33 50" src="https://cloud.githubusercontent.com/assets/13262717/19609936/41230514-97da-11e6-87e8-0e9cc88874e3.png">

------------------------------------------------------------------------------

[2016-10-21 22:00] jerjou commented on #571
This appears to be the same bug as #530, so closing this as a dupe. Thank you for the file, though - having more examples of when this happens does help the backend team with the issue.

[2016-10-21 22:00] #571 closed

[2016-10-21 22:12] jerjou commented on #606
* Can you file a different issue for the "Exiting.." problem?
* As for the other two of your questions, keep in mind that this repo is a repo of sample code. You should feel free to modify it to add the functionality you'd like - the existing code is there mainly for illustration and education. For example
  * You could potentially create a [Timer object](https://docs.python.org/2/library/threadin

[2016-10-21 22:12] #606 closed

[2016-10-21 23:41] thetittenquetscher opened #608 "transcribe_streaming.py freezes after I use the voice command “exit”"
When running python transcribe_streaming.py

the program freezes after I use the voice command “exit” . It keeps logging "Exiting..". Is this normal ?

<img width="562" alt="screen shot 2016-10-21 at 19 33 50" src="https://cloud.githubusercontent.com/assets/13262717/19614744/7862d40a-97f8-11e6-80b9-cd79fe03fb35.png">

[2016-10-22 00:35] thetittenquetscher commented on #606
Thank you for your input @jerjou .

Lets say transcribe_streaming.py transcribes the spoken sentence “ I am dreaming about pears  “  with 90.00 confidence. The word pear is listed in an array and triggers the transcribe_streaming.py to run another program which again starts a 10 seconds short video clip about falling pears from trees in slow motion. Could this be accomplished with the sample as we

[2016-10-24 20:11] jerjou commented on #606
Yup!

[2016-10-25 15:06] thecloudist opened #615 "Can I run GRPC streaming analyze just once?"
The multi-threaded version is very complicated. I just want to call for streaming recognize each time I need it rather than having it run as the main continuous loop of my app.

Is there a simple way to do that?

Once my other code is done, it will go back and capture audio, submit it to GRPC and transcribe the results and finish.

The version that records a file and then calls the REST service is

[2016-10-25 16:40] jerjou commented on #615
Yes - remember, this is sample code. It's not a library in itself - you should feel free to change it how you see fit.

Assuming you have `interim_results=False`, `listen_print_loop` doesn't need to be a loop, and it doesn't need to print. It could instead return the result once it's finalized (or you could detect [`END_OF_SPEECH`](https://cloud.google.com/speech/reference/rpc/google.cloud.speech.

[2016-10-25 16:40] #615 closed

[2016-10-25 18:21] thecloudist commented on #615
Cheers.  Very helpful.

[2016-10-31 06:16] jkatrenic opened #626 "ImportError: No module named pwd"
Following the tutorial
https://cloud.google.com/solutions/using-firebase-real-time-events-app-engine
and example solution
https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/firebase/firetactoe
we are getting the following error when running
dev_appserver.py .
on the example project.

[code]

[2016-10-31 16:44] jonparrott commented on #626
Thanks for reporting. This is a known issue and it should be addressed in the new App Engine SDK release. In the meantime you can add [this workaround](https://github.com/GoogleCloudPlatform/google-auth-library-python/blob/ac3f97543990b2f2d8429e6ad9b44a389db61faa/system_tests/app_engine_test_app/appengine_config.py#L21) to your application's `appengine_config.py`.

[2016-10-31 16:44] #626 closed

[2016-10-31 17:17] jerjou commented on #626
Hm... testing should have caught this when dpebot updated dependencies, no?

[2016-10-31 17:18] jonparrott commented on #626
@jerjou nope.

[2016-10-31 17:57] jkatrenic commented on #626
The workaround works fine, thanks jonparrott.
Hope you will fix it soon.

[2016-11-02 18:29] kdeus opened #630 "Move Endpoints echo sample to a central location"
The Endpoints Python Echo sample is reused for multiple platforms.  It's currently hiding in appengine/flex, but it should move up to its own /endpoints/echo directory to reduce confusion.

[2016-11-04 20:33] kdeus commented on #630
It's in the new location.  The remainder of the work (changing references to point to the new location, deleting the old location) is being tracked elsewhere.

[2016-11-04 20:33] #630 closed

[2016-11-05 03:31] jlim13 opened #636 "Can't find Client attribute for translate"
I get an attribute error while trying to call the Client function on the translate object.
Traceback (most recent call last):
  File "exmp.py", line 49, in <module>
    translate_client = translate.Client(SECRET_KEY)
AttributeError: 'function' object has no attribute 'Client'

[2016-11-07 00:01] jcastill0 opened #639 "audio format for Speech"
I tried mp3 files using the client api/transcribe.py and it returned an empty JSON file.
I realized that the sample audio files included were .raw files and it works with those type of files.

How do I convert mp3 or m4a to raw audio files? Or how do I generate .raw files?

[2016-11-07 00:46] puneith commented on #639
Please checkout https://cloud.google.com/speech/support and look into sox.

[2016-11-07 00:46] #639 closed

[2016-11-07 00:48] puneith commented on #608
@thetittenquetscher We are in the process of pushing a fix soon.

[2016-11-07 02:28] jcastill0 opened #640 ".flac file plays fine, but the speech/transcribe.py returns empty JSON output"
Using sox I created a .flac file.
I'm able to "play" the file which yields the following output of which I can also hear the audio:
% ./play Clip1.flac

Clip1.flac:

 File Size: 356k      Bit Rate: 161k
  Encoding: FLAC          Info: Processed by SoX
  Channels: 1 @ 16-bit
Samplerate: 16000Hz
Replaygain: off
  Duration: 00:00:17.64

In:100%  00:00:17.64 [00:00:00.00] Out:847k  [ -====|====- ] Hd:

[2016-11-07 04:53] puneith commented on #640
Are you using the one under grpc/ or api-client/ ?

[2016-11-07 05:44] jcastill0 commented on #640
API-client

On Sunday, November 6, 2016, Puneith Kaul <notifications@github.com> wrote:

[2016-11-07 06:26] puneith commented on #640
That code uses LINEAR16 as input format and thats why you get empty json. You can change manually to either flac or send .raw file to this code. https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api-client/transcribe.py#L65

[2016-11-07 17:52] jonparrott commented on #636
@jlim13 it seems like you overloaded the definition `translate`. Do you mind sharing your entire code?

[2016-11-07 18:13] jlim13 commented on #636
I originally had "from google.cloud import translate" at the top of my code with the rest of my imports but, put it within my main method like the demo to fix the problem. Why does this happen?

if __name__ == "__main__":

    from google.cloud import translate

[2016-11-07 18:42] jonparrott commented on #636
It's hard to say without seeing all of your code, but likely you had something like this going on:

[code]

when you do that, the `translate` function shadows the `translate` module.

[2016-11-07 18:42] #636 closed

[2016-11-07 20:50] puneith commented on #608
@thetittenquetscher Can you please re-try. We have added a fix.

[2016-11-08 02:39] jcastill0 commented on #640
I tried to figure out how to generate a proper FLAC file, but I can'f find a way to do so with sox.
I tried the following commands and although I can play them back with the play script, they still return an empty {} JSON output.
First, using the macos version of sox. it doesn't take FLAC or LINEAR16 as an encoding parameter.
So, I used the following commands to generate the .flac file:

% ./sox d

[2016-11-08 22:30] jonathan-s opened #643 "A query object has no cursor"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/ndb/schema_update/main.py#L127

### Did you change the file? If so, how?
We get the cursor from the following line: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/ndb/schema_update/main.py#L105 So I changed the file to us

[2016-11-08 22:51] jonparrott commented on #643
@jonathan-s nice find! Thank you for reporting. I've fixed this in 8e99bba678.

[2016-11-08 22:51] #643 closed

[2016-11-09 00:27] puneith commented on #640
Can you send me the audio file?

[2016-11-09 00:28] puneith commented on #608
Closing this issue, since it has been fixed. Please, re-open another issue if this doesn't work for you.

[2016-11-09 00:28] #608 closed

[2016-11-09 01:03] jcastill0 commented on #640
I tried sending the files, but it was rejected.
I put them up on a public folder on my Google Drive:
https://drive.google.com/open?id=0B6DP39h3iDDvSDNDVkJ2QjNCTG8

In there you will find 2 sets of files, both using Clip1.wav as a source.

Clip1 used the following script to generate the flac file
./sox data/Clip1.wav --rate 16k --bits 16 --channels 1 data/Clip1.flac

Clip1a used the following scrip

[2016-11-09 21:29] mattwarrenrnp opened #644 "missing sample for ndb in appengine/flexible"
## In which file did you encounter the issue?

Trying to find a way to use ndb in the flexible environment.  unsure if ndb is not supported in the flexible environment or if it's missing a sample.

### Did you change the file? If so, how?

## Describe the issue

missing example for NDB in appengine/flexible

[2016-11-09 21:32] jonparrott commented on #644
ndb is not supported outside of the standard environment. If you're interested in this feature please let us know over at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/557.

[2016-11-09 21:32] #644 closed

[2016-11-09 23:48] jcastill0 opened #646 "activate virtualenv works well for api-client but not for grpc"
## In which file did you encounter the issue?

speech/grpc$ python transcribe.py

### Did you change the file? If so, how?

## Describe the issue

After activating the virtual environment I can run python api-client/transcribe.py with no problem, but when I do the same on the grpc executables, it fails with the error below.

Traceback (most recent call last):
  File "transcribe.py", line 20, in <m

[2016-11-09 23:50] jonparrott commented on #646
They have different `requirements.txt`, did you try `pip install requirements.txt` from within the `speech/grpc` folder?

[2016-11-10 01:00] jcastill0 commented on #646
no. I only did the install requirements from the api-client folder

[2016-11-10 01:00] #646 closed

[2016-11-10 01:00] jcastill0 commented on #646
my mistake for not doing the additional pip install

[2016-11-10 01:01] jonparrott commented on #646
No worries! Glad we could get you unstuck.

On Wed, Nov 9, 2016, 5:00 PM Julio Castillo <notifications@github.com>
wrote:

[2016-11-10 01:06] jcastill0 opened #647 "gcs_uri error on speech/grpc transcribe call"
## In which file did you encounter the issue?

speech/grpc$ python transcribe.py

### Did you change the file? If so, how?

## Describe the issue

Trying to transcribe a file that resides on an S3 bucket yields the following error (the file is accessible as you can do a wget on it and it works fine):

(env) vagrant@ubuntu16:~/speech/python/python-docs-samples/speech/grpc$ python transcribe.py http

[2016-11-10 03:35] puneith commented on #640
So, I do get some transcription (Both sync and async). Its not complete though, but thats a different issue. Are you not seeing this output?

python api-client/transcribe_async.py Clip1.raw
{"name": "7080391486607377985"}
Waiting for server processing...
Waiting for server processing...
Waiting for server processing...
Waiting for server processing...
Waiting for server processing...
Waiting for s

[2016-11-10 03:37] puneith commented on #647
The input_uri needs to be a GCS (Google Cloud Storage) Uri.

[2016-11-10 03:37] #647 closed

[2016-11-16 20:41] #577 closed

[2016-11-16 20:42] jonparrott commented on #575
This has been fixed.

[2016-11-16 20:42] #575 closed

[2016-11-16 20:56] #592 closed

[2016-11-18 00:03] awalias opened #670 "'Issuing an asynchronous request' needs a tip for adding protorpc library"
the page at https://cloud.google.com/appengine/docs/python/issue-requests#issuing_an_asynchronous_request describes how to make async requests, but I had to do a bit of searching to find out that I needed to include:

`- name: protorpc
  version: latest`

in my app.yaml. It's not mentioned.

On live site it gives a:

at CheckSuccess (/base/data/home/runtimes/python27/python27_lib/versions/1/google

[2016-11-21 14:04] jeffkpayne opened #676 "Multiple errors following endpoints-frameworks-v2/echo README instructions"
Following the instructions at `python-docs-samples/appengine/standard/endpoints-frameworks-v2/echo/`, I run into multiple errors.

For reference, here's the version of Python I'm using (using an isolated `conda` environment): `Python 2.7.8 :: Continuum Analytics, Inc.`  After successfully installing the required packages with `pip install -t lib google-endpoints`, running the command `python lib/e

[2016-11-21 14:42] jeffkpayne commented on #676
OK, some more searching actually shows that some just brought this issue up over at Google Groups a few days ago: https://groups.google.com/forum/#!topic/google-cloud-endpoints/y-kPfeqJZsk

Turns out the file name of the generated swagger file can't contain any dashes, although the name generated by `endpointscfg.py` implicitly generates just that.  For instance, following the tutorial yields a fi

[2016-11-21 14:47] #676 closed

[2016-11-21 15:09] jeffkpayne commented on #676
Yep, PR was already created/implemented in the right place over at https://github.com/cloudendpoints/endpoints-python/pull/25

[2016-11-21 18:04] jonparrott commented on #670
Huh. Strange. Thanks for reporting!

@ryanmats can you take this?

[2016-11-21 19:29] ryanmats commented on #670
@jonparrott sure!

[2016-11-21 23:30] ryanmats commented on #670
Hi @awalias . Our sample code seems to work locally and when deployed, and we were unable to reproduce your error. Please let us know if you have any particular code that can reproduce the case!

Thanks.

[2016-11-21 23:30] #670 closed

[2016-11-27 13:49] baditaflorin opened #683 "Error while using this script from Google Cloud API"
## In which file did you encounter the issue?
analyze.py

### Did you change the file? If so, how?
No

## Describe the issue
python analyze.py entities "John is late"

Traceback (most recent call last):
  File "analyze.py", line 103, in <module>
    result = analyze_entities(args.text, get_native_encoding_type())
  File "analyze.py", line 53, in analyze_entities
    response = request.execute()

[2016-11-28 08:25] i3evelyn opened #684 "ImportError: NO module named goolgeapiclient"
## In aip-client

### I did exactly as the file README.rst. But I encounter the error that : ImportError: NO module named goolgeapiclient.

What is the cause of this problem? It is because I need to import other extra libraries?

[2016-11-28 19:02] jonparrott commented on #684
Hi @i3evelyn, which sample are you using? In most cases you just need to do `pip install -r requirements.txt` and that will install all necessary dependencies for the sample.

[2016-11-28 19:03] jonparrott commented on #683
@puneith or @jerjou any ideas?

[2016-11-28 19:14] jerjou commented on #683
Hello!

Thanks for the bug report. Are you running the latest version of the code? I can't be sure because you didn't provide the full path to the `analyze.py` that you ran, but from the looks of your stack trace, since you're running from a virtualenv in the `language/` directory, I'm guessing you're running the file `language/analyze.py`. Note that the latest version of `analyze.py` is in the di

[2016-11-29 21:27] jeremykeen opened #689 "ImportError: cannot import name 'connection' in logs when deploying via App Engine"
## In which file did you encounter the issue?

python-docs-samples/appengine/flexible/pubsub/main.py

### Did you change the file? If so, how?

No

## Describe the issue

Error when deploying to App Engine:
`from google.cloud.pubsub.connection import Connection
File "/env/lib/python3.4/site-packages/google/cloud/pubsub/connection.py", line 19, in <module>
from google.cloud import connection as bas

[2016-11-29 21:39] jonparrott commented on #689
Hi @jkeenest does this work locally? Can you share the entire stacktrace/deploy output?

[2016-11-30 03:52] jkeenest commented on #689
locally run..

`Traceback (most recent call last):
  File "main.py", line 22, in <module>
    from google.cloud import pubsub
  File "C:\Users\keenj\AppData\Local\Programs\Python\Python35-32\lib\site-packages\google\cloud\pubsub\__init__.py", line 27, in <module>
    from google.cloud.pubsub.client import Client
  File "C:\Users\keenj\AppData\Local\Programs\Python\Python35-32\lib\site-packages\goo

[2016-11-30 17:44] jonparrott commented on #689
Hi Jeremy, it seems you might have an old/broken install of the google cloud libraries. Can you send over the output of `pip freeze`?

You should use a [virtualenv](http://docs.python-guide.org/en/latest/dev/virtualenvs/) when working locally, this will ensure the sample has the correct version of the dependencies.

[2016-12-02 15:11] jeremykeen commented on #689
Tried again with a new clone and virtualenv locally.  This worked.  Now for deploying in App Engine... I was getting errors from Cloud Compute re: alpha not enabled.  I will try to reproduce.

[2016-12-02 15:47] jeremykeen opened #695 "PubSub push subscription error: The supplied HTTP URL is not registered in the project that owns the subscription"
When creating a push subscription for this app, I get the error below caused by the addition of the "-preview" to the address by the GAE Flexible environment.  Removing this allows me to create the subscription but then I get redirect responses.  Is this the correct behavior or does appspot-preview.com need to be added somehow?

`The supplied HTTP URL is not registered in the project that owns the

[2016-12-02 17:16] jonparrott commented on #689
Great, I'm gonna close this issue but feel free to reach out if you need anything else.

[2016-12-02 17:16] #689 closed

[2016-12-02 17:45] jonparrott commented on #695
This is a known issue and unfortunately pub/sub push notifications to flex will not work until the redirects are removed.

[2016-12-02 18:27] jeremykeen commented on #695
Ok, if that is the case, does the sample python app need to use flex as specified in the app.yaml?

python-docs-samples/appengine/flexible/pubsub/app.yaml

[2016-12-02 18:29] jonparrott commented on #695
I'm not sure what you're asking.

[2016-12-02 18:46] jeremykeen commented on #695
The sample app that receives push subscriptions uses App Engine Flex which does not work with pub/sub.

[2016-12-02 18:50] jonparrott commented on #695
I'm still not completely clear on what you mean, but the sample app will remain as-is in anticipation of the infrastructure bug being fixed.

[2016-12-03 18:39] bluecmd opened #697 "PubSub client example: StatusCode.PERMISSION_DENIED"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/pubsub/cloud-client/publisher.py

### Did you change the file? If so, how?

Nope.

## Describe the issue

[code]
Running the `pubsub.projects.topics.list` api from https://developers.google.com/apis-explorer workst just fine.

I'm running this inside the Cloud Shell on a project wit

[2016-12-05 17:39] jonparrott commented on #697
@bluecmd there may be something wonky with the cloud shell credentials.

@ryanmats can you take a look?

[2016-12-05 19:23] ryanmats commented on #697
@bluecmd Hi Christian! I just looked at your issue and it looks like you can resolve it by generating a service account key file in JSON (https://developers.google.com/identity/protocols/OAuth2ServiceAccount#creatinganaccount). Once this file is downloaded to your computer, move it to a desired location and set the GOOGLE_APPLICATION_CREDENTIALS environment variable to the path to the key file, fo

[2016-12-05 19:23] #697 closed

[2016-12-05 22:11] bluecmd commented on #697
@ryanmats Thanks, but surely that should Just Work(tm) on the cloud shell? "Once that file is downloaded to your computer" doesn't really work that well in Cloud Shell and is quite inconvenient.

[2016-12-05 23:04] jonparrott commented on #697
@bluecmd indeed. We're aware of this problem. It's due to a quirk in how cloud shell provides credentials. We've referenced this github issue on the internal bug, and we'll update if there's a resolution.

[2016-12-05 23:13] bluecmd commented on #697
@jonparrott Thanks!

[2016-12-09 03:34] griffin2000 opened #707 "Permission denied running crud_object.py"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/api/crud_object.py

## Describe the issue

As written the crud_object.py file main function will fail with this error (on windows at least):
[code]

The issue is that NamedTemporaryFile keeps the file handle open so that when filecmp attempts to open it, it will fail with a

[2016-12-09 05:02] omaray opened #708 "Update Python samples for google-cloud to use latest library versions"
We will be updating several of our libraries to a new version imminently: https://github.com/GoogleCloudPlatform/google-cloud-python/releases

Especially important is that BigQuery, Storage, Datastore, and Logging are now at Beta.

We should update all our samples to test against the latest library for each of these APIs.

(and we can update the other samples for all other APIs to use the latest l

[2016-12-09 06:17] jonparrott commented on #708
This is automated. Worst case, it take a day for that to happen.

On Thu, Dec 8, 2016, 9:02 PM Omar Ay <notifications@github.com> wrote:

[2016-12-09 15:41] jeremykeen commented on #695
What is the timing of the redirect removal?  Until then, the sample app code does not work with pub/sub because it leverages App Engine Flex.

[2016-12-09 17:22] jonparrott commented on #695
No timeline, but it is a high priority issue.

[2016-12-09 18:07] omaray commented on #708
SG.

[2016-12-13 10:17] koendewit opened #716 "Sample app: uploading directly to GCS"
There is a sample web app for uploading files **directly** into the **blobstore**, using blobstore.create_upload_url(): https://github.com/GoogleCloudPlatform/python-docs-samples/blob/06d9254ec77955c02f18cd79a57cdfbd64dbf8ea/appengine/standard/blobstore/main.py

There is also a sample web app for uploading a file into **GCS**, but that sample does not use direct upload. The sample app accepts the

[2016-12-13 17:12] samuelleach opened #717 "Google Translate example not working"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/translate/cloud-client/quickstart.py

### Did you change the file? If so, how?

I'm running the following code within a Jupyter Notebook (py 3.5):

[code]

I'm trying to run the new neural machine translation machine.

Up to now I've been using

[code]
which has been working, but d

[2016-12-13 17:42] jonparrott commented on #717
@samuelleach can you share with me what `client._connection._credentials` returns? (alternatively, what do you get if you do `import google.auth; print(google.auth.default())`)

[2016-12-13 18:11] jonparrott commented on #716
Hi @koendewit this is a fantastic request. This is possible with GCS, but it's not trivial. There's two options:

1. You can start a [resumable upload and then give the upload URL to a client to continue uploading](https://cloud.google.com/storage/docs/access-control/signed-urls#signing-resumable). This works best for mobile clients. There's an [open issue for support on this in the cloud client l

[2016-12-13 18:12] samuelleach commented on #717
Ok - here is the requested info:

`translate_client._connection._credentials`
`<google.oauth2.credentials.Credentials at 0x106d53940>`

`import google.auth; print(google.auth.default())`
`(<google.oauth2.credentials.Credentials object at 0x106d53e80>, '******')`

(I redacted the project name in the second example above).

[2016-12-13 18:15] jonparrott commented on #717
Thanks - so the translate API can't use these credentials. Admittedly, this is confusing and surprising and I'm going to update the auth library to give a better error message.

You'll need to get service account credentials in order to use the translate API, here's some instructions but feel free to comment here if you run into any trouble: https://cloud.google.com/speech/docs/common/auth#set_up_

[2016-12-13 18:15] #717 closed

[2016-12-13 18:20] samuelleach commented on #717
Ok thanks for your help - appreciated.

[2016-12-13 18:20] jonparrott commented on #717
@samuelleach thank you! You found a bug in our auth library's error reporting. :)

[2016-12-14 13:01] chan71 opened #719 "Getting AttributeError in Streaming API client"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/transcribe_streaming.py

### Did you change the file? If so, how?
No changes to file.

## Describe the issue
Getting an error when the file is run after setting the environment variable `GOOGLE_APPLICATION_CREDENTIALS`. I'm using Python 2.7.11 on Windows 8.1.

Stack trac

[2016-12-14 17:47] jonparrott commented on #719
@chan71 can you give me the output of ```pip freeze```?

[2016-12-14 20:51] lhmatt opened #721 "Bug in app.yaml"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/endpoints-frameworks-v2/echo/app.yaml

## Describe the issue

On line 31 where you define the `ENDPOINTS_SERVICE_NAME` environment variable. The example begins `echo-api.endpoints` but this is not valid. It needs to be `echo.endpoints`.

If you were to simply cha

[2016-12-14 20:52] jonparrott commented on #721
@sepehre @saicheems can one of you confirm?

[2016-12-14 21:03] sepehre commented on #721
Correct, this is a doc bug. I'll update https://cloud.google.com/endpoints/docs/frameworks/python/quickstart-frameworks-python to say "echo-api.endpoints..." so this sample is consistent with all the others.

Thanks for letting us know!

[2016-12-14 21:03] jonparrott commented on #721
Great, I'll close this bug. :)

Thanks @sepehre and thanks @lhmatt for reporting.

[2016-12-14 21:03] #721 closed

[2016-12-14 23:58] chan71 commented on #719
Please find the output of `pip greeze`

[code]

[2016-12-15 00:02] jonparrott commented on #719
Ah I see, this whole sample needs to be updated to use `google.auth`.

Maybe @jerjou or @ryanmats  can handle it?

We should essentially replace `make_channel` with http://google-auth.readthedocs.io/en/latest/reference/google.auth.transport.grpc.html#google.auth.transport.grpc.secure_authorized_channel

[2016-12-15 00:29] chan71 opened #723 "Compile errors when installing required module in opennao vm (based on Gentoo OS)"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/requirements.txt

### Did you change the file? If so, how?
No

## Describe the issue
In order to run  transcribe_streaming.py, I had to install the following modules among other things as per requirements.txt
grpcio==1.0.3
grpc-google-cloud-speech-v1beta1==0.11.1

When t

[2016-12-15 01:08] chan71 commented on #719
Thanks @jonparrott for the direction. I'm trying adding google.auth to the sample myself. Is there any other sample that is up to date with google.auth?

[2016-12-15 01:31] jonparrott commented on #719
Not one that users grpc directly.

On Wed, Dec 14, 2016, 5:08 PM chan71 <notifications@github.com> wrote:

[2016-12-15 02:06] chan71 commented on #719
In my attempt at getting google.auth added to transcribe_streaming.py, I modified the code to use google.auth as given in [here](http://google-auth.readthedocs.io/en/latest/reference/google.auth.transport.grpc.html#google.auth.transport.grpc.secure_authorized_channel).

Installed google-cloud-speech-v1 using `pip install grpc-google-cloud-speech-v1` before running the file. But getting the followi

[2016-12-15 17:33] jerjou commented on #707
Ended up removing those bits of code, since they were peripheral to the sample.

[2016-12-15 17:33] #707 closed

[2016-12-15 17:42] jonparrott commented on #723
@chan71 thanks for the detailed report.

1. Can you tell me which version of pip you're using? grpcio distributes manylinux wheels, so there shouldn't be any compilation *unless* you have an old pip or a very unique linux environment.
2. If you do need to build grpc, you'll need your distributions' equivalent of debian's build-essential, autoconf, and libtool packages.

[2016-12-15 18:30] jonparrott commented on #719
@chan71 seems it was a more significant change than anticipated: We have a PR out to fix this here: https://github.com/GoogleCloudPlatform/python-docs-samples/pull/724

[2016-12-15 20:18] #719 closed

[2016-12-16 00:06] chan71 commented on #723
@jonparrott  you are right. my opennao VM box has pip 1.0.2 where as the windows machine has pip 9.0.1. Does pip 1.0.2 needs compilation? If so, should I upgrade pip in opennao VM and try out?

[2016-12-16 00:19] jonparrott commented on #723
@chan71 yeah pip 1.0.2 doesn't have wheel support. I highly, highly recommend updating because 1.0.2 was released in [2011](https://github.com/pypa/pip/releases/tag/1.0.2).

I'm going to go ahead and close this issue, but feel free to continue to comment if you need any more assistance.

[2016-12-16 00:19] #723 closed

[2016-12-16 00:26] chan71 commented on #723
@jonparrott thanks a lot for your insights into this issue. I will upgrade the pip and let you know.

[2016-12-16 02:15] chan71 commented on #719
Works like a charm. Appreciate your fast turnaround in fixing this @jonparrott and team

[2016-12-16 02:20] jonparrott commented on #719
Happy to help!

On Thu, Dec 15, 2016, 6:15 PM chan71 <notifications@github.com> wrote:

[2016-12-17 01:13] chan71 commented on #723
@jonparrott after updating the pip in the opennao VM, we were able to proceed installing `grpcio `and `grpc `packages. We could run the latest sample but it threw an error due to input device (mic) not being present in the vm. I think this is fine.

![audio-device-error](https://cloud.githubusercontent.com/assets/5590751/21283018/a221db24-c421-11e6-85e6-6d4485a34e07.png)

However, when we tried in

[2016-12-17 01:20] chan71 commented on #723
@jonparrott can you kindly reopen this issue as I cannot reopen it. As the findings from our tests for now is on Robot is related to those of the previous findings which were related Robot OS VM provided for development.

[2016-12-18 05:23] chan71 opened #728 "Unable to install required packages in NAO Robot (based on Gentoo OS)"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/requirements.txt

### Did you change the file? If so, how?
No

## Describe the issue

This is a sequel of the issues #723 that was closed 2 days back. I could have added this under same issue had it not been closed as both issues are related. #723 is about compiler error

[2016-12-19 17:15] jerjou commented on #728
Hm... interesting. It looks like [other folk](http://stackoverflow.com/questions/23100780/troubles-with-gentoo-version-on-the-robot-nao) have encountered this issue with portaudio on Nao as well. From the looks of your trace, it seems like pyaudio is attempting to build an extension in addition to the actual portaudio install - indeed, when I look at my virtualenv, I see a portaudio library within

[2016-12-19 17:17] jonparrott commented on #728
If you copy the venv, be sure to run [`virtualenv --relocatable ENV`](https://virtualenv.pypa.io/en/stable/userguide/#making-environments-relocatable) or better yet use [`pip wheel`](https://pip.pypa.io/en/stable/user_guide/#installation-bundles).

[2016-12-19 23:47] chan71 commented on #728
@jerjou thanks for the suggestions. We followed a similar path yesterday to copy portaudio and pyaudio files from NAO VM to NAO. These are the files we copied.

[code]
Files copied are as below:-
[code]

Now it is possible to play an audio file using pyaudio in NAO using [following script](http://stackoverflow.com/questions/38470321/ioerror-errno-invalid-output-device-no-default-output-device-9996

[2016-12-20 01:23] chan71 commented on #728
Furthermore, can arecord be used instead of pyaudio / portaudio for streaming with google speech API? We have tried this approach for other streaming APIs with success. Is there any sample written using arecord that can be reused streaming audio to google speech?

[2016-12-20 15:22] chan71 commented on #728
I commented pyaudio references in the record_audio(rate, chunk) method with the arecord code given below.

[code]

Couldn't quite get it to work but hope this is a starting point. Appreciate your comments.

[2016-12-20 18:02] jerjou commented on #728
Hm... yeah - we use pyaudio mainly because it's cross-platform, so we can have one sample for linux, osx, and windows. I'm not familiar with the Nao environment, but if it's got arecord / alsa, you might try using [`pyalsaaudio`](https://github.com/larsimmisch/pyalsaaudio) instead, especially if `arecord` is successfully identifying your input device. In principle you should be able to subprocess

[2016-12-20 23:48] chan71 opened #733 "ImportError: No module named sysconfig when installing the dependencies"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/requirements.txt

### Did you change the file? If so, how?
No

## Describe the issue
Target was to install cloud speech SDK in CentOS 6.6. and run the [transcribe_streaming.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/transcribe_

[2016-12-21 02:16] chan71 commented on #733
Got it sorted out. It was an issue with python 2.6.6 that I was having. I updated the python to 2.7.12 and used to create a virtual environment.
`bash-4.1$ virtualenv -p python2.7 env`

Dependencies got installed correctly except pyaudio. Issue could be due to portaudio not been installed in CentOS. For now, I can live with it as I'm working on using arecord / alsa for streaming audio to cloud spe

[2016-12-21 18:02] jerjou commented on #733
Yeah - the portaudio dependency is a pain, but necessary for cross-platform device support. Hopefully getting alsa to work will be easier :-)

[2016-12-21 18:02] #733 closed

[2016-12-21 18:27] chan71 commented on #728
I got `transcribe_streaming.py` to work with arecord and ubuntu 16.04 on Oracle VirtualBox (host windows 8). I could not get the CentOS 6.6. to be configured to recognize input device and hence ubuntu was chosen for testing with arecord.

I could run the modified script for 1 minute, but it crashed with an error afterwards. Can you explain what the Client GRPC deadline is and how to adjust it to k

[2016-12-21 18:31] jerjou commented on #728
Yup! See #517

[2016-12-21 18:31] #728 closed

[2016-12-21 22:52] vladanostojic opened #736 "_Rendezvous of RPC that terminated with (StatusCode.CANCELLED, Cancelled!)"
I was running the following file:

/python-docs-samples/speech/grpc/transcribe_streaming.py

as following:

python transcribe_streaming.py

It works fine (I get transcript of my speech) until I press Ctrl+C. When I press Ctrl+C I get the following error:

^CTraceback (most recent call last):
  File "transcribe_streaming.py", line 234, in <module>
    main()
  File "transcribe_streaming.py", line 2

[2016-12-21 22:59] jerjou commented on #736
Yeah - I just saw this too. I believe the library got updated and now the exception that's being thrown is different... fix forthcoming...

[2016-12-21 23:06] vladanostojic commented on #736
Ok, thanks!

[2016-12-22 00:25] #736 closed

[2016-12-22 01:14] jerjou commented on #517
Okay - I have a draft (or two) of a solution to this. Check out [the minute_workaround branch](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/minute_workaround/speech/grpc). It has two additional files:

* `transcribe_streaming_minute.py` which listens normally until `WRAP_IT_UP_SECS` seconds before the minute mark, then starts looking for the `END_OF_SPEECH` marker. Once it hits

[2016-12-22 17:08] chan71 opened #738 "Getting streaming too fast and too slow for same sample rate during testing"
## In which file did you encounter the issue?
[transcribe_streaming.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/transcribe_streaming.py)

### Did you change the file? If so, how?
Yes, to use arecord instead of pyaudio/portaudio. You can find the modified file (transcribe_streaming_arecord.py) attached to 7th comment of #728

## Describe the issue
When the

[2016-12-22 17:30] jerjou commented on #517
Updated to minimize the amount of audio lost between streams. It seems to work pretty seamlessly for me, though I have trouble coming up with things to say to fill in the silence -_-; Maybe I should read from a novel or something for my testing...

Anyway, any feedback would be appreciated. I'll probably leave the branch to simmer over the new year, and if I don't hear any opinions, I'll pick one

[2016-12-22 17:51] jerjou commented on #738
From the looks of [your code](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/728#issuecomment-268270283), it looks like you're reading in all the audio to transcribe first, and only after you're finished are you sending the data to the api. Thus, the API is getting the entire audio chunk at once, instead of in realtime. You'll want to do something more like this:

[code]

ie spi

[2016-12-22 21:29] jerjou commented on #517
Added a ring buffer to capture some overlapping audio between streams, just for funsies. ;-) Should be fairly robust now.

[2016-12-28 16:31] chan71 commented on #738
@jerjou thanks for the suggestion. We tried out this approach during last could days. We could not get the streaming too fast issue sorted out on NAO robot though. Same code is working fine on my Ubuntu 16.04 without giving this error.

The difference between Ubuntu 16.04 and NAO OS (based on Gentoo distribution) is that
- python 2.7.13 on Ubuntu
- python 2.7.3 on NAO OS (we cannot update this to

[2016-12-28 16:32] chan71 commented on #738
@jerjou thanks for the suggestion. We tried out this approach during last could days. We could not get the streaming too fast issue sorted out on NAO robot though. Same code is working fine on my Ubuntu 16.04 without giving this error.

The difference between Ubuntu 16.04 and NAO OS (based on Gentoo distribution) is that
- python 2.7.13 on Ubuntu
- python 2.7.3 on NAO OS (we cannot update this to

[2016-12-28 16:59] chan71 opened #740 "Getting SNIMissingWarning and InsecurePlatformWarning in python 2.7.3"
## In which file did you encounter the issue?
[transcribe_streaming.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/transcribe_streaming.py)

### Did you change the file? If so, how?
Yes, see attached file.
[trans_streaming_1.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/files/675919/trans_streaming_1.txt)

## Describe the issue
We executed

[2016-12-30 16:46] chan71 opened #742 "Streaming too fast from Streaming API sample code (unmodified)"
## In which file did you encounter the issue?
[transcribe_streaming.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/grpc/transcribe_streaming.py)

### Did you change the file? If so, how?
No

## Describe the issue
We have witnessed a very inconsistent behavior of streaming API functionality of google cloud speech service during the last week in our testing in diff

[2017-01-01 07:38] c-bata opened #743 "README of translation API is old."
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/translate/cloud-client/README.rst

### Did you change the file? If so, how?

## Describe the issue

I want to use Google Translate API.
So I read the README and get API Key from CloudPlatform Console.

But, the snippets don't use `API Key` . So I searched the issues and found follow

[2017-01-03 18:01] jonparrott commented on #740
Use [pyOpenSSL](https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2)

Unlikely

[2017-01-03 18:01] #740 closed

[2017-01-04 17:13] chan71 commented on #742
@jerjou Is this due to an issue from GCP speech service or the way sample client code is written?

[2017-01-04 17:14] chan71 commented on #738
@jerjou is there any update on this? This is a blocker issue for us in our development. You input is much appreciated.

[2017-01-04 21:21] jerjou commented on #742
Huh... interesting. The "streamed too fast" error you're getting occurs when the sample rate specified in the initial config request doesn't match the rate at which the api is receiving the data. I've seen it happen when the device was opened with a different sample rate than was sent in the config request (See [#364](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/364#issuecomme

[2017-01-04 22:07] jerjou commented on #738
I'm able to reproduce the issue by introducing network latency on my test machine. Does this happen when the network connection is reliable as well, or is it always patchy on the Nao?

I also notice from the output in your initial comment that `asound` is actually recording at 14000 Hz. It's possible the Nao sound card doesn't support 16000? Did you adjust the `RATE` constant in the script to comp

[2017-01-04 23:25] jerjou commented on #738
Oops - clicked 'Comment' before I was done with the thought.

So, the sample [was written](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/4e68accd47256c4c7ad84439ae444813ca3ed8b5/speech/grpc/transcribe_streaming.py#L74) in a way that, if you sleep, the audio data will continue to buffer, and just send it all at once in the next request. If the rate of the microphone generating dat

[2017-01-05 00:03] chan71 commented on #742
@jerjou I have set the sampling rate of input device to 2 channel, 16 bit, 48000 Hz. The options available from my laptop (hp elitebook 8570w with windows 8) limits to 2 channels and higher sampling rates. Unfortunately I don't see mono channel and lower sampling rate options in audio recording properties.

![elitebook-8570w-win8-sampling-rates](https://cloud.githubusercontent.com/assets/5590751/2

[2017-01-05 00:21] chan71 commented on #738
@jerjou thanks for the reply.

NAO does support 16 kHz. What I added to initial comment was one test we did with changing rate to 14 kHz.

I accept that network is bit slower/unstable where NAO is tested. Can you point me to a sample that uses `pyalsaaudio`?

I've seen that users have to put 100 ms of audio every 100 ms in the streaming channel. If a 100 ms audio packet gets delayed to reach GCP a

[2017-01-05 00:28] chan71 commented on #742
@jerjou another observation is that when I changed rate back to 16 kHz and channels = 1, I could get the transcripts for 1 min without 'streaming errors'. I wasn't able to get any transcripts yesterday around this time having tried running the sample for 3 times. I noticed this behavior multiple times during last two weeks. Doesn't this suggest a problem at server side? If the sampling rate is the

[2017-01-05 00:40] jerjou commented on #742
Per https://goo.gl/z757pE, the api only supports 1-channel (and per https://g.co/cloud/speech/limits#content streaming is limited to 1 minute)

Looking into whether there was a server outage yesterday..

[2017-01-05 01:14] chan71 commented on #742
@jerjou check with back end guys on how stable the speech API is. I'm asking this as this is in beta. Could it have issues that lead to 'streaming too fast' error at times during a day. I have seen this issue time to time during the past two weeks. I tested it once more now and it works fine.

[2017-01-05 21:20] Aakash282 opened #747 "Speech API asynchrecognize returning without transcription"
## In which file did you encounter the issue?

[transcribe_async.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api-client/transcribe_async.py)

### Did you change the file? If so, how?
No
## Describe the issue
I ran the async transcription but there are no results:

$> python transcription.py 30\ Second\ Elevator\ Speech.mp3
"name": "2031513765692485155"}
Waitin

[2017-01-05 21:37] puneith commented on #747
@Aakash282 Checkout the format https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/api-client/transcribe_async.py#L62 and give the raw format as input file.

[2017-01-06 22:44] jerjou commented on #738
(FYI I agree with you, and am investigating things on the server end - might be a bug on our side. Will update when I find out more)

[2017-01-08 12:20] chan71 commented on #738
I have modified the code to use pyalsaaudio. We will try it out on NAO Robot tomorrow and let you know how it goes. Attached is the modified code.
[transcribe_streaming_alsa.py.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/files/692078/transcribe_streaming_alsa.py.txt)

[2017-01-10 01:09] chan71 commented on #738
@jerjou do you have any update on server side issues related to this?
I tried `pyalsaaudio `sample in opennao vm but it failed to `emrge `the pyalsa module as downloaded file size did not match with checksum. I will try again today.

[code]

[2017-01-10 23:16] waprin opened #752 "Built-in memcache seems broken"
## In which file did you encounter the issue?
/appengine/flexible/memcache

I commented out memcache server and uncommented: USE_GAE_MEMCACHE

On deploy and `gcloud app browse` I see:

error 3 from memcached_get(counter): (0x14b9130) CONNECTION FAILURE(Connection refused),  host: localhost:11211 -> libmemcached/connect.cc:156

[2017-01-10 23:16] waprin commented on #752
@jonparrott any ideas?

[2017-01-11 17:31] jerjou commented on #738
Turns out I was wrong about the bug I thought I saw. Still investigating..

Instead of installing the python packages globally on your system, I'd recommend installing it in a virtualenv - that way you can be certain you've got all the right versions, without conflicting with any packages already installed on the system. Then you should just be able to `pip install pyalsaaudio`.

[2017-01-11 17:58] jonparrott commented on #752
@waprin Memcache is alpha and whitelist only right now. That's probably what's up.

[2017-01-11 20:06] #752 closed

[2017-01-15 12:23] chan71 commented on #738
@jerjou Yes, I have installed the packages inside a virtual environment as read me file suggests. However, it threw that checksum issue. I'm working on it to get it corrected. I just got the same package downloaded in one of my development machines which has opennao vm without an error. Hope to push it to nao from a fresh installation of opennao vm.

Is there any update from the back end guys? I c

[2017-01-17 17:55] jerjou commented on #738
Yeah - they're looking into it; but keep in mind they're juggling other priorities (and it wasn't the obvious bug). I'll update here when I hear more.

[2017-01-26 05:48] ToryHwang commented on #742
Hi. Tory.
The same issue occurred.

I am using ubuntu 16 on Raspberry pi 3.
And audio uses usb audio.
Is there any solution?

=========================================
ras@ras:~$ **aplay -l**
**** List of PLAYBACK Hardware Devices ****
card 0: ALSA [bcm2835 ALSA], device 0: bcm2835 ALSA [bcm2835 ALSA]
  Subdevices: 8/8
  Subdevice #0: subdevice #0
  Subdevice #1: subdevice #1
  Subdevice #2: subde

[2017-01-26 17:45] #747 closed

[2017-01-31 18:59] imneo1 opened #769 "Clone not available ?"
I think the command and error are explaining the issue (Can't clone)

:~$ git clone https://github.com/GoogleCloudPlatform/python-dev-samples/language/sentiment/
Cloning into 'sentiment'...
remote: Not Found
fatal: repository 'https://github.com/GoogleCloudPlatform/python-dev-samples/language/sentiment/' not found

[2017-01-31 19:25] jonparrott commented on #769
You should just clone the top-level, then cd into it.

[code]

[2017-01-31 19:25] #769 closed

[2017-01-31 22:51] waprin opened #771 "TESTING.md has broken link"
https://pypi.python.org/pypi/gcp-python-repo-tools doesn't exist.

[2017-01-31 22:51] jonparrott commented on #771
Hrm, it's not published. We should just link to the github repo.

[2017-02-01 05:20] imneo1 commented on #769
Yes, please update the instructions
Thank you

[2017-02-01 05:54] jonparrott commented on #769
Where did you come across these instructions?

On Tue, Jan 31, 2017, 9:20 PM imneo1 <notifications@github.com> wrote:

[2017-02-01 06:27] imneo1 commented on #769
Here under "Download the Code"
https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/language/sentiment

[2017-02-01 06:58] jerjou commented on #769
Neat - github lets me edit the file directly in the web interface...

[2017-02-08 00:50] scheung38 opened #787 "How to run the images sample and Unable to find the Python PIL library?"
Tried to open at the python-docs-samples/images level i PyCharm:

/api
/guestbook

But not sure how to run it?

When trying to run main.py:

[code]
Also Unable to find PIL? Even though it is installed with pip?

I did noticed that there is no GAE as its External Libraries, so best practice to open another new Google App Engine app within PyCharm and copy and paste these two directories? Do I need

[2017-02-08 18:35] jonparrott commented on #787
Hi @scheung38!

There are two separate images API samples.

* `/appengine/standard/images/api` is a basic sample showing the functionality of the images API.
* `/appengine/standard/images/guestbook` is a sample that shows the images API in the context of the guestbook example.

You'll need to open and run them separately.

[2017-02-08 18:35] #787 closed

[2017-02-09 14:13] scheung38 commented on #787
Thanks Jon there any examples showing how to load and persist more than one image as it is limited to just one image that can be loaded?

[2017-02-09 17:25] jonparrott commented on #787
@scheung38 not direct examples, but you can upload as many blobs as you want and use them with the images API. Just provide a different blob key.

[2017-02-09 18:31] scheung38 commented on #787
A different blob key for each image upload?

Also blobstore and ndb are similar ?

[2017-02-09 18:54] jonparrott commented on #787
Yes.

[2017-02-10 18:06] DMTSource opened #795 "Possible duplicate examples for Endpoints on Flex in repo"
I am working with the Quickstarts for Endpoints beta. I was wondering why both docs, [Quickstart for Enpoints on Flex](https://cloud.google.com/endpoints/docs/quickstart-app-engine) and [Quickstart for Endpoints on Compute](https://cloud.google.com/endpoints/docs/quickstart-compute-engine), link to the same example code while separate demos with slight differences exist in the repo. Is "appengine/

[2017-02-10 18:07] jonparrott commented on #795
We have a bug to eliminate one: @ryanmats can you speak to this?

[2017-02-10 18:37] ryanmats commented on #795
@DMTSource We are in the process of removing "appengine/flexible/endpoints" - it will be removed once we finish changing every relevant link on cloud.google.com.

[2017-02-11 03:20] puneith commented on #683
@baditaflorin Did it work for you?

[2017-02-13 12:58] bgrgicak opened #801 "Error for short audio file"
## In which file did you encounter the issue?

/home/bero/.local/lib/python3.5/site-packages/oauth2client/_helpers.py
/home/bero/.local/lib/python3.5/site-packages/googleapiclient/http.py

### Did you change the file? If so, how?

No

## Describe the issue

When i try to analyze a audio file with google speech api i get a error that the file is longer then 1min but the file is 30sec long. File in

[2017-02-13 17:02] jonparrott commented on #801
@gguuss or @jerjou, any thoughts?

[2017-02-13 17:54] gguuss commented on #801
I have seen the filesize get misinterpreted on certain formats. Are you sure you're using the right format?  Can you encode the file as FLAC?

[2017-02-13 19:08] jerjou commented on #801
Yeah - it looks like the file is encoded as WAVE instead of raw. It's correctly 16-bit little-endian at 16khz, but it's stereo, which [isn't supported](https://cloud.google.com/speech/reference/rest/v1beta1/RecognitionConfig#audioencoding). I was able to get it to work after re-encoding it to 1 channel (`sox 33852851486977924039000.wav foo.wav channels 1`). Interestingly, the api doesn't seem to c

[2017-02-13 19:11] jerjou commented on #801
Closing for now - please reopen if this doesn't fix the issue!

[2017-02-13 19:11] #801 closed

[2017-02-14 00:07] gguuss commented on #683
@baditaflorin - I see that you are getting **HTTP 403** error codes. You need to [Enable the speech API in your Cloud API Project](https://cloud.google.com/natural-language/docs/getting-started#set_up_your_project) and set the **GOOGLE_APPLICATION_CREDENTIAL** environment variable to the service account credentials that you downloaded when you set up the project.

[2017-02-14 00:21] gguuss commented on #743
I updated the README in [this PR](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/802), changes should be merged, feel free to reopen if the instructions are still causing issues for you.

[2017-02-14 00:21] #743 closed

[2017-02-14 11:15] bgrgicak commented on #801
Converting the file to flac mono solved the issue. Thank you for your help!

[2017-02-15 06:50] KJow opened #807 "Google Speech API/How do I extend the stream duration?"
I had tried grpc/transcribe_streaming.py code. It seems really cool.
It will ended after 65 seconds.
"Exceeded maximum allowed stream duration of 65 seconds."
I had tried to modify the "DEADLINE_SECS" for more time but not working.
Is there anyone know how to extend the time?

[2017-02-15 17:16] jonparrott commented on #807
@jerjou @gguuss

[2017-02-15 18:32] jerjou commented on #807
Hello!
The streaming API is currently [limited to 1 minute](https://cloud.google.com/speech/limits) of audio.

From some discussion in #517, I wrote another sample in the [minute_workaround](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/minute_workaround/speech/grpc) branch that restarts the stream at appropriate times, that you might find helpful if you need to stream audio for

[2017-02-15 18:32] #807 closed

[2017-02-17 03:46] araa47 opened #811 "ImportError: No module named longrunning"
## In which file did you encounter the issue?
While running trancribe_streaming.py for speech to text

### Did you change the file? If so, how?
No

## Describe the issue

Akshays-iMac-2:grpc akshay$ python transcribe_streaming.py
Traceback (most recent call last):
  File "transcribe_streaming.py", line 29, in <module>
    from google.cloud.grpc.speech.v1beta1 import cloud_speech_pb2
  File "/usr/l

[2017-02-17 16:55] jonparrott commented on #811
@araa47 Are you using `virtualenv`? If so, can you tell me the output of `pip freeze`?

[2017-02-21 19:52] ndy1g14 opened #816 "transcribe 3gp audio"
I cannot manage to transcribe a simple 3gp audio file with the google cloud speech api. Your example is running fine with audio.raw but when I change it to my file it goes wrong.

Recording is made like this in my android device:
[code]
I transcribe it like this:

[code]

Encoding and sample rate is correct but I get:

[code]

[2017-02-22 10:40] Neeraj-ky commented on #811
@jonparrott  I am facing same issue when trying to use RPC call for streaming request.
I am using **virtualenv** and output for **pip freeze** is -

$ pip freeze
Warning: cannot find svn location for distribute==0.6.24dev-r0
Cython==0.15.1
Django==1.4.22
Fabric==1.8.2
Flask==0.8
FormEncode==1.2.4
GeoIP-Python==1.2.4
GnuPGInterface==0.3.2
Jinja2==2.6
M2Crypto==0.21.1
Mako==0.7.0
MarkupSafe==0.15
My

[2017-02-22 17:04] jonparrott commented on #811
@lukesneeringer any ideas on this?

[2017-02-22 17:05] jonparrott commented on #816
@jerjou @gguuss I don't think the backend accepts .3gp audio, can either of you confirm?

[2017-02-22 17:08] jonparrott commented on #811
also @jerjou

[2017-02-22 17:10] paktree opened #819 "CORS issue when running the firenotes example"
## In which file did you encounter the issue?

python-docs-samples/appengine/standard/firebase/firenotes/

### Did you change the file? If so, how?

I followed the instruction on the firenotes page to deploy the app to app engine

## Describe the issue

When It's trying to save the note, it throws the following error in the browser console:

Failed to load resource: the server responded with a sta

[2017-02-22 17:11] jonparrott commented on #819
@paktree can you try using `backend.my-prototype.appspot.com` instead?

[2017-02-22 17:44] paktree commented on #819
Ah, that makes sense. I'll give it a try, thanks!

[2017-02-22 17:50] jonparrott commented on #819
Let me know. It probably wouldn't kill us to add CORS headers to the backend anyway.

[2017-02-22 19:20] jerjou commented on #811
@Neeraj-ky Are you sure you're using a virtualenv? Did you remember to run `your-virtual-env-dir/bin/activate`? For example, here is what my `pip freeze` looks like for running `transcribe_streaming.py`:

[code]

Diffing this against yours, it looks like a couple modules aren't installed (eg `appdirs`, `PyAudio`, etc). Try installing the `speech/grpc/requirements.txt` in a clean virtualenv and see

[2017-02-22 22:45] jerjou commented on #816
Hm.. this should work. It looks like you're correctly specifying the AMR codec and bitrate.

Oh okay - it looks like it's this bug: [google-cloud-python#2947](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2947). Looks like it's been fixed, although I get other errors when I try to `pip install -e "git+https://github.com/GoogleCloudPlatform/google-cloud-python.git#egg=google-clo

[2017-02-23 03:50] paktree commented on #819
no luck on that, I'm getting some certificate error after changing -dot- to "."

I found a SO that looks like -dot- is intended to get around the certificate issue: http://stackoverflow.com/questions/10283628/appengine-how-to-not-get-a-certificate-warning-with-backend-secure-connection

How do I add CORS headers to the backend? Or there is something I am missing?

[2017-02-23 03:51] lukesneeringer commented on #811
`google.longrunning` is provided by the `google-gax` package, which I do not see in the pip freezes being pasted here. It might be that we have a package that depends on it that is not explicitly requiring it?

[2017-02-23 03:54] lukesneeringer commented on #811
I am noticing in these freezes:

  * They contain `grpc-google-cloud-speech-v1beta1==0.14.0`; on the current version of speech, this would be `proto-google-cloud-speech-v1beta1==0.15.0`
  * Similarly, `gapic-google-cloud-speech-v1beta1==0.15.0` should be present, and is not, and this would have depended on `google-gax`.

What package are you initially installing?

[2017-02-23 20:37] henriquesg opened #821 "Endpoints 2.0 App Engine standard quickstart is broken"
Here's the quickstart:
https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/endpoints-frameworks-v2/quickstart

When you deploy this guy, you get the following error:
```ApiConfigurationError: Attempting to implement service authed_greeting, version v1, with multiple classes that are not compatible. See docstring for api() for examples how to implement a multi-

[2017-02-23 21:00] jonparrott commented on #821
@sepehre @saicheems any ideas on this one?

[2017-02-24 17:46] henriquesg commented on #821
Seems someone created a related issue in google-endpoints:
https://github.com/cloudendpoints/endpoints-python/issues/46

[2017-02-24 23:16] paktree commented on #819
Just want to update this thread. After looking at the log, the CORS was not the culprit that causing this to fail. After starting from fresh, I was able to get it working. I may have run the pip install packages at the wrong directory and causing some missing libraries. But it's not obvious to catch at all.

Thanks!

[2017-02-24 23:22] ryanmats commented on #819
@paktree great, thanks for the update. Let us know if you have any other questions or comments about the code samples!

[2017-02-24 23:22] #819 closed

[2017-02-26 20:06] SilviaSantano commented on #728
@chan71  how could you copy the portaudio files into /usr directory on nao? I am trying but I get permission denied and seems am not allowed to execute it as root...

[2017-02-26 20:54] SilviaSantano commented on #728
@chan71  according to http://doc.aldebaran.com/2-4/naoqi/audio/alaudiodevice.html#alaudiodevice the configuration 44100 one channel is not possible, I think this might be your problem. I got your script to work using 16000 and one channel with portaudio

[2017-02-27 17:00] ndy1g14 commented on #816
Thanks for the great responses guys. My problem was that I copy code without looking at it.

`mediaRecorder.setAudioEncoder(MediaRecorder.OutputFormat.AMR_NB);`

should be

`mediaRecorder.setAudioEncoder(MediaRecorder.AudioEncoder.AMR_NB);`

The constants are different in the documentation.

[2017-02-27 17:01] #816 closed

[2017-02-28 02:17] elibixby opened #828 "Enable ml_engine.online_prediction.predict_test.test_predict_tfrecords"
Once b/35778449 has been fixed. Need to create a model version named `v1tfrecords` using the successful model binaries, and enable `ml_engine.online_prediction.predict_test.test_predict_tfrecords` targeting that model version.

[2017-02-28 02:18] elibixby opened #829 "Generate readme for ml_engine/online_prediction/README.md"
Docs link is available in the README.

[2017-02-28 09:22] briandeheus opened #831 "Thread locked when using CloudLoggingHandler in Django"
n/a

[2017-02-28 09:42] briandeheus commented on #831
I just realised I commented on the wrong repo...

[2017-02-28 09:42] #831 closed

[2017-02-28 19:01] ghost opened #833 "RetryError using batch() on App Engine Flex"
Hi,
I get the following exception using the batch() api on AppEngine Flex.
[code]
DEBUG:google_auth_httplib2:Making request: POST https://accounts.google.com/o/oauth2/token
ERROR:root:Exception occurred in retry method that was not classified as transient
<class 'google.gax.errors.RetryError'>

Package:
google-cloud-vision (0.23.2)

[2017-02-28 20:22] jonparrott commented on #833
@sprakash3 do you have any other logs? The RetryError seems to be obscuring the real error.

/cc @lukesneeringer

[2017-02-28 20:51] #179 closed

[2017-02-28 20:51] #317 closed

[2017-02-28 20:52] #347 closed

[2017-02-28 20:52] #359 closed

[2017-02-28 20:52] #395 closed

[2017-02-28 20:53] jonparrott commented on #530
(Closing due to inactivity, feel free to comment and we'll re-open)

[2017-02-28 20:53] #530 closed

[2017-02-28 20:53] jonparrott commented on #640
(Closing due to inactivity, feel free to comment and we'll re-open)

[2017-02-28 20:53] #640 closed

[2017-02-28 20:53] jonparrott commented on #562
(Closing due to inactivity, feel free to comment and we'll re-open)

[2017-02-28 20:53] #562 closed

[2017-02-28 20:54] jonparrott commented on #312
(Closing due to inactivity, feel free to comment and we'll re-open)

[2017-02-28 20:54] #312 closed

[2017-02-28 20:54] jonparrott commented on #684
(Closing due to inactivity, feel free to comment and we'll re-open)

[2017-02-28 20:54] #684 closed

[2017-02-28 20:55] jonparrott commented on #695
The redirect should be resolved now, closing.

[2017-02-28 20:55] #695 closed

[2017-02-28 20:55] #708 closed

[2017-02-28 20:56] jonparrott commented on #716
Update: the latest version of the google-cloud-storage library has the needed helpers to make this happen.

[2017-02-28 20:56] jonparrott commented on #821
Great, let's track it there. I'm going to close this issue.

[2017-02-28 20:56] #821 closed

[2017-02-28 20:57] jonparrott commented on #795
This has been resolved.

[2017-02-28 20:57] #795 closed

[2017-02-28 21:29] waprin commented on #562
Maybe should delete the sample? It's probably not worth maintaining.

[2017-02-28 21:30] jonparrott commented on #562
I'm okay with that.

[2017-02-28 21:56] jerjou commented on #738
Okay - they pushed a fix. Try again, and let me know if you're still hitting this.

[2017-02-28 22:00] jerjou commented on #742
This seems to be the same issue as #738, plus perhaps an intermittent server outage? Closing for now - please comment with clarification if this is a separate issue.

[2017-02-28 22:00] #742 closed

[2017-02-28 22:01] jerjou commented on #683
Closing due to inactivity. Please comment with an update if you're still getting this error, and we can reopen.

[2017-02-28 22:01] #683 closed

[2017-02-28 22:05] lukesneeringer commented on #833
I will look into changing this to raise the _actual_ error.

[2017-02-28 22:35] chan71 commented on #738
Thanks a lot for following this up. I will check and confirm. As I have migrated to Oz, it will take sometime to confirm though. Meantime, if anyone else can confirm if this is fixed, it would be really good.

[2017-02-28 22:38] chan71 commented on #742
Thanks @jerjou. Yes, it is more or less the same issue but with the original sample code from git. @ToryHwang could you confirm if this is fixed? I don't have a laptop with me (just migrated to Australia) to confirm.

[2017-02-28 22:56] sprakash3 commented on #833
@jonparrott @lukesneeringer Some of the images in the batch request exceeded the resource limit for the vision api. I'll have to figure out a way to get around them.
Thanks

[2017-02-28 23:03] daspecster commented on #833
@sprakash3 do you have an example so I could reproduce the same error that you were getting?

[2017-02-28 23:14] sprakash3 commented on #833
@daspecster Any image greater than 4 MB in size would result in this error. I'm sorry i cant share the image.

[2017-02-28 23:39] daspecster commented on #833
Thanks @sprakash3! That information is what I needed.

[2017-03-02 18:05] edost22 opened #840 "BQ API issue "no module named cloud""
Attempted running the following sample script:
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/simple_app.py

I changed the client=bigquery.Client() line to "client = bigquery.Client(project='nodal-nirvana-637')"

Throws the following error:
ImportError: No module named cloud

I have the most recent Google Could SDK, which was initialized and authorized

[2017-03-02 20:27] #840 closed

[2017-03-06 18:13] xoviat opened #841 "Plagued by issues from newer python installtion"
I have the bundled python installed for GAE. First, I was unable to run dev_appserver.py because my local Python is configured to run all *.py files. I have solved that with this batch file:

[code]

Now, I have encountered this failure:

[code]

I'll probably investigate this further in a bit but wanted to get other's input on this first.

[2017-03-06 18:27] jonparrott commented on #841
@xoviat I've notified the SDK team of this issue, but I suggest you file a bug [here](https://issuetracker.google.com/issues/new?component=187272&template=0) for that.

(Closing for now)

[2017-03-06 18:27] #841 closed

[2017-03-10 08:59] naveensinghal opened #847 "Google Videointelligence.v1beta1 Usage"
Hi @gguuss @jonparrott

I am trying to use Video Intelligence API but getting Import Error in the following two import Statements:
[code]

Error:
`ImportError: No module named videointelligence.v1beta1`

Can you please suggest how can this issue be resolved ?

Thanks

[2017-03-10 18:14] jonparrott commented on #847
Hi @naveensinghal, just a sanity check did you run `pip install -r requirements.txt` in a virtualenv?

[2017-03-10 19:18] naveensinghal commented on #847
@jonparrott Are you talking about this requirements.txt ?
Path: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/video/cloud-client/requirements.txt

I haven't done `pip install -r requirements.txt ` for this file yet.

[2017-03-10 19:23] jonparrott commented on #847
You definitely need to do that in order to use these samples.

On Fri, Mar 10, 2017, 11:18 AM naveensinghal <notifications@github.com>
wrote:

[2017-03-10 19:35] naveensinghal commented on #847
@jonparrott Just did that....

Getting a different Error now... [Import Error seems to be fixed though]
[code]

Any Suggestions for this ?

[2017-03-13 16:11] jonparrott commented on #847
@gguuss any ideas?

[2017-03-13 16:13] naveensinghal commented on #847
@jonparrott @gguuss Since the VideoIntelligence API is in Private Beta currently, Can I verify somehow If I have been granted the access yet ?
[I signed up for the access 3 days ago. But haven't received any confirmation yet]

[2017-03-13 16:16] jonparrott commented on #847
@naveensinghal if you haven't heard back yet you probably do not have access. Still, this error is unrelated.

[2017-03-13 16:25] naveensinghal commented on #847
@jonparrott Okay.
Btw, The only setup I have done for this is:
`pip install https://storage.googleapis.com/videointelligence-alpha/videointelligence-python.zip`

and just ran these two commands from the python shell:
[code]

and got the above mentioned stack trace Error.

Is there anything else that needs to be done ?

[2017-03-13 20:46] gguuss commented on #847
The API definitely will not work until after you have been whitelisted but should not be failing when you are instantiating the client but instead when you create an operation, for example:

[code]

I'm guessing that there is something wrong with the way you have Python configured. Are you using virtual environment and are you on Python 2.x or Python 3.x?

[2017-03-13 21:28] elibixby opened #849 "nox ls broken on goobuntu"
Running nox ls gives an error attempting to install python-repo-tools, and this error appears to loop indefinitely (or maybe just once for each session which I didn't wait around for).

Appears to be related to the appengine SDK install?

[code]

[2017-03-13 21:30] #849 closed

[2017-03-14 01:56] naveensinghal commented on #847
@gguuss @jonparrott I am using Virtual Environment & Python 2.7.
I am trying these two commands in the python shell. (using python manage.py shell).

[code]

[2017-03-14 19:43] jonparrott commented on #847
@naveensinghal I highly recommend you install the requirements.txt in a virtualenv before trying to run the sample. Virtualenv helps isolate system packages and the sample's packages from one another, which is a common case of issues.

[2017-03-14 19:46] gguuss commented on #847
The following worked for me from Cloud shell:

[code]

[2017-03-15 03:35] naveensinghal commented on #847
@gguuss @jonparrott  Tried these 6 commands. Got this result:

`google.gax.errors.RetryError: GaxError(Exception occurred in retry method that was not classified as transient, caused by <_Rendezvous of RPC that terminated with (StatusCode.PERMISSION_DENIED, Google Cloud Video Intelligence API has not been used in project usable-auth-library before or it is disabled. Enable it by visiting https://c

[2017-03-15 13:19] Avinash-Raj opened #853 "Conflicting of google packages"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/endpoints-frameworks-v2/echo/main.py

### Did you change the file? If so, how?

No, I didn't change the source file.

## Describe the issue

I have installed the latest version of google cloud sdk, google-cloud-sdk-app-engine-python on my Ubuntu PC as mentioned i

[2017-03-15 20:21] jonparrott commented on #853
Local development with endpoints framework v2 isn't currently supported, you'll need to deploy the app.

[2017-03-15 20:21] #853 closed

[2017-03-16 05:00] miratcan opened #855 "Psycopg2 is not supported, but why is it in this example?"
I was trying to use Google Appengine Flask and SQLAlchemy to connect to PostgreSQL server. It was not working because it was giving error something something like can not import psycopg2._psycopg2. After a while I've learned that you have to use Google Appengine with pure Python PostgreSQL driver, which is called PG8000.

But now I'm seeing psycopg2 in this repository again. It's so confusing. Is

[2017-03-16 05:23] jonparrott commented on #855
@miratcan that sample is for GAE Flexible, which supports any linux-compatible third-party package.

[2017-03-16 05:23] #855 closed

[2017-03-16 09:13] Avinash-Raj commented on #853
@jonparrott I can't able to generate OpenApi configuration.

[code]

[2017-03-16 18:11] jonparrott commented on #853
Yep, so I would recommend activating an empty virtualenv before running endpointscfg.py so that your system packages don't cause issues.

[2017-03-17 01:14] markmark1 opened #857 "'No such virtualenv or site directory' % path) ValueError: virtualenv: cannot access lib: No such virtualenv or site directory INFO"
## In which file did you encounter the issue?
   'No such virtualenv or site directory' % path)
ValueError: virtualenv: cannot access lib: No such virtualenv or site directory
INFO

### Did you change the file? If so, how?
no

## Describe the issue
running python-docs-samples/appengine/standard/flask/tutorial

 tutorial (master) $ dev_appserver.py app.yaml
INFO     2017-03-17 01:12:56,992 devappse

[2017-03-17 01:16] markmark1 commented on #857
$ pip install -r requirements.txt -t lib gives following error

Could not import setuptools which is required to install from a source distribution.
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/pip/req/req_install.py", line 387, in setup_py
    import setuptools  # noqa
  File "/usr/local/lib/python2.7/site-packages/setuptools/__init__.py", line 10, in <module>

[2017-03-17 01:17] markmark1 opened #858 "$ pip install -r requirements.txt -t lib"
$ pip install -r requirements.txt -t lib

Could not import setuptools which is required to install from a source distribution.
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/pip/req/req_install.py", line 387, in setup_py
    import setuptools  # noqa
  File "/usr/local/lib/python2.7/site-packages/setuptools/__init__.py", line 10, in <module>
    from setuptools.e

[2017-03-17 01:19] jonparrott commented on #857
Looks like you should update your pip.

On Thu, Mar 16, 2017, 6:16 PM markmark1 <notifications@github.com> wrote:

[2017-03-17 01:37] markmark1 commented on #857
pip install --upgrade pip

Requirement already up-to-date: pip in
/usr/local/lib/python2.7/site-packages

On Thu, Mar 16, 2017 at 6:19 PM, Jon Wayne Parrott <notifications@github.com

[2017-03-17 01:39] jonparrott commented on #857
Maybe upgrade setuptools as well? Seems weird.

On Thu, Mar 16, 2017, 6:37 PM markmark1 <notifications@github.com> wrote:

[2017-03-17 01:40] markmark1 commented on #857
error only in flask folder not in hello_world folder if that helps

python-docs-samples/appengine/standard/flask/hello_world
/google-cloud-sdk/platform/google_appengine/google/appengine/ext/vendor/__init__.py", line 44, in add
    'No such virtualenv or site directory' % path)
ValueError: virtualenv: cannot access lib: No such virtualenv or site directory
INFO     2017-03-17 01:38:58,863 module.py

[2017-03-17 01:41] markmark1 commented on #857
pip install --upgrade setuptools flask pip
Collecting setuptools
  Using cached setuptools-34.3.2-py2.py3-none-any.whl
Collecting flask
  Using cached Flask-0.12-py2.py3-none-any.whl
Requirement already up-to-date: pip in /usr/local/lib/python2.7/site-packages
Requirement already up-to-date: six>=1.6.0 in /usr/local/lib/python2.7/site-packages (from setuptools)
Collecting packaging>=16.8 (from set

[2017-03-17 01:41] markmark1 commented on #857
same error when upgrading setup tools or pip too

[2017-03-17 01:46] markmark1 commented on #857
i am trying to get flask running on standard environment and have an app engine endpoints auto generated mobile iOS and android starter app skeleton going as seen in the google next videos

[2017-03-17 02:05] yipjustin opened #859 "flex / python. skip_files are being uploaded to appengine."
## In which file did you encounter the issue?

app.yaml

### Did you change the file? If so, how?

Added the following line

[code]

## Describe the issue

I am using the flexible environment. Trying not to include the huge directory generated by virtualenv.

I have added the above lines to app.yaml, but it seems like the file is still being uploaded to appengine.

[2017-03-17 02:53] markmark1 commented on #857
Didn't work either 

[2017-03-17 05:51] yipjustin commented on #859
issue resolved after using the latest `gcloud` sdk.

[2017-03-17 05:51] #859 closed

[2017-03-17 05:53] Avinash-Raj commented on #853
Now, it works .. Thanks :-)

[2017-03-17 13:46] Avinash-Raj commented on #859
@yipjustin you must include `:` after `skip_files`

[code]

[2017-03-17 17:21] markmark1 commented on #857
jon, i am trying to get flask running on standard environment and have an app engine endpoints auto generated mobile iOS and android starter app skeleton going as seen in the google next videos
what is the best way to go about this thanks

[2017-03-17 19:31] #858 closed

[2017-03-17 19:31] #857 closed

[2017-03-17 19:32] markmark1 opened #860 "Cloud endpoints with app engine standard environment what is the best way to get started thanks"
## In which file did you encounter the issue?
i am trying to get flask running on standard environment and have an app engine endpoints auto generated mobile iOS and android starter app skeleton going as seen in the google next videos
what is the best way to go about this thanks

### Did you change the file? If so, how?
no

## Describe the issue
need to use samples

[2017-03-18 04:29] naveensinghal commented on #847
@gguuss @jonparrott
I am trying to implement VideoIntelligence API in my personal-project. but I am not able to do so yet. [I have the access permissions for VideoIntelligence API for my personal-project]
Please provide some suggestions to make it work.

I tried the following commands:
[code]

But I am getting this as the Error:
[code]

It is searching inside 'usable-auth-library' project. Whereas

[2017-03-20 17:03] jonparrott commented on #847
Hi @naveensinghal, you likely need to setup service account credentials to be able to call, as the credentials provided by `gcloud` can not currently be used with this API.

https://cloud.google.com/vision/docs/common/auth#set_up_a_service_account

[2017-03-20 17:03] #847 closed

[2017-03-20 17:03] jonparrott commented on #860
@markmark1 I would start with the documentation here: https://cloud.google.com/endpoints/docs/frameworks/python/about-cloud-endpoints-frameworks

[2017-03-20 17:03] #860 closed

[2017-03-20 17:09] naveensinghal commented on #847
okay. Got it.

Thanks,

[2017-03-20 21:29] markmark1 commented on #860
does it work with standard or flex
or both
does it need any specific code to mark api handlers

On Mon, Mar 20, 2017 at 10:03 AM, Jon Wayne Parrott <
notifications@github.com> wrote:

[2017-03-20 21:41] jonparrott commented on #860
@markmark1 the linked documentation is for standard only. Endpoints frameworks are only for standard. The OpenAPI implementation is for non-app engine standard environments: https://cloud.google.com/endpoints/docs/quickstart-app-engine

[2017-03-20 22:07] markmark1 commented on #860
What's open api How to generate end points for standard

On Mon, Mar 20, 2017 at 2:41 PM -0700, "Jon Wayne Parrott" <notifications@github.com> wrote:

@markmark1 the linked documentation is for standard only. Endpoints frameworks are only for standard. The OpenAPI implementation is for non-app engine standard environments: https://cloud.google.com/endpoints/docs/quickstart-app-engine

—
You are re

[2017-03-20 22:07] markmark1 commented on #860
Ndb vs db vs gql what's the right way to access data store in python  thanks

On Mon, Mar 20, 2017 at 2:41 PM -0700, "Jon Wayne Parrott" <notifications@github.com> wrote:

@markmark1 the linked documentation is for standard only. Endpoints frameworks are only for standard. The OpenAPI implementation is for non-app engine standard environments: https://cloud.google.com/endpoints/docs/quickstart-app

[2017-03-20 22:08] jonparrott commented on #860
Hi @markmark1, in general this repository is for filing issues against the samples. I'd recommend that if you have general questions you try stackoverflow or the GCP Slack.

[2017-03-21 02:08] naveensinghal opened #865 "Cloud VideoIntelligence API Query"
@jonparrott @gguuss

Can you please tell, If there is a way to count the No. of Faces in the Video using Cloud VideoIntelligence API ?

Thanks,

[2017-03-21 02:35] gguuss commented on #865
I can't really comment at too much detail on the whitelist API outside of what's in the docs; a [good example](https://cloud.google.com/video-intelligence/) of the API is available on the landing page to give you an idea of how the API works. Try it with the "work" demo video and see if the labels for specific shots get you where you want to be.

If the level of detail is not sufficient for your a

[2017-03-21 02:45] naveensinghal commented on #865
Vision API can give the correct result for Counting faces in a single Frame. But it doesn't work effectively for multiple frames together.

For Example: if there is a Video/segment with 10 frames and each frame contains 2 same faces throughout. Then the actual total Faces available in the Video would be 2. But Vision API would give 10X2=20 faces.

Anyways, would try to check again from the VideoIn

[2017-03-21 02:45] #865 closed

[2017-03-22 12:42] KushGoyal opened #870 "django cloud sql sample for postgresql"
Please add sample for django postgresql settings.

I tried the instructions at: https://cloud.google.com/appengine/docs/flexible/python/using-cloud-sql-postgres

But they are not working. I am getting unix socket error. More details:
http://stackoverflow.com/questions/42950418/postgres-settings-for-django-on-google-app-engine-flexi

[2017-03-22 16:28] jonparrott commented on #870
/cc @waprin

[2017-03-23 18:05] agmathew commented on #870
I am also experiencing a similar issue. See here: http://stackoverflow.com/questions/42836927/error-connecting-django-to-google-cloudsql-postgres-database-in-google-app-engin?noredirect=1#comment73044245_42836927

[2017-03-23 19:28] ryanmats commented on #870
@KushGoyal @agmathew thanks for the feedback. i'll take a look at this today.

[2017-03-24 00:20] ryanmats commented on #870
@KushGoyal @agmathew So I was able to get it to work when deployed, and wasn't able to reproduce your error message :/

I would recommend doing the Django on App Engine Flexible tutorial (https://cloud.google.com/python/django/flexible-environment) from the beginning step-by-step with these PostgreSQL specific changes:

1) When you get to 'Create a Cloud SQL Instance' step #1, use https://cloud.go

[2017-03-24 04:15] KushGoyal commented on #870
@ryanmats it worked! Although I didn't change a thing 😲
Thanks for the help

[2017-03-24 04:38] agmathew commented on #870
@ryanmats Same for me, it's working now, but I haven't touched anything. Do you know if any changes were made to GAE or CloudSQL Postgres in the last few days? Is there somewhere where we can track changes like this? We're currently evaluating whether to use GAE for a new product and I'm a little concerned about a service "fixing" itself.

[2017-03-24 06:27] ryanmats commented on #870
@KushGoyal @agmathew Great to hear that it works! I just filed a bug for the Cloud SQL / Postgres team to ask them about this - will let you know what they say.

@jonparrott do you know if there are any resources for customers to track product changes? (see @agmathew 's comment above)

[2017-03-24 17:47] jonparrott commented on #870
@agmathew @KushGoyal
Postgres for Cloud SQL is in beta, so it's expected that things will be changing rapidly as we approach GA, especially thinks around reliability. I highly recommend joining the [user group](https://googlecloudplatform.uservoice.com/forums/302613-cloud-sql) so that you can provide us with feedback on the beta.

For Cloud SQL, we have release notes published here:
https://cloud.

[2017-03-24 17:47] #870 closed

[2017-03-24 17:47] jonparrott commented on #870
(Closing as this appears to be resolved, but feel free to comment if you have any more questions/issues).

[2017-03-24 18:56] ericpar opened #879 "Cannot import `google-appengine.*` as per `appengine/standard/localtesting/datastore_test.py`"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/localtesting/datastore_test.py

### Did you change the file? If so, how?

No.

## Describe the issue

I tried to run the sample but the import failed:

[code]

No evidence of this package was found in the repo and the version available in PiPY seems to be rather

[2017-03-24 19:07] jonparrott commented on #879
Hi @ericpar, you need to run these samples using the App Engine development server `dev_appserver.py` which provides all of `google.appengine` packages.

https://cloud.google.com/appengine/docs/standard/python/tools/using-local-server

[2017-03-24 19:07] #879 closed

[2017-03-24 19:20] ericpar commented on #879
Thank you, @jonparrott .
I installed both The Google Cloud SDK and App Engine SDK for Python but I have no clue where to find this `dev_appserver.py` you are talking about. Would you have any hint for me?

[2017-03-29 21:13] markmark1 commented on #860
endpoints-frameworks-v2 (master) $ pwd

python-docs-samples/appengine/standard/endpoints-frameworks-v2

On Mon, Mar 20, 2017 at 3:08 PM, Jon Wayne Parrott <notifications@github.com

[2017-04-02 14:25] indrabayu commented on #865
I don't think this API will give you the number of occurences of a certain entity(ies) in the video.

[2017-04-03 18:06] bpn252 opened #884 "*(psycopg2.OperationalError) could not connect to server: No such file or directory* GAE Flex enivronment"
Hi, I'm getting this error when im trying to connect to my PostgreSQL on my app when its deployed. I followed the instructions here [https://cloud.google.com/appengine/docs/flexible/python/using-cloud-sql-postgres?authuser=0](https://cloud.google.com/appengine/docs/flexible/python/using-cloud-sql-postgres)

Both the app and PostgreSQL are in the same project and in the same region.

The error mess

[2017-04-03 21:31] jonparrott commented on #884
@ryanmats any ideas?

[2017-04-03 22:27] ryanmats commented on #884
@jonparrott @bpn252 i'll take a look and see if i can reproduce the error

[2017-04-03 22:29] ryanmats commented on #884
@bpn252 does your app work when testing locally?

[2017-04-03 22:39] bpn252 commented on #884
@ryanmats Hi, yes it does work locally. When I authorize my ip address and connect with
[code]
it works locally.

I made a new project and a new PostgreSQL server and I authorized the ip addresses of my appspot.com, and all works now. I haven't tested the old projected yet.

[2017-04-04 00:00] ryanmats commented on #884
So I ran through https://cloud.google.com/appengine/docs/flexible/python/using-cloud-sql-postgres , modifying the sample code at https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/flexible/cloudsql for postgres, and it seemed to work locally and deployed.

Are there any differences between your old project and new project that may have caused the issue?

[2017-04-04 00:08] bpn252 commented on #884
At a quick glance between the two projects, I don't see any difference besides the IP Address authorization in the Cloud SQL interface. I'm using App Engine for a class project so I can't really test removing the authorized ip addresses in my new project.

Thanks for your help, you can close this issue if you want.

[2017-04-04 00:17] ryanmats commented on #884
@bpn252 By IP Address authorization are you referring to going to your PostgreSQL instance on the Cloud console and editing the 'Authorized networks' section?

If your App Engine project and PostgreSQL instance are within the same project, I don't think you should have to edit Authorized Networks for your instance.

[2017-04-05 11:39] Avinash-Raj commented on #853
@jonparrott I think local development of endpoints v2 framework was supported now https://cloud.google.com/appengine/docs/standard/python/endpoints/test_deploy . pls let me know how to resolve the original traceback?

[2017-04-05 16:44] jonparrott commented on #853
@Avinash-Raj I suggest filing an issue over on https://github.com/cloudendpoints/endpoints-python

[2017-04-06 11:06] mariusdotspinu opened #892 "Trouble deploying hello_world example"
I have followed the instructions from [quickstart](https://cloud.google.com/appengine/docs/standard/python/quickstart) but when I try to deploy, nothing happens.

I have run cmd with administrator rights , like this :

`C:\Users\Marius\Desktop\Cloud-Computing\HelloWorld\python-docs-samples\appengine\standard\hello_world>dev_appserver.py app.yaml` , but nothing happens.

I know that it is suppose t

[2017-04-06 16:38] jonparrott commented on #892
@mariusdotspinu "nothing happens"? No output at all?

I would definitely recommend re-installing the cloud sdk with Python 2.7.

[2017-04-06 16:51] mariusdotspinu commented on #892
Yeah, no output at all.

Thanks , I will re-install it since there seems to be no other explanation.

[2017-04-10 18:06] gerimo opened #895 "How do I input "Context" hints on the new long_running_recognize function?"
## In which file did you encounter the issue?

On the previous version I would input a "context" module in "async_recognize()".

### Did you change the file? If so, how?

## Describe the issue

[2017-04-10 18:57] ryanmats commented on #895
@gerimo According to our google-cloud-python client library source code (https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/sample.py#L135), you can pass in a parameter called speech_contexts.

:param speech_contexts: A list of strings (max 50) containing words and
                                phrases "hints" so that the speech recognition

[2017-04-10 18:57] #895 closed

[2017-04-10 20:47] gguuss commented on #895
@ryanmats Thanks for the heads up, we are working on it!

[2017-04-11 04:55] #884 closed

[2017-04-11 20:52] paynen0 commented on #853
@Avinash-Raj: The link you provided refers to endpoints v1...

[2017-04-12 03:59] Avinash-Raj commented on #853
Yep.. later only I realized. Waiting for the working of endpoints V2
locally.

On Apr 12, 2017 2:22 AM, "paynen0" <notifications@github.com> wrote:

[2017-04-17 22:48] jerjou commented on #811
Closing for now. Please comment with more details if you're still running into this, and we can investigate further.

[2017-04-17 22:48] #811 closed

[2017-04-17 23:06] xiangfeidongsc commented on #884
@jonparrott @ryanmats
I experienced same issue. I followed instructions in https://cloud.google.com/appengine/docs/flexible/python/using-cloud-sql-postgres. Could run it successfully in local, but got error when deployed it.
[code]

Any idea?

[2017-04-18 01:05] bpn252 commented on #884
@xiangfeidongsc
Hi, I got the error again. However, it seems to have resolved itself when I deployed an hour later. Try deploying now.

[2017-04-18 01:51] xiangfeidongsc commented on #884
@bpn252
[code]
My problem is that when I followed the instructions, I kept the `>-`. After removing the `>-` it works 👎 .

[2017-04-18 02:15] ryanmats commented on #884
Interesting. @bpn252 did you also end up removing the >- ?

[2017-04-18 02:19] bpn252 commented on #884
@ryanmats
Nope, I still the >- in my app.yaml

[2017-04-18 02:21] ryanmats commented on #884
@bpn252 hmm interesting. @xiangfeidongsc maybe the problem was just a temporary issue earlier? GCP managed Postgres is still currently in beta.

[2017-04-18 02:51] xiangfeidongsc commented on #884
@ryanmats Yes.. I add it back and it also works...
How will this instability last? We want to use it in product.

[2017-04-19 09:50] KushGoyal commented on #870
The issue is repeating again on a new project. I have followed the exact steps which are:

1. create a postgresql instance

2. create a db

3. get name of connection using command: `gcloud sql instances describe <instance-name>`

4. add connection name to app.yaml

[code]

5. use host as `/cloudsql/<connection-name>`

[2017-04-19 11:06] KushGoyal commented on #870
I tried to deploy the project again and this time it worked without changing anything.

I don't know what changed. Perhaps this issue is related to app engine not detecting the presence of postgresql db.

[2017-04-19 12:04] vijayk2000 opened #907 "unexpected keyword argument error in transcribe_async.py"
## In which file did you encounter the issue?

GoogleCloudPlatform/python-docs-samples/transcribe_async.py

### Did you change the file? If so, how?
No

## Describe the issue
When I run the following command in the windows command prompt:
python transcribe_async.py gs://cloud-samples-tests/speech/vr.flac

I am getting a following error:

**Traceback (most recent call last):
  File "transcribe_asyn

[2017-04-19 16:47] gguuss commented on #907
It looks like you might somehow be hitting the v1beta1 endpoint instead of the v1 version. Can you try updating the cloud client library to version 0.25.1 or better? If you're interested in which version you currently have on your path, run pip freeze.

[2017-04-19 19:21] ryanmats commented on #870
@KushGoyal we'll ping the CloudSQL engineering team about this. thanks for the feedback.

[2017-04-19 22:46] ankushagarwal commented on #870
@KushGoyal :
1. What was the error message that you received?
2. What was the format of the SQLALCHEMY_DATABASE_URI that you used (eg: postgresql+psycopg2://_username_:_password_@/_databasename_?host=_connection-name_)
3. Did you try connecting to the instance from your local machine by using cloud-sql-proxy? (look at the **Setting up your local environment** instructions here :  https://cloud.goo

[2017-04-20 05:00] KushGoyal commented on #870
@ankushagarwal

1. error message:

2. I am using django.

[code]

3. I connected using static ip.

[2017-04-20 11:19] vijayk2000 commented on #907
Hi Gus,
I had upgraded to google-cloud-speech library to version 0.25.1.  Now, I am able to transcribe.  Thank you very much for your suggestion.

[2017-04-20 11:19] #907 closed

[2017-04-20 14:26] hoyeunglee opened #909 "ImportError: cannot import name speech"
Python 2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name speech

[2017-04-20 16:49] jonparrott commented on #909
@hoyeunglee can you let us know which version of the library you're using? Run `pip freeze` to get a list of all installed packages and their versions.

@gguuss can you take a look?

[2017-04-20 17:36] gguuss commented on #909
@hoyeunglee Did you run `pip install -r requirements.txt` in a virtual environment to install the libraries?

[2017-04-20 23:38] dsnair opened #912 "Video Intelligence API Not Working"
Hello,

I followed the [instructions](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/video/cloud-client) to install the Video Intelligence API package. I was able to successfully use this package during the last couple weeks. However, starting yesterday, I've been having issues with being able to finish the API call. In fact, I can no longer finish running the following exa

[2017-04-21 01:54] springml commented on #912
I am running into the same issue as well.  I tried executing the demo but it took more than 20 mins and all I see is the dots as shown below.  This same setup worked last week for me.

/python-docs-samples/video/cloud-client $ python analyze.py faces gs://demomaker/google_gmail.mp4
Processing video for label annotations:
.............................................................................

[2017-04-21 16:36] jonparrott commented on #912
@gguuss can you take a look at this?

[2017-04-21 17:51] gguuss commented on #912
I'm unable to reproduce this issue, I did the following:

[code]

Can you share more information about your configuration?  What OS are you using / what version of Python?

Is this specific to the parameters you're passing? Perhaps it's the length of the video or something to do with the GCS bucket you're using. Can you try the following shorter video with label annotations:

[code]

[2017-04-21 18:23] springml commented on #912
Unfortunately, this is not a consistent issue.  I am able to run the samples now but last night I was running into these issues.  It seemed like there was some kind of resource limits I reached which may be the root issue.

[2017-04-21 19:12] gguuss commented on #912
Do you have multiple users on the same project?  I am seeing the following limits on quota:

https://cloud.google.com/video-intelligence/limits

With multiple users on the same account, it might be possible to hit those.

[2017-04-24 21:09] ryanmats commented on #870
So we've determined that this is an issue with new App Engine deployments that use CloudSQL (not existing deployments that have already worked) -> we've assigned this bug to someone on the App Engine Infrastructure team to fix.

If you deploy your app and it works, it should continue to work. If one of your new deployments isn't working, you should be able to try again later and it will work.