[2017-04-24 21:10] ryanmats commented on #884
So we've determined that this is an issue with new App Engine deployments that use CloudSQL (not existing deployments that have already worked) -> we've assigned this bug to someone on the App Engine Infrastructure team to fix.

If you deploy your app and it works, it should continue to work. If one of your new deployments isn't working, you should be able to try again later and it will work.

[2017-04-27 03:59] KushGoyal commented on #870
@ryanmats thanks for the update. Is it possible to know when will this be fixed?

[2017-04-28 10:51] KushGoyal commented on #870
@ryanmats Is there any pattern to this error? I have deployed my project 5-6 times now but the error is still there.

[2017-04-28 19:03] ryanmats commented on #870
@KushGoyal It looked like the problem had gone away for a while but I'll take a look again this afternoon. Make sure to double-check that you have the right app.yaml and settings.py settings based on your project.

You are using Django with Postgres on App Engine Flex, correct?

[2017-04-28 23:13] gguuss commented on #912
Polling the long running operations counts towards your quota. This [poll request](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/920) updates the polling frequency in the sample. See if polling less frequently prevents this issue.

[2017-04-29 04:20] ryanmats commented on #870
@KushGoyal I just tested a deployment of a Django App Engine Flex App with Postgres and it works. Can you please go through this tutorial https://cloud.google.com/python/django/flexible-environment (which now has complete Postgres instructions), making sure you set the correct app.yaml / settings.py settings and try deploying again? (One time recently I deployed with the wrong instance connection

[2017-04-29 05:16] KushGoyal commented on #870
@ryanmats Yes, I am using django with postgres on app engine flex.

I have checked my settings and they are exactly as described in the docs. I am using the exact same code in my other project and it is working. Even in that project it didn't work the first time. But after redeploying it started working. But this new project is not working after redeploying several times.

I am posting my db setti

[2017-04-29 05:35] ryanmats commented on #870
@KushGoyal Can you confirm that your instance connection name (used twice in your app.yaml) has the SQL instance name (not the database name) as the last part?

Also, can you confirm that your connection string is the right one for the project pointed to by gcloud? (run gcloud config list project)

While you confirm this, I'll be looking into other potential sources of the problem. (Just asking be

[2017-04-29 05:53] KushGoyal commented on #870
@ryanmats I have double checked all the values. The last part is my db instance name. I am using the correct project id. The connection name is as is from the describe command.

[2017-04-29 06:22] ryanmats commented on #870
@KushGoyal I just tried another deployment and it worked again :/

Hmm can you check to make sure the Google Cloud SQL API is enabled for your project? (See https://cloud.google.com/python/django/flexible-environment and click on 'Enable API') Also make sure you have 'psycopg2==2.7.1' in your requirements.txt.

Another potential thing to try is to change your mysite/settings.py to use the new user

[2017-04-29 07:24] KushGoyal commented on #870
@ryanmats The project is working now. I had not enabled the google cloud sql api. I saw that *Google Cloud SQL* api is enabled so I skipped the step. I found the correct api when I clicked on enable api.

There are 2 APIs in the api manager dashboard one is called *Google Cloud SQL API* which is the `sqladmin.googleapis.com` api and the other is called *Google Cloud SQL* which is `sql-component.go

[2017-04-29 07:43] ryanmats commented on #870
@KushGoyal no problem. Our job here is to help developers, collect feedback, and work to improve the developer experience.

Thanks for feedback about the API in the tutorial. We will fix the step to say "Enable the Google Cloud SQL API." We'll also look into clarifying our API names to be more user friendly and avoid confusion.

Regarding postgres deployment, there was definitely a problem before

[2017-05-01 11:38] araa47 opened #923 "TransportError: Unable to find the server at accounts.google.com"
Hi I have developed a program to use google speech api to generate subtitle files from a large movie file. Currently, it converts a large file to 16kHz mono audio, performs VAD, then queues the list of chunks to a bunch of threads. The program errors out like below. I am using the python-docs-samples/speech/cloud-client/transcribe.py file to do the transcription using google speech api. The error

[2017-05-01 15:34] jin09 opened #924 "app.yaml: the library "httplib2" is not supported"
## Describe the issue

The code works fine offline but as soon as I deploy the code on the gcloud server the console prompts with an error "app.yaml: the library "httplib2" is not supported"

[2017-05-01 16:13] jonparrott commented on #924
Hi @jin09, which sample were you using?

[2017-05-01 16:17] jonparrott commented on #923
Looks like you're exhausting some resources (see the "too many open files") or having network trouble. I'm not sure this is an issue with the sample code, it seems to be more likely that your environment is causing some trouble. Can you tell us more about where you're running the code?

[2017-05-01 16:54] jonparrott commented on #924
Hi @jin09, our mailgun sample requires you to [vendor](https://cloud.google.com/appengine/docs/standard/python/tools/using-libraries-python-27#vendoring) in httplib2. If you're using our sample, you just need to run `pip install -t lib -r requirements.txt`.

[2017-05-01 16:54] #924 closed

[2017-05-02 02:09] araa47 commented on #923
Hey, I am running on a Late 2015 iMac, with 16GB ram and a 3.3GHz Intel Core i7 processor, running macOS Sierra. I have tried to look for these file "src/core/lib/iomgr/wakeup_fd_pipe.c" on my mac, but it does not exist. I am wondering if this may be an error message from the google API server. All these error messages seem to be new messages that started coming up only in the last week. Before th

[2017-05-02 16:17] boppyer commented on #912
I've got both the **labels** and **shots** examples working well. But I'm having problems with the face example. Which returns the following errors:

`Traceback (most recent call last):
  File "analyze.py", line 134, in <module>
    analyze_faces(args.path)
  File "analyze.py", line 38, in analyze_faces
    operation = video_client.annotate_video(path, features)
  File "/Users/bto01/.virtualenvs/g

[2017-05-02 17:05] jonparrott commented on #923
"Unable to find the server at accounts.google.com" is a DNS error, it means that we never even made the request to the server.

[2017-05-02 19:18] #912 closed

[2017-05-02 19:26] dsnair commented on #912
I'm going to go ahead and close this issue! As @springml mentioned, the API behavior hasn't been consistent. Thankfully, I haven't seen that behavior in a while now and was able to complete the project. FYI, our project did have multiple users and the weird API behavior could have been because of the shared quota limits. Thank you for your time, gguss!

[2017-05-04 06:33] cclauss opened #929 "OSError: Project was not passed and could not be determined from the environment."
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/async_query.py#L44

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/snippets.py#L36

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/quickstart.py#L24

https://github.com

[2017-05-04 10:01] #892 closed

[2017-05-04 16:39] jonparrott commented on #929
@cclauss this is working as intended. If you have gcloud installed, you can do `gcloud config set project <your-project-id>` and it'll be automatically detected. If you're using a service account with `GOOGLE_APPLICATION_CREDENTIALS`, it'll pull the project from the service account.

[2017-05-04 16:39] #929 closed

[2017-05-04 17:38] cclauss commented on #929
Thanks @jonparrott that got me unstuck.  Your first suggestion worked but not the second.  Anyway, I can now successfully make queries!  My next snag is SQL syntax errors.

[code]

[2017-05-04 17:48] jonparrott commented on #929
@tswast can verify, but I think you need to make sure you're not using legacy sql.

[2017-05-04 17:51] tswast commented on #929
@jonparrott @cclauss That's right. It appears as though your query is using legacy SQL. To update the sample to use legacy SQL, set [use_legacy_sql = True](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/10b9a90e8f6bec63f8aa98a7dbf1338c32e6e9eb/bigquery/cloud-client/async_query.py#L46)

[2017-05-04 17:53] tswast commented on #929
See: https://cloud.google.com/bigquery/docs/reference/standard-sql/enabling-standard-sql for more ways to switch between standard and legacy syntax.

[2017-05-04 18:04] cclauss commented on #929
PERFECT!!  Thanks guys!

[2017-05-05 19:01] V3SalC opened #932 "V1 Speech grpc streaming"
Hi All, I noticed that previous example of grpc speech streaming for v1beta1 is gone now.  Will it be updated for v1?  I tried to replace the old library with google.cloud.speech.v1 but there looks to be no support for SpeechStub

[2017-05-05 19:14] jonparrott commented on #932
/cc @lukesneerginer

[2017-05-05 19:44] gguuss commented on #932
Yes, all of the features in v1beta1 are GA now and available on the v1 endpoint. I'm not sure I remember the SpeechStub feature you're looking for, but we have [an example of performing a streaming API request](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming.py) via Python that may be helpful.

[2017-05-08 10:36] yuri-wisestamp opened #935 "Executing a BigQuery from App Engine fails due to login"
The BigQuery documentation page sends here when clicking Client Library -> show on GitHub. I didn't find a better place to post.

Trying to run a query that puts filtered data from one dataset to another, using a task on App Engine. The query runs as expected when running from BigQuery console. When running the task from App Engine by accessing the URL of the task, it executes, but gives and error

[2017-05-08 16:33] jonparrott commented on #935
@yufengg can you show us the code you're using to construct a BQ client?

[2017-05-08 17:45] V3SalC commented on #932
Thanks, however, i am looking for the Streaming Recognition sample that uses grpc and threaded streaming audio from mic.  The old guide does not work since it references beta.

[2017-05-08 22:11] gguuss commented on #932
Got it. I'll see if I can come up with an update that streams from the Mic.

[2017-05-09 04:26] hm-distro opened #936 "The Python BigQuery client fails on creating a view in standardSQL"
[code]
The https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/table.py#L355 should also take in another property for useLegacySql

Example  payload at http://stackoverflow.com/questions/33243427/how-can-i-create-a-new-view-in-bigquery-using-the-python-api

[2017-05-09 05:22] hm-distro commented on #936
Created in wrong component. Correct ticket  is https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3388

[2017-05-09 05:22] #936 closed

[2017-05-09 06:22] yuri-wisestamp commented on #935
@jonparrott sure, here it is:

[code]

[2017-05-09 14:00] V3SalC commented on #932
Thanks.  I am confused between the google-cloud-spech-v1 approach and grpc-google-cloud-speech-v1 because the new grpc /google/cloud/speech/v1/cloud_speech_pb2.py is missing StreamingRecognize

[2017-05-09 16:21] jonparrott commented on #935
@yuri-wisestamp that should work, you're using App Engine standard, correct?

@tswast can you think of any reason why BigQuery wouldn't accept app engine's auth?

[2017-05-10 17:17] itismewxg opened #940 "easy interface to load data into datastore"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue
The link https://cloud.google.com/appengine/docs/standard/python/datastore/creating-entities
you give under above file(dir) does not exist (404)

btw, it is really hard to find a easy interface to do the loading data to datastore.

[2017-05-10 18:05] jonparrott commented on #940
The correct link is https://cloud.google.com/appengine/docs/standard/python/ndb/creating-entities

[2017-05-10 18:05] #940 closed

[2017-05-12 09:31] tcsj commented on #932
@gguuss Do you have any sample code to stream from microphone? The previous example using grpc isn't working.

[2017-05-12 19:18] gguuss commented on #932
I don't have code for streaming from the Microphone yet. The only sample that currently does this is  [NodeJS](https://github.com/GoogleCloudPlatform/nodejs-docs-samples/tree/master/speech). This is a priority for me but I probably won't be able to do it right away.

[2017-05-13 05:21] tcsj commented on #932
@gguuss Thanks

[2017-05-17 12:33] tcsj opened #947 "Google Speech API not working with en-IN"
I am trying to do streaming speech recognition using this code:

https://github.com/mainyaa/speech-api-python-demo/blob/master/grpc/transcribe_streaming.py

It works fine with en-US language but when I try to use it with en-IN or any other language such as en-GB , it takes very long time (about 1 minute).

I have tried to port it to the latest SDK but it is having the same issue:

https://gist.git

[2017-05-17 15:29] arenddittmer opened #948 "Need to change Authentication to Authorization in request header"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/compute/auth/access_token.py

### Did you change the file? If so, how?

diff access_token.py access_token_fixed.py
54c54
<         'Authentication': 'Bearer {}'.format(access_token)
---

## Describe the issue

Token retrieval requires 'Authorization' header

[2017-05-17 16:36] #948 closed

[2017-05-17 16:37] jonparrott commented on #947
@class, can you take a look?

[2017-05-17 16:37] jonparrott commented on #947
@gguuss can you take a look?

[2017-05-17 21:56] nkashy1 opened #949 "Outdated ML Engine API version"
## In which file did you encounter the issue?
[File](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/ml_engine/online_prediction/predict.py)

[Line 1](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/ml_engine/online_prediction/predict.py#L46), [Line 2](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/ml_engine/online_prediction/pr

[2017-05-17 22:01] nkashy1 commented on #949
[Here is the PR](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/950)

[2017-05-18 19:28] elibixby commented on #949
PR #917 resolves this, but there are testing concerns, where the CI testing tool is inadequate. Thanks for filing!

[2017-05-18 19:46] elibixby commented on #949
Fixed via #917 Thanks for the report!

[2017-05-18 19:46] #949 closed

[2017-05-19 07:23] jaeseunglee opened #953 "An error occurs when creating the cloud logging client"
I would like to use the following method without setting environment variables.

[code]

However, the following error occurs.

[code]
Is there a way to use without errors?

I do not want to use environment variables, but I want to use the credentials file directly when creating a Client object.

[2017-05-20 04:08] jonparrott commented on #953
I think you need to also pass in the project explicitly in this case. See https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1883.

For what it's worth, we *highly* recommend using the environment variable.

Closing, but please comment if that isn't the solution to your problem).

[2017-05-20 04:08] #953 closed

[2017-05-20 09:32] datspike commented on #932
I've got some success with streaming audio from python's queue object. https://gist.github.com/datspike/3caabf60c04ffb726c319d70a59c4552
If you can dump audio from the mic into some `queue.Queue()` object and pass that to this class, and then use it like that:
[code]
It will read data from python's queue as send it to the speech api without any problems.
I have a question, how can I get current st

[2017-05-21 02:16] dknesek opened #955 "Is a web streaming example available for the Could Speech API?"
I am basically looking for how to implement the example on this page: https://cloud.google.com/speech/

Which is this: https://www.gstatic.com/cloud-devrel/ux/speech.min.html

I specifically want to stream from and to a webpage. Any help would be greatly appreciated.

[2017-05-23 08:17] lanec opened #956 "Django Tutorial requirements.txt error"
## In which file did you encounter the issue?

While going through the process of setting up the Django Tutorial app on my local machine I was asked to install the requirements using pip install -r requirements.txt

### Did you change the file? If so, how?

I did nothing to modify the files

## Describe the issue

The output from the install presented the following error:

`Command "python setup.p

[2017-05-23 08:52] waprin commented on #956
Have you tried `brew install mysql`?

[2017-05-23 09:07] lanec commented on #956
I followed the tutorial provided by Google at: https://cloud.google.com/python/django/flexible-environment

It states that we are going to be using PostgreSQL for local development (and cloud).  I ended up commenting the mysql client out of the requirements.txt and completed the installation from there.

[2017-05-23 09:07] #956 closed

[2017-05-23 14:37] V3SalC commented on #932
Here is the previous sample code that works with beta.  However, this code doesn't work with V1.
<pre>
#!/usr/bin/python
# Copyright (C) 2016 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless require

[2017-05-23 18:28] mbrukman opened #957 "`bigtable/autoscaler/README.rst` broken"
[`bigtable/autoscaler/README.rst`](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigtable/autoscaler/README.rst) seems to have some issues:

* several links are of the form \`...\`_ (which suggests it's rendering ReST, not HTML); when clicking on them, they don't go anywhere, but to a non-existent (auto-generated?) anchor on the same page

* command line samples seem to ha

[2017-05-23 21:59] waprin commented on #957
Yes I had a broken link in my input and the general template also had a broken links ,thanks for noticing ,made PR to fix.

The code samples should all be fixed width, looks like they all are to me.

[2017-05-24 03:12] #957 closed

[2017-05-24 16:22] jonparrott commented on #955
@gguuss might be able to point you in the right direction.

In general, this sort of broad question is better suited for stackoverflow. :)

[2017-05-24 22:02] gguuss commented on #955
I have [a relatively naive sample implemented here](https://github.com/GoogleCloudPlatform/web-docs-samples/tree/master/speech).

[2017-05-24 22:02] #955 closed

[2017-05-25 17:51] datspike opened #963 "Google Speech API - how to catch grpc errors and close recognition correctly in speechv1"
Hello. While using speechv1beta I was able to catch grpc error such as OUT_OF_RANGE and others simply with
[code]
With introducing of speechv1 actual grpc resposces are getting handled inside the `speech` module, and I can only get `alternatives`
[code]

How can I catch grpc errors in new API?

The second question is how to stop the recognition correctly in the new API.
I can't find any fucntional

[2017-05-26 07:27] datspike commented on #923
I'm having the same kind of errors with a lot of threads and instances of recognitions in them running continiously.
There was no such problem in v1beta, where i was able to close the recognititon with recognize_stream.cancel().

[2017-05-26 17:41] jonparrott commented on #923
/cc @lukesneeringer @dhermes

One thing you can try is using a [new type of credential](http://google-auth.readthedocs.io/en/latest/reference/google.auth.jwt.html#google.auth.jwt.OnDemandCredentials) that doesn't involve network requests to refresh. You must be using service account credentials for this to work. See the [code here](https://github.com/GoogleCloudPlatform/google-auth-library-python/

[2017-05-27 15:42] araa47 commented on #923
@jonparrott

Thanks, will try out using the new type of credential and get back to you with my results.

[2017-05-27 20:45] emattson opened #966 "Firebase libraries out of date in firenotes example"
## In which file did you encounter the issue?

python-docs-samples/appengine/standard/firebase/firenotes/frontend/main.js

### Did you change the file? If so, how?

[code]

## Describe the issue
Keeping libraries up to date should help limit any confusion from people looking at the samples as examples and help prevent propagating the use of outdated code.

[2017-05-30 08:17] nesatArcelik opened #967 "Video Intelligence FACE_DETECTION and SAFE_SEARCH_DETECTION Problem"
I try to use "python-docs-samples/video/cloud-client/analyze/" sample without any change. LABEL_DETECTION and SHOT_CHANGE_DETECTION examples working well. However I'm having problems with when I try to use FACE_DETECTION or SAFE_SEARCH_DETECTION.

I call using:
python analyze/analyze.py labels gs://cloudmleap/video/next/animals.mp4
python analyze/analyze.py shots gs://cloudmleap/video/next/animals

[2017-05-30 16:09] jonparrott commented on #967
@gguuss any ideas?

@lukesneeringer is there any way we can improve that error message?

[2017-05-30 19:32] gguuss commented on #967
@nesatArcelik It appears you don't have access to the `faces` and `safe_search` features as these are still private.

[2017-05-31 06:19] nesatArcelik commented on #967
I filled the form at https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSc87dTWnrCtWRjNvg0430u-dhIH-98Vwnage-zD9Z4a7DHcBQ/viewform almost one month ago. Is there a step I missed?

[2017-05-31 19:48] gguuss commented on #967
You will not have access to the EAP features (face detection and safe search detection) until you have been approved into the program and have followed any instructions mailed to you upon acceptance.

[2017-06-01 07:21] ashamia opened #970 "Error when running appengine/standard/flask/hello_world sample"
## In which file did you encounter the issue?

appengine/standard/flask/hello_world

### Did you change the file? If so, how?

no

## Describe the issue

after cloning the git rep, I did  pip install -t lib -r requirements.txt
and got the following error:

[code]

[2017-06-01 16:33] jonparrott commented on #970
Hi @ashamia, this is due to a bug in [setuptools](https://github.com/pypa/setuptools/issues/1042). You should be able to get this to work if you reinstall setuptools.

[2017-06-01 16:33] #970 closed

[2017-06-02 03:22] jeremykeen opened #971 "SyntaxError for print statement"
## In which file did you encounter the issue?

python-docs-samples/iot/api-client/mqtt_example/cloudiot_mqtt_example.py

### Did you change the file? If so, how?

[code]
## Describe the issue

[code]

[2017-06-02 05:39] nesatArcelik commented on #967
Thank you, is there a way to check status of my application? BTW I have two applications and one of them is personal application which I am planning to use for my master thesis.

[2017-06-02 12:28] denis-trofimov opened #972 "Explicitly use service account credentials file is not working. But working implicitly."
## In which file did you encounter the issue?

 In the python-docs-samples/auth/cloud-client/snippets.py

### Did you change the file? If so, how?
No.

## Describe the issue
 In the python-docs-samples/auth/cloud-client/snippets.py the explicit()
is not working. It should "Explicitly use service account credentials by specifying the private key file".
The virtualenv is env  GOOGLE_APPLICATION_CRED

[2017-06-02 17:07] gguuss commented on #947
@tcsj any reason you can't use [the Cloud client library](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/speech/cloud-client) instead of the grpc layer?

[2017-06-02 17:38] jonparrott commented on #972
@denis-trofimov quick sanity check - does your service account keyfile have the project ID in it?

[2017-06-02 21:06] gguuss commented on #971
This should get fixed in [the CLI PR](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/973).

[2017-06-02 23:56] dr3x opened #975 "StatusCode.DEADLINE_EXCEEDED executing execute_streaming_sql"
## In which file did you encounter the issue?

\Lib\site-packages\google\cloud\spanner\database.py

### Did you change the file? If so, how?
no

## Describe the issue

Take a SQL query that works from the UI and execute it via the streaming method and I get the DEADLINE_EXCEEDED error message:

`results = database.spanner_api.execute_streaming_sql(session.name, sql, query_mode=ExecuteSqlRequest.Qu

[2017-06-04 19:18] denis-trofimov commented on #972
@jonparrott, thank you for a swift reply.
After day off I have checked that I do send project ID. I excluded private info with [***].

{
  "type": "service_account",
  "project_id": "cdr-testing",
  "private_key_id": "[some *** alfanumber literal]",
  "private_key": "-----BEGIN PRIVATE KEY-----[some *** alfanumber literal]==\n-----END PRIVATE KEY-----\n",
  "client_email": "[some *** email]",
  "c

[2017-06-04 21:49] kislyuk opened #976 "Invalid command in cloud-client/notification_polling.py"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/notification_polling.py#L34

### Did you change the file? If so, how?

No

## Describe the issue

The command doesn't work:
[code]

[2017-06-05 15:54] jonparrott commented on #975
@lukesneeringer any ideas on this?

[2017-06-06 06:50] JuanCruz98 commented on #932
I'm having the same problem, I would like to understand why the grpc examples have been removed, will new examples be published? It was very helpful since I'm not that pro with python and this stuff is new for me.. Thanks

[2017-06-07 19:11] ruqianq commented on #907
Hi, @gguuss I also have the same issue, I don't know how to update my cloud client library, could you help me with that, I am really new to python. thanks!

[2017-06-07 20:45] Michiel29 commented on #932
Similarly interested in a new python streaming microphone example, if you have any idea when you will have time to get to it?

[2017-06-08 16:59] vijayk2000 commented on #907
Hi ruqianq,
 If your OS is Windows, then open the terminal and type the following command:
python -m pip freeze

Check if the Google-cloud-speech version is 0.25.1.  If not then type the following command:
python -m pip install --upgrade google-cloud

After updating the library then re-check if Google-cloud-speech has been updated to v0.25.1.
If this has not been updated then go to the following w

[2017-06-09 13:15] ruqianq commented on #907
Thank you @vijayk2000 !!! It works! I am very appreciated!

[2017-06-09 17:57] placz commented on #870
This seems to still be an issue. I'm still getting this exact error and it hasn't resolved itself after waiting and re-deploying.
When I ssh to the instances, the `/cloudsql` directory is empty which seems like a problem.

[code]
I'm noticing that the directory doesn't have write permissions opened up as described [here](https://cloud.google.com/appengine/docs/flexible/python/using-cloud-sql-postg

[2017-06-11 05:28] dongkeuny50 opened #978 "Question : I want to use microphone with transcribe_streaming.py."
## In which file did you encounter the issue?
I think there was a method to use microphone with streaming.py but today 2017/06/11 there is no code for microphone in transcribe_streaming.py.

## Describe the issue
 If i want to use microphone with transcribe_streaming.py, do i need to write another python code?
Please help me... thank you.

[2017-06-12 18:27] evanhenry opened #980 "Unable to use streaming.py to stream IoT data stream in google datastore data into BigQuery"
## In which file did you encounter the issue?

python-docs-samples/bigquery/api/streaming.py

### Did you change the file? If so, how?

no modification of the file

## Describe the issue

I cannot figure out how to stream the IoT data that is streaming into datastore into BigQuery. I have set up a empty big query table with an identical schema, but I do not see anyway to specify a path to the data

[2017-06-12 18:28] jonparrott commented on #980
@tswast any ideas?

[2017-06-12 18:30] tswast commented on #980
There is no built-in streaming path to go from Datastore to BigQuery as far as I know. What is supported is making a Datastore backup (exported to Cloud Storage) and loading the backup into BigQuery with a load job.

[2017-06-12 18:36] evanhenry commented on #980
Tswast. thank you for the quick feedback.

I was under the impression that it was possible to stream directly into BQ from datastore.

Do you have any recommendations or ideas on how to create a data pipeline for real-time data analytics from data in datastore? Maybe instead scheduling backups every 1 hour for example? The IoT device is connected through pub/sub, it is possible to go straight from

[2017-06-12 19:17] tswast commented on #980
Scheduling backups is an option, though I'd prefer going straight from Pub/Sub to BigQuery.

We have one example with a Pub/Sub subscriber living on Kubernetes and pushing to BigQuery. https://cloud.google.com/solutions/real-time/kubernetes-pubsub-bigquery

You could also use Cloud Dataflow for this, which supports a Pub/Sub source and a BigQuery sink. I'm having trouble digging up an example that

[2017-06-12 22:04] tswast commented on #980
For using Dataflow, this appears to be a good guide: https://medium.com/google-cloud/infinite-backup-for-cloud-pub-sub-62021b679c51

[2017-06-13 16:21] ukrukarg opened #983 "appengine/standard/blobstore/gcs sample app doesn't work"
## In which file did you encounter the issue?

appengine/standard/blobstore/gcs sample app

### Did you change the file? If so, how?

No

## Describe the issue

After `gcloud app deploy` app fails to serve with error:

[2017-06-13 16:25] jonparrott commented on #983
Hi @ukrukarg, did you run `pip install -t lib -r requirements.txt` before deploying?

[2017-06-13 16:33] ukrukarg commented on #983
No I didn't.
I'm not actually following the docs, just looking for a sample blobstore app.

Works now.

[2017-06-13 16:33] #983 closed

[2017-06-14 15:02] eicca commented on #971
@gguuss I think that the mentioned PR doesn't touch `cloudiot_mqtt_example.py`. The print statements still have invalid syntax.

[2017-06-15 00:26] snapfinger opened #985 "Insufficient tokens for quota 'DefaultGroup' and limit 'USER-100s' of service 'vision.googleapis.com'"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/vision/cloud-client/crop_hints/crop_hints.py

### Did you change the file? If so, how?
1. add lines in function to show cropped image using matplotlib
`plt.imshow(im2)`
`plt.title("cropped")`
`plt.show()`
2. use without command argument parsing

## Describe the issue
I use the googl

[2017-06-15 18:03] gguuss commented on #971
Sorry about that, hopefully [fixed in this PR](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/986)

[2017-06-15 21:05] gguuss commented on #932
No idea how long it will take me, there is an example [in Node](https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/speech/recognize.js). The GRPC version took @jerjou a lot of time to get right, there's a chance he may be able to help.

[2017-06-15 21:48] odoric27 opened #989 "Unable to install google-cloud-videointelligence in python3.4 virtualenv"
i've been working through the samples under video/ using python2.7 mostly without issue, but i'm unable to even get virtualenv running with python 3.4.

after creating and activating the 3.4 env i try to `pip install -r requirements.txt` to install `google-cloud-videointelligence==0.25.0`, but the installation also crashes after running setup.py for google-gax

[code]

Any help would be appreciate

[2017-06-15 21:57] jerjou commented on #932
Made a [first pass](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/speech-mic/speech/cloud-client/transcribe_streaming_mic.py) at adapting the grpc sample to use the google-cloud client lib. It probably doesn't handle error cases as well, and it'll throw an error once it hits the 60-second API deadline, but it should at least give you guys a starting point.

The new client lib sim

[2017-06-15 21:58] gguuss commented on #932
@jerjou for president!

[2017-06-15 22:01] jerjou commented on #932
Oh, keep in mind you have to install the `pyaudio` dep. I didn't add it to the `requirements.txt` since it's not required by any of the other samples. Not sure what the Right Thing to do with that is.

Anyway, you should be able to get it to work by just running `pip install pyaudio` when in your virtualenv (modulo the normal issues installing pyaudio that were present in the previous sample -_-.

[2017-06-15 22:09] jonparrott commented on #989
/cc @lukesneeringer

I think you need to make sure you have the latest pip and setuptools, which you can get via `pip install --upgrade setuptools pip`.

Also, our libraries are starting to target 3.5+.

(closing, but let me know if that doesn't solve your issue)

[2017-06-15 22:09] #989 closed

[2017-06-15 23:21] JuanCruz98 commented on #932
Thank you so much, I'm going to test it out these days.

Il 16 giu 2017 12:49 AM, "Jerjou" <notifications@github.com> ha scritto:

[2017-06-15 23:38] jerjou commented on #932
@datspike unfortunately, if I understand your question correctly, this isn't something that you can reliably do with the API at the moment (the API, for instance, may take longer to transcribe some utterances than others, or may have to retry audio behind the scenes, increasing response latency).

...stay tuned, though ;-)

[2017-06-15 23:45] datspike commented on #932
@jerjou thanks for the reply.
It's kinda working, after some calculating I can get my timestamps to be correct up to 0,5 seconds ;)
Also, you can by pass the exception at 60s mark if you will yield ``None`` in the generator just before those 60s expire.
I'm using it in my code to correctly stop recognition process.

[2017-06-16 13:21] odoric27 commented on #989
thanks @jonparrott ! that did the trick. appreciate the heads up re: moving to 3.5+

[2017-06-16 14:46] jonparrott commented on #989
Happy to help. :)

[2017-06-16 18:53] odoric27 opened #990 "bug in 'safe_search' print statements"
## In which file did you encounter the issue?

python-docs-samples/video/cloud-client/analyze/analyze.py

there's a bug in lines 64-69. the `print` statement should contain the `.format()` for each line.

[2017-06-19 18:15] #990 closed

[2017-06-19 19:24] agsax2002 commented on #895
In the old API, the parameter for "async_recognize" is called "speech_context". Looks like the new function adds an 's' to call it "speech_contexts". I got it to work that way.

[2017-06-22 16:20] matthiasanderer opened #998 "translate.Client() returning html escaped result"
I built a simple script to translate results from the speech recognition API:

when I invoke the translation client in some cases I get HTML characters in the result:
--------- SNIPPET of script ---------------------------
# Instantiates a client
translate_client = translate.Client()

target = 'en'

translation = translate_client.translate(
	source_text,
	target_language=target)

translation_txt =

[2017-06-25 21:51] UmairPar opened #1001 "test.py: error: the following arguments are required: path"
Hey guys,

So I am new to python and maybe asking a simple question. I wanted to use the google API to do speech to text for audio files longer than a minute. So I copied and pasted the code into python and I get the error:

usage: test.py [-h] path
test.py: error: the following arguments are required: path
An exception has occurred, use %tb to see the full traceback.

SystemExit: 2

C:\ProgramDat

[2017-06-26 15:52] jonparrott commented on #1001
Hi @UmairPar, you should run the script directly with `python <script.py>`.

[2017-06-28 20:33] dmmcerlean opened #1006 "CBT autoscaler should use 'size_change_step' instead of 3 when scaling up"
## In which file did you encounter the issue?

blob/master/bigtable/metricscaler/metricscaler.py

### Did you change the file? If so, how?

No

## Describe the issue

When scaling up, a hardcoded delta of 3 nodes is used rather than the 'size_change_step' value

[2017-06-30 09:34] scripter-win opened #1008 "set the GOOGLE_APPLICATION_CREDENTIALS environment variable to the path to the key file"
## Describe the issue
sorry , I am a noob and I use windows 10 system
Here is my question
How can I  set the GOOGLE_APPLICATION_CREDENTIALS environment variable to the path to the key file, just create a new  environment variable named GOOGLE_APPLICATION_CREDENTIALS point to the file?
and what dose the export in description mean?

[2017-06-30 13:16] Spikey123 opened #1010 "BigQuery export results in temp files"
Following along the Python [BigQuery export docs](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/api/load_data_from_csv.py) I was able to automate a process to pull data out of BigQuery and into Google Cloud Storage with the specified poll_job() function.

About 2-3 days ago I started seeing an error come out

`File "export/export.py", line 265, in main
    raise R

[2017-06-30 16:02] jonparrott commented on #1008
Yep, you can use `set GOOGLE_APPLICATION_CREDENTIALS="C:\..."`.

[2017-06-30 16:02] #1008 closed

[2017-06-30 16:39] tswast commented on #1010
This seems likely to be a BigQuery backend issue. I'm checking to see if this is expected behavior.

[2017-06-30 17:11] tswast commented on #1010
Yes, this is a backend bug. A potential work around is to make sure the job has both WRITE and MODIFY access to the bucket so that BigQuery can clean up temporary files.

[2017-06-30 17:22] Spikey123 commented on #1010
Thank you, @tswast! I'll give it a shot.

When do you think this could potentially get released? Is it more weeks/months/ever? :)

[2017-06-30 17:47] nahnhnahk commented on #1010
In addition to that, can you try replacing the double slash in the output path with single slash:
So instead of "gs://path//20170628/file1--*.json", use "gs://path/20170628/file1--*.json" instead.

I believe this would help make the job succeed. We have a fix for this as @tswast mentioned and it's being rolled out, but it normally takes about 3 weeks for the rollout to complete.

[2017-06-30 18:02] Spikey123 commented on #1010
Thanks @nahnhnahk that's a good catch. I actually saw it myself as I was pasting the snippet but thought to myself "that can't be an issue given the un-predictable nature of the fails and that it's been working without a hitch for months without changes." That said, I'll go ahead and update that too.

I'll go ahead any attempt to update the service account permissions for WRITE and MODIFY and will

[2017-07-05 21:37] jerjou commented on #963
Moved the issue to the google-cloud-python repo, since it's more a question about the client lib exposing these things, than the sample, per se. (ie I don't think the client lib exposes error handling hooks, judging by the [source](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/sample.py#L249))

Worst comes to worst, if you need finer-grained cont

[2017-07-05 21:37] #963 closed

[2017-07-05 21:50] jerjou commented on #932
While I'm here - any interest in my porting the sample that attempts to [work around](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/4c83e78a2f1022738353e960063477f661bc3856/speech/grpc/transcribe_streaming_minute.py#L17) the 1-minute time limit for streaming requests?

[2017-07-06 03:01] thecodingwizard commented on #932
@jerjou Using [your code](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/speech-mic/speech/cloud-client/transcribe_streaming_mic.py), I'm having an issue when running `streaming_recognize` in `single_utterance` mode:

[code]

After I receive the final utterance, I set `MicAsFile.closed` to `True`, expecting the recognition to stop and exit.

[code]

However, the recognition doesn'

[2017-07-06 21:07] jerjou commented on #932
So I think you have two issues, which have separate answers:

### stream.closed = True doesn't stop the stream

It works for me. Did you add the `stream` argument to `listen_print_loop` and pass it in?

### `single_utterance=True` doesn't close stream after first utterance

This appears to be true when using the raw grpc client as well. I filed a bug, but in the meantime, it appears that closing t

[2017-07-06 21:07] #932 closed

[2017-07-08 03:16] thecodingwizard commented on #932
I did add the `stream` argument, but for some reason, setting `closed` to True doesn't stop the recognition for me. I have to close the pyaudio stream too: `self._audio_stream.close_stream()` for the recognition to stop. However, that's perfectly fine for my program.

Thanks for all your help! The sample code was a lifesaver :heart:

[2017-07-09 03:52] samsammurphy opened #1014 "empty firefox browser"
## In which file did you encounter the issue?

python-docs-samples/appengine/standard/flask/tutorial/templates/form.html
python-docs-samples/appengine/standard/flask/tutorial/templates/submitted_form.html

### Did you change the file? If so, how?

[code]

## Describe the issue

The app does not render the html templates in firefox (although they do render when opened up by the browser outside of t

[2017-07-10 19:36] jerjou commented on #932
Oh huh - that's unfortunate. It sounds like you're okay for now, but if you'd like to pursue the issue I'm happy to pursue it with you :-) Maybe open a new issue, though, since it's a bit tangential to this one. It'd also be helpful to include the `git diff`, and the platform that you're running on, just to try to figure out why I wasn't able to reproduce.

[2017-07-11 14:15] steren opened #1016 "Many .yaml files are using 'module', 'service' should now be used"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/taskqueue/counter/app.yaml#L4
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/taskqueue/counter/worker.yaml#L4

As we can read here: https://cloud.google.com/appengine/docs/standard/python/config/appref
Note: Modules are now named Services.

I suggest to use 'service'

[2017-07-11 21:05] jerjou commented on #978
[Here you go!](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py)

[2017-07-11 21:05] #978 closed

[2017-07-12 10:57] tommy1995 opened #1017 "Failed to import Bigtable, return error "No module named cloud""
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

I followed the official documentation on bigtable and tried to import the module. However, when I do as the documentation says, I get an error like the following. I've ensured to use virtualenv to install the module into "lib" directory, can someone shed some light? thanks

"ImportError:

[2017-07-12 11:10] tommy1995 commented on #840
hey how did you resolve this issue?

[2017-07-12 23:31] gguuss commented on #967
@nesatArcelik I'm not sure of a good way to check / expedite access to our EAP features. It's been a while since I checked in with you, has your access gone through?

[2017-07-13 16:05] jonparrott commented on #840
@tommy1995 if you're experiencing this issue, can you give us the full stack trace and let us know the versions of `google-cloud-bigquery` you have installed?

[2017-07-13 16:06] jonparrott commented on #1017
Unfortunately the Google Cloud Client Libraries aren't supported on App Engine. Some may work, you can check [this issue](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893) for more details.

[2017-07-13 16:06] #1017 closed

[2017-07-13 16:10] jonparrott commented on #1016
Thanks for reporting, @steren

[2017-07-13 16:12] jonparrott commented on #1014
@andrewsg can you take a look at this?

[2017-07-14 19:18] #1016 closed

[2017-07-18 22:21] andrewsg commented on #1014
I was unable to reproduce this issue on GAE Standard, even after submitting non-ASCII character responses in the form. On inspection of the response, I can see that the response headers  include Content-Type: "text/html; charset=utf-8" as expected, which should prevent any confusion on the browser side.

@samsammurphy, do you have any idea what might be specific about your deployment that would ca

[2017-07-19 06:35] samsammurphy commented on #1014
kind of embarrassing..I didn't read the error msg telling me the couldn't find flask.
![browser and error msg](https://user-images.githubusercontent.com/16657983/28353681-8d4aa6fc-6bf8-11e7-987d-b1774a3fac71.png)
(sorry)

[2017-07-19 06:35] samsammurphy commented on #1014
after installing flask into lib
![install flask in lib](https://user-images.githubusercontent.com/16657983/28353710-a9bc7e1e-6bf8-11e7-9f8a-5d10675762be.png)

[2017-07-19 06:36] samsammurphy commented on #1014
I seem to get sandoxed in?
![sandboxed](https://user-images.githubusercontent.com/16657983/28353722-bd00e258-6bf8-11e7-9f21-cab587c974e9.png)
(sorry if this is another obvious mistake)

[2017-07-19 16:14] jonparrott commented on #1014
@samsammurphy that's.. unusual. What happens if you run `dev_appserver.py app.yaml`?

[2017-07-19 20:18] samsammurphy commented on #1014
![dev_appserver_appyaml](https://user-images.githubusercontent.com/16657983/28387369-7edad19c-6c6a-11e7-9d75-8451c9a80979.png)

I do not have this path 'lib/cacerts/urlfetch_cacerts.txt' inside my site-packages for python 2.7.

running python 2.7.11

I am not really sure what Sandbox is..

The WSGI select exception goes away if I increase timeout..
_READINESS_TIMEOUT_SECONDS = 4
_SECONDS_TO_MILLIS

[2017-07-26 16:40] kkx opened #1032 "failed to deploy the Django example"
all set according to this [example](https://cloud.google.com/python/django/flexible-environment). worked in local, the deploy went ok, but the app engine instance failed to connect to the database instance. the following error is shown:
OperationalError at /admin/login/
(2002, "Can't connect to local MySQL server through socket '/cloudsql/**connectionName**' (2)")

we tested this example because r

[2017-07-27 21:59] samirbr opened #1036 "Example bookstore GRPC doesn't work in Kubernetes"
I deployed GRPC Bookstore example `python-docs-samples/endpoints/bookstore-grpc` using `python-docs-samples/endpoints/kubernetes` config file. I have done all steps:
1. generate `out.pb`.
2. deployed the service config and http config to Service Manager.
3. deployed to GKE `bookstore-grpc` with transcoding (ESP).

I got no error in any of these steps.

It works when I initiate the server and use t

[2017-07-28 16:30] samirbr commented on #1036
I managed to make it work (HTTP/1.x and gRPC) adding extra ports as in [https://github.com/cloudendpoints/esp/blob/master/test/grpc/gke.yaml](https://github.com/cloudendpoints/esp/blob/master/test/grpc/gke.yaml).

Please, updated the documentation in `https://cloud.google.com/endpoints/docs/transcoding` and `https://cloud.google.com/endpoints/docs/get-started-grpc-compute-engine-docker#running_the

[2017-07-28 16:37] jonparrott commented on #1036
@p-buse can you take a look at this?

[2017-07-29 10:01] jopedroliveira opened #1040 "Speech API - streaming transcriber"
## In which file did you encounter the issue?
In this path, we can see the files to perform speech recognition through Google Cloud Speech API
```python-docs-samples/speech/cloud-client/```

My point in this issues is that sometimes, developers wants to develop a real-time streaming transcriber solution. In fact, this repo already provides a script with solution for that.
However, for test purpose

[2017-07-31 17:50] jerjou commented on #1040
That's great! Did you have any particular issue with the sample code? It sounds like it's working as intended - ie it got you most of the way there, and you extended it to fit your need. Also note, that there is an associated test (`transcritbe_streaming_mic_test.py`) that demonstrates another way you can test, if you're looking for automated tests.

[2017-07-31 21:44] jopedroliveira commented on #1040
Well, in fact it's not an issue @jerjou. I was oppening this issue to prepare a merge request. However, I didn't see the ```transcritbe_streaming_mic_test.py``` script. So... Unless you want a second version of the ```transcritbe_streaming_mic_test.py```, you can close this issue

[2017-07-31 22:41] jerjou commented on #1040
Ah - cool. Thanks!

[2017-07-31 22:41] #1040 closed

[2017-08-06 08:43] weitaiting opened #1056 "Google App Engine Flexible Environment Django Example fails to connect to CloudSQL database if MySQL is used instead of PostgreSQL"
## In which file did you encounter the issue?
`mysite/settings.py`

### Did you change the file? If so, how?
Original settings in `mysite/settings.py` specify:
[code]

As such, the comments in the code imply that the correct configuration for using MySQL on CloudSQL instead of PostgreSQL is this:
[code]
The line specifying 'ENGINE' is 'django.db.backends.mysql' is the only line that I changed from

[2017-08-08 16:25] noroozimn opened #1059 "There is no "README.md under /bigquery""
Several places in your [README file](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/README.rst) you have referred to

while there is no such a file here: https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/bigquery

Are you referring to somewhere else or the file is moved to another place?

[2017-08-08 16:35] jonparrott commented on #1059
The file's been moved, I'll update those samples.

[2017-08-08 16:40] jonparrott commented on #1059
Fixed in I05013e56

[2017-08-08 16:40] #1059 closed

[2017-08-08 16:41] noroozimn commented on #1059
Thank you so much @jonparrott
The same applies to [api](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/api/README.rst)

[2017-08-08 16:42] jonparrott commented on #1059
I updated all references to README within the bigquery folder, including api. :)

[2017-08-08 16:45] noroozimn commented on #1059
In my opinion it would have been better to remove that line, instead of referring to itself! :-)

[2017-08-08 16:46] jonparrott commented on #1059
It's a little misleading, but the readmes are generated from the `help` output of the samples. So they reference each other. :)

[2017-08-08 17:26] DroidPsychoPT opened #1060 "Speech: Multiple Lines"
## In which file did you encounter the issue?
python-docs-samples/speech/cloud-client/transcribe_streaming_mic.py

### Did you change the file? If so, how?
No, I did not change the file
![test](https://user-images.githubusercontent.com/19489372/29085241-3d6ef96e-7c5e-11e7-886c-07317ebe4514.png)

## Describe the issue

When reaching the end of the line, the python program copies the line and pastes

[2017-08-08 17:27] jonparrott commented on #1060
@dizcology can you take a look?

[2017-08-10 23:23] andrewsg commented on #1056
Thank you for your detailed report. I think I understand the situation; the port is specified explicitly in the Cloud SQL Proxy setup, but it is specified only by default in the Django setup. If you change the protocol from Postgres to MySQL, the default port changes, but the explicit port for the Cloud SQL Proxy remains the same. I'll look at how to amend the comments to fix this issue.

[2017-08-11 00:15] andrewsg commented on #1032
Hi, just to clarify, you were successful in using this configuration at one time, but it started failing suddenly absent any changes, is that correct? Does the problem persist now, and if not, when did it start working again?

[2017-08-11 22:49] #1056 closed

[2017-08-13 17:28] JiaLiPassion opened #1070 "Unable to access `Google Endpoints API` with firebase auth"
Sorry I don't know If I should ask the question here. I used the `echo` sample project and
deploy it to `google cloud endpoints`, and I want to configure it with `firebase auth` instead of `api key`.  the following is the `openapi.yaml`

[code]

And when I deploy it and access with

[code]

I get the error message.

[code]

And if I add the api key.
[code]

I can get the correct result.

I am not

[2017-08-13 18:02] #1070 closed

[2017-08-14 15:51] jonparrott commented on #1070
/cc @p-buse

@JiaLiPassion did you close this because you figured it out or was it for some other reason?

[2017-08-14 17:10] JiaLiPassion commented on #1070
@jonparrott, thank you for response, I have figured it out, I didn't re-deploy the backend API application container after I re-deploy the `openapi.yaml`. Everytime I deploy the `openapi.yaml`, it will have a new `configuration id`, and I need to update the `esp container` parameters `-v ` listed below to use the newest `openapi` definition.

[code]

[2017-08-14 17:11] jonparrott commented on #1070
Good deal, thanks for letting us know. :)

[2017-08-14 21:42] p-buse commented on #1036
@samirbr could you please clarify what exactly you changed (and where) to make it work?

[2017-08-14 23:04] samirbr commented on #1036
* Service/Deployment configuration:

[code]

It also worked with other ports HTTP/1.x and HTTP/2.0:

[code]

[code]

* GRPC server:

[code]
I have a fully functional gRCP with JSON transcoding and HTTPS example working now.

[2017-08-15 13:58] tsujimasato opened #1072 "Error when you deploy phtyon-client to production google cloud enviroment ."
## In which file did you encounter the issue?
I was using GAE(python standard environment.) and encountered this error.
This is maybe because GAE does not allow us to use multiprocessing although it worked well in development.
I tried "try except" the "import multiprocessing "  so that I can skip that but it courses other Error.
Do you have any idea to avoid these error? Do I have to use REST API

[2017-08-15 16:10] jonparrott commented on #1072
Unfortunately, App Engine standard does not support these client libraries yet. We are working on it and you can follow https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893#issuecomment-322512490 for updates and more details.

[2017-08-15 16:10] #1072 closed

[2017-08-15 16:13] tsujimasato commented on #1072
I got it. Sorry for the duplicate question.

[2017-08-15 16:20] jonparrott commented on #1072
No worries. :)

[2017-08-17 17:39] robertjchristian opened #1080 "How to get taskqueue? - ModuleNotFoundError: No module named 'google.appengine'"
What is the proper way to make this library available to the Python 3.4 runtime?  It is not installable via requirements.txt nor pip install google-cloud as some other references suggest.  Where is this lib?

**Tasks pull queues are not usable without this lib.**

**There is seemingly no documentation from Google or others on how to make this lib available.  In 20+ examples and documents that say

[2017-08-17 19:14] jonparrott commented on #1080
Cloud Tasks is not yet available for app engine flexible. See here: https://cloud.google.com/appengine/docs/flexible/python/migrating#task_queue

[2017-08-17 19:14] #1080 closed

[2017-08-18 14:26] bharadwaj509 opened #1083 "appengine flask - bigquery - no module found error"
I'm using the Flask Framework which works fine in the standard appengine. I am trying to connect to Big Query and that's where I am having trouble.

So I have used:
`pip install -t lib -r requirements.txt`

The requirements are
Flask
google-cloud-bigquery

I am facing the following issue:

https://stackoverflow.com/questions/42502479/google-app-engine-big-query-python-cant-find-libraries-google-cl

[2017-08-18 16:00] jonparrott commented on #1083
The cloud client libraries do not currently work on App Engine. You'll need to use the Google API Client LIbrary.

See https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893#issuecomment-322512490 for more information.

[2017-08-18 16:00] #1083 closed

[2017-08-25 20:14] p-buse commented on #1036
The docs at https://cloud.google.com/endpoints/docs/transcoding and https://cloud.google.com/endpoints/docs/get-started-grpc-compute-engine-docker have been updated to link to information regarding transcoding.

[2017-08-25 20:17] p-buse commented on #1036
@jonparrott Please close this issue.

[2017-08-25 21:09] #1036 closed

[2017-09-07 16:40] korg opened #1100 "appengine/standard/firebase/firenotes sample not working"
## In which file did you encounter the issue?

python-docs-samples/appengine/standard/firebase/firenotes/

### Did you change the file? If so, how?

I tried it as supplied and with links to new firebase js libraries as outlined in https://github.com/GoogleCloudPlatform/python-docs-samples/issues/966

## Describe the issue

On a local server errors with:
<pre>
TransportError: Invalid and/or missing

[2017-09-10 04:33] Praxiteles opened #1102 "App Engine says "no module named cloud""
When trying to run the command "from google.cloud import bigquery" on AppEngine, we receive an error "no module named cloud" in the logs.

Is this not designed to work on App Engine? Do we need to vendor in the libraries?

[2017-09-10 04:53] michaelawyu commented on #1102
Hi! BigQuery Client Library is available on App Engine, but you need to install it first. You could vendor in the library, or specify the package `google-cloud-bigquery` in requirements.txt.

[2017-09-10 05:03] #1102 closed

[2017-09-10 13:53] jsonschema opened #1103 "annotations.proto was not found or had errors"
## In which file did you encounter the issue?

`python-docs-samples/endpoints/bookstore-grpc/http_bookstore.proto`

### Did you change the file? If so, how?

No.

## Describe the issue

Attempting to compile http_bookstore.proto

`python -m grpc.tools.protoc --python_out=generated_pb2     --grpc_python_out=generated_pb2 --proto_path=. http_bookstore.proto`

Resulted in the error:

[code]

Since th

[2017-09-10 16:20] #1103 closed

[2017-09-11 16:42] annegentle commented on #935
Stumbled across this while looking into building a simple app, and had a question on best practices. This [example](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/auth_snippets.py) seems to look for credentials in the environment with a `service_account.json` file. Is that the recommended practice?

[2017-09-11 17:05] tswast commented on #935
Using the App Engine service account should be fine. The only problem I'd anticipate is that if you do external queries of sheets or drive, the service account won't have the right scopes for those APIs.

[2017-09-12 11:26] mei-li opened #1106 "Speech API examples can't install in python 2.7.6 and 3.4.2"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/README.rst
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/requirements.txt

### Did you change the file? If so, how?
No

## Describe the issue

I just tried to install the requirements, for both Python 2.7.6 and Python

[2017-09-12 15:57] jonparrott commented on #1106
Hi @mei-li! For the Python 2.7 issue, you just need to make sure you have the latest versions of pip and setuptools installed.

We don't support 3.4, the minimum version is 3.5.

[2017-09-12 15:57] #1106 closed

[2017-09-12 17:47] jonparrott commented on #935
Closing for now.

[2017-09-12 17:47] #935 closed

[2017-09-12 19:11] mei-li commented on #1106
In the [README](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/README.rst)  it says `Samples are compatible with Python 2.7 and 3.4+.` Which sounds like 3.4 is supported

[2017-09-12 19:22] jonparrott commented on #1106
@mei-li good catch. I may need to update those. The libraries may work in 3.4 - that issue could be a side effect of outdating pip & setuptools in your 3.4 installation.

[2017-09-12 19:32] mei-li commented on #1106
@jonparrott After updating pip to `pip 9.0.1` the problem persists,in 3.4. Btw in 2.7 was resolved, thanks for the hint.

[2017-09-12 19:33] jonparrott commented on #1100
@korg interesting, the log from app engine is just a warning and not an error. Do you think you could find the real error?

@andrewsg Do you think you can try to reproduce this?

[2017-09-13 11:38] nesatArcelik commented on #967
No, I've tried right now and I received exactly same error

[2017-09-13 12:27] akmalhakimi1991 opened #1110 "Intermittent gRPC error while streaming audio from microphone"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

### Did you change the file? If so, how?
I added few things and change the recording input to arecord (as I didn't manage get pyaudio to work in the robot). I also added a timeout for if user didn't speak for 10 seconds, it will end t

[2017-09-14 21:56] dexterchan opened #1113 "Pull Subscription acknowledge deadline"
## In which file did you encounter the issue?
Which api function is able to set acknowledge deadline in PULL subscription?

### Did you change the file? If so, how?

## Describe the issue

[2017-09-14 21:59] jonparrott commented on #1113
You can do it [when creating a subscription](https://google-cloud-python.readthedocs.io/en/latest/pubsub/subscriber/api/client.html#google.cloud.pubsub_v1.subscriber.client.Client.create_subscription) or by [updating the subscription](https://google-cloud-python.readthedocs.io/en/latest/pubsub/subscriber/api/client.html#google.cloud.pubsub_v1.subscriber.client.Client.update_subscription).

[2017-09-14 21:59] #1113 closed

[2017-09-15 20:52] samirbr opened #1118 "Field of type Struct cannot be mapped as an HTTP parameter when"
I'm trying to deploy an Endpoints service with gRPC:

`native_query.proto`
[code]

`api_config.yaml`
[code]

When I run the deploy command:

[code]

I get the following error:

[code]

I tried change `NativeQuery.arguments` type to `map<string, google.protobuf.Any>` and to
`repeated KeyValue`
[code]

And still get errors:
[code]

How do use a `Struct` type parameter with a get method?

[2017-09-15 21:38] jonparrott commented on #1118
@p-buse can you take a look at this?

[2017-09-15 23:57] #1014 closed

[2017-09-17 19:36] burnzzz commented on #517
Where did the ring-buffer solution end up? Cannot find the mentioned branch. Is it merged in the master branch?

[2017-09-19 17:48] claudiadast opened #1125 "Uploading multiple files to GCS"
## In which file did you encounter the issue?

python-docs-samples/dataproc/submit_job_to_cluster.py

## Describe the issue

I am a little confused about the following `submit_job_to_cluster.py` function:

[code]
I've created an argument parsing function in my script that takes in multiple arguments (file names) to upload to a GCS bucket:

[code]
 I'm trying to adapt the top-most function to uploa

[2017-09-19 17:57] claudiadast opened #1126 "Adding machine-type parameters to create_cluster() function"
## In which file did you encounter the issue?

python-docs-samples/dataproc/submit_job_to_cluster.py

## Describe the issue

Is it possible to add the `master machine type` and `worker machine type` args in the following function?

[code]

[2017-09-19 22:10] jonparrott commented on #1126
@waprin can you take a look?

[2017-09-19 22:10] jonparrott commented on #1125
@waprin can you take a look?

[2017-09-19 22:11] claudiadast commented on #716
What would be the best way to upload multiple files directly to GCS using a python client library?

[2017-09-19 22:13] jonparrott commented on #716
@claudiadast multiple files at the same time? I'd recommend just using the latest client library with `concurrent.futures.ThreadPoolExecutor` to do them in parallel.

(closing this issue for now, but feel free to comment).

[2017-09-19 22:13] #716 closed

[2017-09-20 00:50] waprin commented on #1126
Will take look

[2017-09-20 10:50] jackwootton opened #1129 "YAML missing name of the service configuration"
## In which file did you encounter the issue?

python-docs-samples/endpoints/bookstore-grpc/api_config_http.yaml

### Did you change the file? If so, how?

No

## Describe the issue

Why is there no name attribute in the yaml file? Other yaml files (api_config_auth.yaml and api_config.yaml) specify the name of the service configuration

[code]

[2017-09-20 16:15] claudiadast opened #1130 "HttpError: "Job not found" in create_cluster() function"
## Describe the issue

I have the following function (adapted from `python-docs-samples/dataproc/submit_job_to_cluster.py`) in my script and when I run it, there appears to be a problem with the `http` step:

[code]
I get the following error: `googleapiclient.errors.HttpError: <HttpError 404 when requesting https://dataproc.googleapis.com/v1/projects/<project-name>/regions/us-east4/jobs/<cluster-n

[2017-09-20 16:41] #1130 closed

[2017-09-20 16:46] claudiadast opened #1131 "HTTPError: Json returned "Job not found my-project/my-cluster""
## Describe the issue

I have a python client library-based script that implements functions from `python-docs-samples/dataproc/submit_job_to_cluster.py`. When I tried running the full script, it returned the following error:

[code]
The issue appears to occur when implementing the `wait_for_job()` function:

[code]

But I'm not sure what exactly is wrong. Do you think the problem has to do with r

[2017-09-20 18:00] jonparrott commented on #1131
@waprin can you take a look?

possibly.

[2017-09-20 18:12] jonparrott commented on #1129
@p-buse can you take a look?

[2017-09-20 18:16] claudiadast commented on #1131
@waprin: I've followed the code as outlined in `python-docs-samples/dataproc/submit_job_to_cluster.py`, so if it were a region/zone problem, wouldn't many others be having the same issue?

[2017-09-20 18:47] waprin commented on #1131
@claudiadast there were some recent refactors and it's possible you're just the first to report an issue, will take a look in a bit, thanks for report

[2017-09-21 16:11] claudiadast commented on #1131
@waprin: Have you had a chance to decipher the problem?

[2017-09-21 20:47] waprin commented on #1131
Looking now, are you setting project right? Your output says `my-project`, that probably isn't right?

[2017-09-21 20:51] claudiadast commented on #1131
@waprin: I've replaced the actual project ID with `my-project`

[2017-09-22 16:41] claudiadast commented on #1131
@waprin: I figured out the problem. I had put the arguments in the wrong order when I called to that function. Now the job runs for quite a bit but then it raises the following exception: `Exception: Task was not acquired`.

[2017-09-22 16:59] claudiadast commented on #1131
@waprin: I fixed the original problem, but now it still can't complete the job because it says `ImportError: no module named pandas`. And in my script from which the job runs, I import pandas, as well as many other modules.

[2017-09-22 17:43] waprin commented on #1131
@claudiadast glad first problem got worked out. Have you looked at [initialization actions](https://cloud.google.com/dataproc/docs/concepts/init-actions)? They might help you make sure the nodes have pandas installed

[2017-09-22 17:45] waprin commented on #1131
I'm giving it a try myself now

[2017-09-22 17:49] waprin commented on #1125
@claudiadast filename is the path on GCS. File object is the local opened filed to upload. I will make an update to these sampels to how multiple files but roughly you should just be able to upload multiple files in a loop.

[2017-09-22 18:14] claudiadast commented on #1131
So I uploaded this initialization action script to my bucket:

[code]

And then in my main script, added this function to run it (after `wait_for_cluster_creation()`):
[code]
Is this the right way?

[2017-09-22 18:23] waprin commented on #1131
I don't think that looks right because you want to run the initializations script on cluster create rather than job submit. Make sure your initialization script is added to a GCS bucket.

Then, if you are using `gcloud dataproc clusters create` then you want to use the `--initialization-actions` flag. If you create the cluster in the code you will want to add something like

    cluster_data = {

[2017-09-22 18:25] claudiadast commented on #1131
Okay I'll try that. I would just use `gcloud` but I'm trying to develop everything in Python because this script will come after a pipeline that has run in AWS, so it needs to be compatible with AWS Lambda.

[2017-09-22 18:27] waprin commented on #1131
Gotcha, so you only should need to create the cluster once, which you can do which gcloud or the console, and you just need to make sure the initialization script that installas Pandas is run then. After that, pandas should already be on the cluster so your pipeline won't need to worry about it.

To summarize above, I think what you should do is

* Delete your current cluster
* `gsutil cp initiali

[2017-09-22 18:32] waprin commented on #1131
Ok your initialization script let me install pandas successfully, so the instructions I'm giving you above should solve your problem. But I also wrote a lot and it may be confusing, so feel free to ask any followup questions.

[2017-09-22 20:22] claudiadast commented on #1131
@waprin: I'm just going with the `gcloud` and `cloudtools` commands for the whole script right now. What would be the best way to adapt the python client's `wait` functions? Should I just do `time.sleep(n)`?

[2017-09-22 20:26] waprin commented on #1131
I'm pretty sure the gcloud commands will wait themselves. If I'm wrong you can just do a `clusters list` and grep the output until you see your cluster.

[2017-09-25 16:42] claudiadast commented on #1131
@waprin: I'm struggling with the initialization action stuff still. In the bash script, I included a `apt-get install python-argparse`, but when I submit a pyspark job, it says:

[code]

[2017-09-25 22:41] claudiadast commented on #1131
You had said when you tried my first initialization script (below) that it worked, right?

[code]
For me, when I run it for the cluster creation step, it appears to work successfully, but then when I submit a job, it still says `no module named Pandas`.

[2017-09-25 23:24] waprin commented on #1131
Mine was slightly different:

[code]
I don't see why you would only want Pandas on your Master, you want it on your workers too which is likely why your job is failing.

[2017-09-26 19:29] claudiadast commented on #1131
I was successfully able to launch a dataproc cluster by manually creating one via `gcloud dataproc clusters create....` However, when I try to launch one through my automation script, it says `ERROR: (gcloud.dataproc.clusters.create) PERMISSION_DENIED: Permission denied on resource project hail-test-project (#0)`. I don't understand why, because the script uses the same command.

[2017-09-26 19:57] waprin commented on #1131
Can you show me the script? Is it bash or python?

Auth is a common point of confusion, definitely worth checking out our [auth docs](https://cloud.google.com/authentication).

When you do `gcloud dataproc create` it uses special credentials generated when you run `gcloud auth login`. However those credentials are only valid for gcloud. If you are using application code, you can generate credentia

[2017-09-26 20:01] waprin commented on #1131
Oh and I forgot to mention - if you want to use service accounts to automate gcloud commands (since you need a human to run `gcloud auth login`) you would want to use (`gcloud auth activate-service-account`).

I know this is a big information dump but appreciate the dataproc feedback, if you want to block out 30 min to jump on Slack or something to just zone in on getting your cluster setup, happy

[2017-09-26 20:15] claudiadast commented on #1131
Hi @waprin: can we jump on slack so I can show you my code?

[2017-09-26 20:22] waprin commented on #1131
Sure:

https://googlecloud-community.slack.com

you might need to get an invite from here first:

https://gcp-slack.appspot.com/

You can message me on there, or we can do Hangout if that's more helpful to screenshare. My github username is both my name on slack and my email @ company I work at.

[2017-09-26 22:29] samirbr commented on #1118
Any updates?

[2017-09-27 04:25] madhusrhd commented on #989
pip says everything up to date but fails to install google components.

Requirement already up-to-date: setuptools in .\lib\site-packages
Requirement already up-to-date: pip in .\lib\site-packages

[2017-09-27 18:33] bryan-hunt opened #1141 "mqtt_example: mqtt_bridge_port argument needs a type hint"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/b2d417f69256fe8a7da1783172ba6268ea5627ab/iot/api-client/mqtt_example/cloudiot_mqtt_example.py#L130

Without a type hint argparse defaults arguments to str causing client.connect to throw a TypeError when attempting to use 443 per https://cloud.google.com/iot/docs/how-tos/mqtt-bridge

[code]

Adding `type=int` to the argument specifica

[2017-09-27 20:52] #1131 closed

[2017-09-27 21:10] #1141 closed

[2017-09-28 14:50] ndrbrt opened #1145 "blob.make_public() not working"
## In which file did you encounter the issue?

[code]

### Did you change the file? If so, how?

No

## Describe the issue

Tried to use the blob.make_public() method as described here: https://cloud.google.com/storage/docs/access-control/making-data-public#storage-make-object-public-python
It resulted in an error:
[code]
Isn't the method supposed to be POST?

[2017-09-28 15:05] #1145 closed

[2017-10-04 04:56] howinator opened #1149 "ndb Key Snippet is Incorrect"
## In which file did you encounter the issue?

[appengine/standard/ndb/entities/snippets.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/ndb/entities/snippets.py#L121)

### Did you change the file? If so, how?

I have a fix which properly describes that keys are an instance property and not a class property. [You can see this change here.](https://gith

[2017-10-04 11:47] ael-computas commented on #1110
I think this is due to the fact that they updated the api.
For me it was solved by updating the python client library.

[2017-10-04 17:04] jonparrott commented on #1110
@gguuss can you take a look?

[2017-10-04 17:15] jonparrott commented on #1149
Thanks, @howinator, would you be interested in sending a pull request to fix this?

[2017-10-04 18:00] howinator commented on #1149
Of course, @jonparrott. PR opened in #1150 😄

[2017-10-04 18:09] #1149 closed

[2017-10-05 21:26] gguuss commented on #1110
@jerjou /fyi

[2017-10-05 21:34] gguuss commented on #1110
Currently, speech streaming is limited to 60 seconds, I believe you're somehow reaching that limitation while running the sample.  I'll see if I can repro your issue.  Also, of particular note, you may be getting content at a higher rate than 16000hz on 1 channel. If this happens, the API tends to "think" that the audio is longer than it actually is. To debug, you might want to try just recording

[2017-10-06 03:45] akmalhakimi1991 commented on #1110
Thanks for the reply @gguuss . The code was made so that a streaming session never exceed 10 seconds. Could it be that the streaming recognize process is not properly ended? So far I haven't be able to reproduce this issue. It only happen randomly and I notice that it happened the most when I didn't speak anything.

[2017-10-06 17:13] jerjou commented on #1060
Heh - this is actually a known issue. Turns out the way that I'm overwriting interim results is by printing a carriage return and just printing over it. Unfortunately, terminals interpret carriage returns to move the cursor just to the beginning of the line. So when the transcript takes up more than one line, it'll only start overwriting on the last line.

I couldn't think of how to do this Correc

[2017-10-06 17:13] #1060 closed

[2017-10-06 22:45] jerjou commented on #517
It seems like it got lost in the transition from the grpc auto-generated clients, to the nicer google-cloud-python client lib. I just wrote a New and Improved (!!) version [here](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/speech-continuous/speech/cloud-client/transcribe_streaming_indefinite.py). I had it subclass from the existing `transcribe_streaming_mic.py` in hopes of maki

[2017-10-08 07:12] Jfeng3 opened #1152 "grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, Invalid audio content: too long.)>"
## In which file did you encounter the issue?

transcribe_streaming.py

## Describe the issue
FLAC file
Duration: 00:00:30.00, start: 0.000000, bitrate: 192 kb/s
    Stream #0:0: Audio: flac, 16000 Hz, mono, s16

## Error
grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, Invalid audio content: too long.)>

[2017-10-08 07:24] Jfeng3 opened #1153 "grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, Client GRPC deadline too short. Should be at least: 3 * audio-duration + 5 seconds. Current deadline is: 189.99941042508 second(s). Required at least: 196 second(s).)>"
## In which file did you encounter the issue?
transcribe_streaming_mic.py

### Did you change the file? If so, how?
No.

## Describe the issue

grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, Client GRPC deadline too short. Should be at least: 3 * audio-duration + 5 seconds. Current deadline is: 189.99941042508 second(s). Required at least: 196 sec

[2017-10-09 16:30] jonparrott commented on #1153
@gguuss @jerjou could one of you take a look?

[2017-10-09 16:31] jonparrott commented on #1152
@gguuss @jerjou could one of you take a look?

[2017-10-09 17:26] jerjou commented on #1153
This error occurs when you've been streaming for about 60 seconds. Note that the streaming api currently [only supports](https://cloud.google.com/speech/quotas) up to 60 seconds of streaming. For an example of how to work around this, see [this sample](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/speech-continuous/speech/cloud-client/transcribe_streaming_indefinite.py) I just pu

[2017-10-09 17:26] #1153 closed

[2017-10-09 17:30] jerjou commented on #1152
Hello-

Can you provide more detail? What are you doing, exactly? You mention you're using `transcribe_streaming.py`. Did you remember to modify it to specify that the file you're transcribing is FLAC, rather than LINEAR16? Also, if you just have a file that you're looking to transcribe, you should probably not be using the streaming endpoint - that one expects you to be streaming the audio to it

[2017-10-09 22:16] waprin commented on #1125
Thinking about it more, I think multiple files muddles the sample up too much, it should be pretty clear how to get there from what's provided, if not people can always ask for help here, so I'm just going to close this.

[2017-10-09 22:16] #1125 closed

[2017-10-09 22:38] #1006 closed

[2017-10-12 16:17] mol3earth opened #1162 "ImportError: No module named gapic.longrunning"
## In which file did you encounter the issue?

while importing
 from google.cloud import speech

### Did you change the file? If so, how?

Nope

## Describe the issue

Can't import speech.

I went through this: https://cloud.google.com/sdk/docs/quickstart-linux
and did the entire Initialize the SDK section

[code]

[2017-10-12 17:17] jonparrott commented on #1162
Hi @mol3earth, can you te me the output of `pip freeze`?

[2017-10-12 17:21] mol3earth commented on #1162
sure thing
[code]

[2017-10-12 17:26] jonparrott commented on #1162
Are you using a virtualenv? I would highly recommend trying to install this app's dependencies in a new virtualenv.

[2017-10-12 17:34] mol3earth commented on #1162
im not using a virtual environment.
I am setting one up now
why does it not work without one?

[2017-10-12 17:38] jonparrott commented on #1162
Likely a conflicting/older version of a package. In general, you should never install packages globally.

I'm going to close this, but if it still doesn't work after using virtualenv let us know.

[2017-10-12 17:38] #1162 closed

[2017-10-12 18:34] mol3earth opened #1163 "Can't transcribe a file..."
## In which file did you encounter the issue?

/python-docs-samples/speech/cloud-client/transcribe_async.py

### Did you change the file? If so, how?

Nope

## Describe the issue

not sure

[code]

[2017-10-12 18:39] jonparrott commented on #1163
@jerjou @gguuss can one of you take a look?

[2017-10-12 22:17] jerjou commented on #1163
* The API [does not support mp3](https://cloud.google.com/speech/reference/rest/v1/RecognitionConfig#AudioEncoding) - try transcoding to a WAV file, or FLAC, and try again (making sure to update the `transcribe_async.py` sample to specify the format it's in)
* How long is the audio file?
* How long did it take before you got that error?

[2017-10-13 04:06] mol3earth commented on #1163
thanks @jerjou I wasn't aware of the mp3 limitation.

my audio file was about 35 seconds long.

It took a bit. maybe a minute or so.

alas, I get the same error with even
`python transcribe_async.py resources/audio.raw`

so i don't think it is my file that is the only problem.

[2017-10-13 16:45] jerjou commented on #1163
Hm... has this worked for you in the past? It looks like `DEADLINE_EXCEEDED` could be an error the client throws (eg if it's having trouble connecting to the server). Does it work with `transcribe.py`, for instance? Or do any of the other samples in this repo work for you? Is there anything special about your network, or your python environment (or your grpc environment)? Any detail about the envi

[2017-10-13 16:48] mol3earth commented on #1163
I am on windows 10 using the Ubuntu built in.
I am behind a firewall, but I haven't had an issue with connecting to google before this.

i ended up abandoning this github project and i just construct it from scratch now using requests and an api key.

[2017-10-13 17:18] jerjou commented on #1163
Fair enough. If using `requests` works, then I'd hypothesize an issue with grpc and/or http/2 interacting with your firewall (assuming this is the first API you've hit via GRPC, instad of REST). Anyway, it sounds like you've moved on, which is fine. The REST endpoint should work fine for non-streaming transcription.

Also FYI - if you'd like to use a service account for auth instead of an api key,

[2017-10-13 17:18] #1163 closed

[2017-10-16 17:14] gguuss commented on #1110
@akmalhakimi1991 I think what's happening is that you're recording at a higher rate than 16khz mono (e.g. 44khz stereo) and the API is misreading the request data. Can you verify that you're actually recording data at 16khz by writing to a file and then inspecting the file?

[2017-10-16 20:06] jerjou commented on #1110
FYI this error currently occurs when either a given audio chunk / request is greater than 6 seconds, as well. Examining the code, I don't see anything obvious that might cause it to buffer that much audio (the `chunk` parameter is pretty much ignored), and I can't seem to reproduce this myself. Here are some guesses as to what might cause 6 seconds of audio to buffer:

* If it takes 6 seconds to e

[2017-10-17 03:49] akmalhakimi1991 commented on #1110
@gguuss Did what you suggested and the audio is recorded at [16000hz](https://imgur.com/a/lKEfE). So I guess that's not the problem unless it can randomly change over time.

@jerjou I noticed that this happened a lot (but not all the time) when I'm not speaking in the 10 seconds period. Does this mean anything to you? So far it has not happened for quite some time though.

[2017-10-18 08:03] pankajkumar opened #1165 "RetryError(Exception occurred in retry method that was not classified as transient, caused by <_Rendezvous of RPC that terminated with StatusCode.UNAUTHENTICATED"
I am trying to connect to google vision API for document to text conversion when encountered this error.

Here is the stacktrace:-

[code]

And here is dump of my pip freeze, I am using google-auth version 1.1.1:-

[code]

Any help would be appreciated.

[2017-10-19 09:33] akmalhakimi1991 commented on #1110
@jerjou 1 more question. Since I'm not using pyaudio, is there any need to use `chunk` parameter? If yes, do you know how can I impleement that?

[2017-10-19 18:42] jerjou commented on #1110
Re: chunk - basically, you're just using `1024` as the chunk size. It basically just refers to how many bytes of audio you send with each request.

(and I can't think of anything obvious that might cause the error to occur when not speaking for 10 seconds...)

[2017-10-20 09:09] akmalhakimi1991 commented on #1110
Hi @jerjou and @gguuss. So after not seeing the error for quite some time, it hit me again today. However, this time I managed to save the recording that produced the error (I basically saved the audio string and turn it into wav file). I tried to transcribe the audio using this [sample code](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_stre

[2017-10-20 12:36] mritchie712 commented on #853
Any progress on making endpoints V2 available locally? Deploying a GAE takes several minutes which really slows down the development cycle if I need to deploy every time I make a change.

[2017-10-20 19:54] jerjou commented on #1110
Thanks for the reproduction! Unfortunately, using the sample code you're using to reproduce it, the error is expected. Note that on line 41, it says:

    # In practice, stream should be a generator yielding chunks of audio data.

The sample code as-is just takes the entire audio file you give it and sends it to the API as one big chunk. Since the audio file is greater than 6 seconds long, the API

[2017-10-20 19:56] jerjou commented on #1110
(Aside: if you expect that your primary audience will speak Indian-English, you might try setting `language_code` to [`en-IN`](https://cloud.google.com/speech/docs/languages) to get better accuracy.)

[2017-10-21 20:26] mritchie712 commented on #697
Any update here? Running into the same issue.

[2017-10-22 15:33] valmunos opened #1171 "Trouble accessing analyze_entity_sentiment method"
## In which file did you encounter the issue?

C:\Users\Vincent\Desktop\NLP\env\lib\site-packages\google\cloud\exceptions.py

### Did you change the file? If so, how?

No files have been changed.

## Describe the issue

I will try to be as brief as possible.  I have a script where I am first translating text from Dutch to English using the translation API and then passing the result of that transl

[2017-10-23 03:32] akmalhakimi1991 commented on #1110
@jerjou Thanks for the suggestion. Will try it out and will let you know if I found anything. If I understand what you're saying correctly, by right, the audio stream should not stream the whole audio but instead chunk by chunk even if there's no pause in the speech (including from background noise)? Let say, if I speak non stop for 8 seconds, this issue should not happen since the audio is sent c

[2017-10-23 17:42] jonparrott commented on #1171
/cc @lukesneeringer

@valmunos can you tell us the output of `pip freeze`?

[2017-10-23 17:57] jerjou commented on #1110
No - I'm still not sure why it might happen more often when there's silence. The audio stream is sent over the network chunk by chunk no matter what - in the `sample.code.txt` code you shared up top, you were sending it in chunks of at least [1] 1024 bytes. The script doesn't actually do any sort of pause detection - so silence and speech (and background noise) should look the same to it. So, if y

[2017-10-24 00:53] akmalhakimi1991 commented on #1110
Maybe but then it happened in different devices (i.e. in Ubuntu VM on a laptop and in multiple _NAO Robot_)

[2017-10-25 06:38] karolmajek opened #1173 "python face detection: max_results parameter is not used"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/vision/cloud-client/face_detection/faces.py

### Did you change the file? If so, how?

no

## Describe the issue

The `max_results` parameter is not used, so code detects only 10 faces max:

[code]

[2017-10-25 14:37] yelena-audiencescience opened #1175 "Video that are not demo are not working Video Intelligence API"
## In which file did you encounter the issue?

python-docs-samples/video/cloud-client/labels/labels.py
### Did you change the file? If so, how?
I did not change the file.

## Describe the issue
Essentially when I run python labels.py gs://demomaker/gbikes_dinosaur.mp4 or
python labels.py gs://demomaker/cats
it works but when I try my own video (a 3-4 minute video from youtube) it doesn't work.
I a

[2017-10-25 18:16] jonparrott commented on #1175
@dizcology can you take a look?

[2017-10-25 18:17] jonparrott commented on #1173
@michaelawyu seems like an easy fix, can you take this on?

[2017-10-25 18:30] michaelawyu commented on #1173
Got it :)

[2017-10-25 21:54] MasterOfOrigin opened #1176 "ImportError: No module named msvcrt."
## In which file did you encounter the issue?
..../App-engine/standard/flask/tutorial/lib/click/__winconsole.py

### Did you change the file? If so, how?

The lib folder and the click folder which contained this file was generated when I did  "pip install -t lib -r requirements.txt " on the command prompt
requirements.txt just contained one line that said Flask==0.12.2

These were the instructions

[2017-10-25 21:55] jonparrott commented on #1176
@andrewsg can you take a look here?

[2017-10-25 21:57] andrewsg commented on #1176
Hi @mikemahon107, what behavior do you see when you try to access localhost:8080 from your browser? Do you get a stack trace at any point that you can share with us?

[2017-10-26 05:40] robmarkcole commented on #972
Likewise on following [this example](https://cloud.google.com/docs/authentication/production#providing_credentials_to_your_application), I receive the error:

[code]

[2017-10-26 11:38] denis-trofimov commented on #972
@robmarkcole I suggest you to
[code]

[2017-10-27 18:18] michaelawyu commented on #1173
Have reported to client libraries repo and waiting for a fix now

[2017-10-31 09:08] euri10 opened #1183 "incorrect example"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/pubsub/cloud-client/subscriber.py#L33-L35

### Did you change the file? If so, how?

list_subscriptions takes the project_path as parameter, not the topic_path

correct method would be
[code]

## Describe the issue

[2017-10-31 17:40] michaelawyu commented on #1183
@jonparrott I think the problem would be solved if pull request #1169 is merged :)

[2017-10-31 17:45] jonparrott commented on #1183
donion rings.

[2017-10-31 17:45] #1183 closed

[2017-11-02 17:43] gguuss commented on #1175
1080p MP4 / MOV, H.264 with MPEG audio seems to do the trick for me. What is the format of your video file?

[2017-11-02 20:56] AlvarDev opened #1191 "Token expired, generates an exception before 'claims'"
## In which file did you encounter the issue?
python-docs-samples/appengine/standard/firebase/firenotes/backend/main.py

### Did you change the file? If so, how?

I don't change the file

## Describe the issue
Token expired generates an exception:
An internal error occurred. Token expired, 1509541812 < 1509655907 [code 500]

The exception is before the 'if not claims:' so the code 401 is not sent

[2017-11-06 08:43] essramos opened #1200 "User FireStore instead of Cloud DataStore"
I am not entirely sure if this is where I should ask this.

But is it possible to use FireStore on this example? Instead of DataStore.

Please correct me if my question does not make sense, I am entirely new to Google Cloud Platform.

Thank you.

[2017-11-06 15:19] titusece opened #1201 "IOError: [Errno -9996] Invalid input device (no default output device)"
## In which file did you encounter the issue?

~python-docs-samples-master/speech/cloud-client/transcribe_streaming_mic.py

### Did you change the file? If so, how?

Nope, I didn't change anything.

## Describe the issue

Want to convert speech to text using the transcribe_streaming_mic.py python script. (I am able to run this script on one of my i.MX6 ARM board and able to convert to text success

[2017-11-06 17:58] jonparrott commented on #1201
@jerjou @gguuss can you take a look?

[2017-11-06 18:00] jonparrott commented on #1200
Which sample in particular are you referring to? (This repository contains a significant amount of samples).

In general, you can use both pretty much everywhere with one exception: the Firestore client library does not yet work on App Engine standard (but we're working on it). You can still interact with Firestore from App Engine standard via the REST API.

[2017-11-06 18:00] #1200 closed

[2017-11-06 21:05] michaelawyu commented on #1191
Hi AlvarDev! Just as the error message implies, the token for authenticating your request has expired. Tokens usually live only for a short while for security reasons, so if you log in and leave the application idle for a long period of time your session might be invalidated. You could solve this by logging out and signing again; auth server will assign you a new token upon successful logins.

[2017-11-06 21:05] #1191 closed

[2017-11-07 00:12] essramos commented on #1200
Sorry, I was talking about the Firenotes example, will I need to use App Engine for that example? Since the Authentication is on FireBase? and then save the notes on FireStore instead of DataStore. thanks.

[2017-11-07 09:18] akmalhakimi1991 opened #1204 "Is there a way to measure streaming request performance?"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

## Describe the issue

This is not really an issue. Just a question. Not sure where else can I ask this. So, I want to do a performance comparison between difference Speech To Text API and not sure how to do this. Basically, I want t

[2017-11-07 17:56] jerjou commented on #1201
Hm... I'm not sure I understand. You say you *did* get it to work on one system, but not on another? What exactly is the difference between the environment you did get it to work on, and the one you didn't?

Regardless, it sounds like perhaps pulseaudio isn't setup in the environment it didn't work in. Perhaps you could try getting a small pyaudio and/or pulseaudio program working first? I'd start

[2017-11-07 23:10] jonparrott commented on #1204
I would recommend just using the built-in python profiling tools.

[2017-11-07 23:10] #1204 closed

[2017-11-07 23:11] jonparrott commented on #1200
i see, you could, but like I said right now it's not possible to use the Firestore client on standard, so, datastore and ndb is still the easiest route.

[2017-11-09 19:49] ep-tpat opened #1210 "Issue Removing Last IAM Member from Bucket"
## In which file did you encounter the issue?
_python-docs-samples/storage/cloud-client/iam.py_

### Did you change the file? If so, how?
_No_

## Describe the issue

_I'm trying to create a script that will remove all permissions on a bucket.  The issue I'm running into is when trying to run the code below when it is the last permission/member assigned to the bucket.  I have the traceback below,

[2017-11-10 16:28] zjn0505 opened #1212 "Unable to import flask"
## In which file did you encounter the issue?

[/appengine/standard/flask/hello_world/main.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/flask/hello_world/main.py)

### Did you change the file? If so, how?

no

## Describe the issue

Like it is said in the [guide](https://cloud.google.com/appengine/docs/standard/python/getting-started/python-standard

[2017-11-10 23:45] kunalvjti opened #1213 "Error on installing cryptography on Raspberry pie with python 2.7.9"
This is in reference to https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/iot/api-client/mqtt_example

(env) pi@kp-rpi:~/python-docs-samples/iot/api-client/mqtt_example $ sudo pip install -r requirements.txtDownloading/unpacking cryptography==2.1.3 (from -r requirements.txt (line 1))
  Downloading cryptography-2.1.3.tar.gz (441kB): 441kB downloaded
  Running setup.py (path:/tm

[2017-11-11 00:15] dfoley84 opened #1214 "Permission Issues"
I am unable to get the VIsion API working. i have enable it on the console,
david@LinuxMint ~ $ gcloud beta auth application-default login

The environment variable [GOOGLE_APPLICATION_CREDENTIALS] is set to:
  [/home/david/google-cloud-sdk/Tensor-48a38a21ecd1.json]
Credentials will still be generated to the default location:
  [/home/david/.config/gcloud/application_default_credentials.json]
To u

[2017-11-11 00:38] kunalvjti commented on #1213
Looks like i had to upgrade python setuptools to address the above error. But now running into another issue while installing libffi-dev

sudo apt-get install libffi-dev libssl-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following extra packages will be installed:
  libssl-doc
The following NEW packages will be installed:
  libffi-dev libssl-dev

[2017-11-13 17:27] jonparrott commented on #1213
Hey @kunalvjti, this seems to be an issue with raspian itself and not necessarily our samples / client library. This question is better suited for stackoverflow where more people who have expertise will be watching. I'm going to close for now, but if you run into issues after you get through this let us know.

[2017-11-13 17:27] #1213 closed

[2017-11-13 18:58] kunalvjti commented on #1213
Thanks. I got this resolved. Was missing a 'apt-get update' step :)

[2017-11-13 19:42] jeremykeen commented on #971
resolved.

[2017-11-13 19:42] #971 closed

[2017-11-14 10:01] ZoeZhangBUPT commented on #1214
I use python in windows, and i have the same error when i run
“annotations = client.analyze_sentiment(document=document)”
RetryError: RetryError(Exception occurred in retry method that was not classified as transient, caused by <_Rendezvous of RPC that terminated with (StatusCode.PERMISSION_DENIED, Project strategic-ivy-184503 (#562870082271) has billing disabled. Please enable it.)>)

do you know

[2017-11-14 14:49] dfoley84 commented on #1214
Still trying to figure out how to solve it, I did open a case with Google, as i tried to use the Code inside Google Shell

[2017-11-14 16:01] michaelawyu commented on #1214
Hi @dfoley84 ! Cloud Video Intelligence API is still in Beta and currently does not recognize the credentials set by _gcloud_ utilities. You need to set up a service account for calling it. Check out the instructions [here](https://cloud.google.com/video-intelligence/docs/common/auth#set_up_a_service_account) (you might want to skip the API Key part).

[2017-11-14 16:07] michaelawyu commented on #1214
Hi @ZoeZhangBUPT ! As the error message implies, your project (strategic-ivy-184503) does not have an active billing account associated thus some of the products may not be available. [Enable billing](https://cloud.google.com/billing/docs/how-to/modify-project#enable_billing_for_a_project) in your project and the problem will be solved.

[2017-11-14 16:08] #1214 closed

[2017-11-14 16:12] dfoley84 commented on #1214
HI @michaelawyu, I didn't call the API key I followed that Link that you sent a few days ago, and it didn't seem to work, I was using my linux machine i might try a windows box and see will i get the same issue.

[2017-11-14 16:18] michaelawyu commented on #1214
Hi @dfoley84 , as said earlier you need to use the service account key (usually .json file where you need to set in your environment by running command `export GOOGLE_APPLICATION_CREDENTIALS=<path_to_service_account_file>`) instead of the API key. If you were using a correct service account key, would you mind double-checking it and confirming that the environment variable is set up correctly? Tha

[2017-11-14 16:19] michaelawyu commented on #1212
Hi @zjn0505 ! If you do not mind me asking, are you running your application directly or with dev_appserver.py?

[2017-11-14 18:31] JinJinSu commented on #626
Hello. I got same error ImportError: No module named pwd.
That was after imported "requests" module.
Who can somebody explain about it?
Waiting for somebody reply...

[2017-11-14 18:34] jonparrott commented on #626
This should be fine with the latest SDK, alternatively you can use the workaround I linked in https://github.com/GoogleCloudPlatform/python-docs-samples/issues/626#issuecomment-257347967

[2017-11-14 18:53] JinJinSu commented on #626
Thanks for your reply.
You mean, Google App Engine SDK?

[2017-11-14 18:54] JinJinSu commented on #626
your SDK version?

[2017-11-14 18:55] jonparrott commented on #626
Yes, as in the App Engine SDK / Cloud SDK.

[2017-11-14 19:02] JinJinSu commented on #626
jonparrott. Are you there?

[2017-11-15 17:13] dfoley84 opened #1220 "Cloud Functions"
I was trying out the Google Cloud Functions but getting errors of the following

Deployment failure:
Function load error: Code in file index.js can't be loaded.
Is there a syntax error in your code?
Detailed stack trace: /user_code/index.js:1
(function (exports, require, module, __filename, __dirname) { exports.subscribe function analyzeLabelsGCS(gc, callback) {

[2017-11-15 17:44] jonparrott commented on #1220
Hi @dfoley84, this repository and issue tracker are for our Python samples. You might be better served to ask this question on Stackoverflow or over at https://github.com/GoogleCloudPlatform/nodejs-docs-samples.

[2017-11-15 17:44] #1220 closed

[2017-11-15 18:53] kunalvjti opened #1222 "Error in iot/api-client/mqtt_example/cloudiot_mqtt_example.py"
pi@kp-rpi:~/python-docs-samples/iot/api-client/mqtt_example $ python cloudiot_mqtt_example.py --registry_id=my-registry --project_id=kpariani-demo --device_id=my-node-device --algorithm=RS256 --private_key_file=../rsa_private.pem
Creating JWT using RS256 from private key file ../rsa_private.pem
Traceback (most recent call last):
  File "cloudiot_mqtt_example.py", line 234, in <module>
    main()

[2017-11-15 19:15] dfoley84 commented on #1220
Hi @jonparrott Thanks for the Reply, but i notice that your Cloud functions are also in beta, just wondering is it possible, to run Google functions within the 'Cloud Function' ? i know these type of calls are possible within AWS Lambda by calling BOTO3.

[2017-11-15 19:16] jonparrott commented on #1220
Not sure what you mean by running "Google functions" within Cloud Functions.

[2017-11-15 19:25] gguuss commented on #1222
Although the sample parameter is optional, defaulting to `roots.pem` in the current path, I believe you still will need to retrieve the root certificate from Google e.g. `wget https://pki.goog/roots.pem`.

[2017-11-15 19:31] kunalvjti commented on #1222
Ok i missed that. Should be mentioned in the README

[2017-11-15 19:31] #1222 closed

[2017-11-15 20:05] seankerman opened #1224 "Decoding step is terribly slow"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigtable/hello/main.py

### Did you change the file? If so, how?

I pointed the code to my custom bigtable instance containing time series data. The data ingested was much larger than that used in the sample.

## Describe the issue

The decoding loop in the scan takes a long time i

[2017-11-15 20:50] gguuss commented on #1222
Fixed in (#1225)[https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1225]

[2017-11-16 08:54] krKeydown opened #1226 "python transcribe_streaming_mic.py 9996(Invalid input device) error help me.."
python transcribe_streaming_mic.py << run

but occur error!!

how fixed this error? teach me plz.

(env) pi@raspberrypi:~/GoogleCloudSDK/google-cloud-sdk/bin/python-docs-samples/speech/cloud-client $ python transcribe_streaming_mic.py
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.front
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2239:(s

[2017-11-16 17:28] jonparrott commented on #1226
@jerjou @dizcology can ya'll take a look?

[2017-11-16 19:58] jerjou commented on #1226
It looks like pyaudio / portaudio isn't detecting the microphone on your raspberry pi. I don't have a raspberry pi handy to try this on, but a quick search for "pyaudio raspberry pi" and "portaudio raspberyy pi" turns up some pages that look promising:

https://www.raspberrypi.org/forums/viewtopic.php?t=25173
https://app.assembla.com/wiki/show/portaudio/Platforms_RaspberryPi

You might be able to

[2017-11-17 02:36] krKeydown commented on #1226
thanks reply

install pyaudio and try more your link
and occur error T.T

pi@raspberrypi:~/GoogleCloudSDK/google-cloud-sdk/bin/python-docs-samples/speech/cloud-client $ python transcribe_streaming_mic.py/usr/local/lib/python2.7/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.9.1) or chardet (2.3.0) doesn't match a supported version!
  RequestsDependencyWarning)
Traceba

[2017-11-17 19:45] jerjou commented on #1226
Hello -

The ImportError message should give you a clue - it's looking for a library that hasn't been installed. Try going through the [setup instructions](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/speech/cloud-client#setup) in the `README.md` for this script, which should at least get you past this error.

[2017-11-20 14:20] zjn0505 commented on #1212
Hi @michaelawyu, I ran it with `dev_appserver.py app.yaml` in local terminal and from the cloud console, both failed with `ImportError: No module named flask`

[2017-11-20 14:37] michaelawyu commented on #1212
Hi @zjn0505 , what version of _gcloud_ are you currently using? You can check it by running `gcloud --version` in the terminal.

[2017-11-20 16:45] zjn0505 commented on #1212
Local env is:

Cloud env is:

[2017-11-21 00:13] michaelawyu commented on #1212
Thanks, @zjn0505 !

Did you have _Extra Libraries component for Python_ installed? It can be installed with

`gcloud components install app-engine-python-extras`

After installing this extra library you should be able to use built-in flask library without a problem. For more information, refer to [this page](https://cloud.google.com/appengine/docs/standard/python/download) :)

[2017-11-21 01:06] zjn0505 commented on #1212
This is it, thank you.

[2017-11-21 01:06] #1212 closed

[2017-11-27 23:09] dhermes opened #1232 "`print()` gets swallowed in callback for Pub / Sub subscriber"
[Here][2] is the callback and [here][1] is where published. I'm not 100% sure why `threading` swallows `STDOUT`. It's also a bit funky with `logging` (i.e. using anything other than the default logger to `setLevel` doesn't seem to work across threads).

[1]: https://cloud.google.com/pubsub/docs/pull#pubsub-pull-messages-async-python
[2]: https://github.com/GoogleCloudPlatform/python-docs-samples/b

[2017-11-28 15:07] cpraveen412 opened #1235 "TransportError: ('Connection broken: IncompleteRead(208 bytes read)', IncompleteRead(208 bytes read))"
Hi,
I'm trying to connect to My BigQuery using service_account.json file. But I'm facing issues in connection.
1) Initially I got "module Cloud not detected" Error. I solved it by uploading packages to GAE while pushing the app.
2) After That I got [TransportError: HTTPSConnectionPool](https://gist.github.com/cpraveen412/dcc6c70993c1fafb5d1ea64fd9f015f1#file-error1) Error. I resolved this by addin

[2017-11-28 17:18] jonparrott commented on #1235
Hi there, unfortunately the cloud client libraries are not yet supported on App Engine standard. We're working on it and you can follow progress at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893.

In the meantime, you can use the google-api-python-client. There's a sample for doing so [here](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/st

[2017-11-28 17:18] #1235 closed

[2017-11-28 17:45] jonparrott commented on #1232
Hrm, seems fine here in Python 3.6 and 2.7:

[code]

[2017-11-28 17:49] titusece commented on #1201
Hi,
Thanks for the reply, the same error I got when I try to play wav file using pyaudio example.

[code]

What could be the problem  ? Can you please help?

[2017-11-28 17:56] dhermes commented on #1232
I wonder what I was doing wrong.

[2017-11-28 17:58] jonparrott commented on #1232
What OS? Maybe it's an os-specific thing?

[2017-11-29 13:53] titusece commented on #1201
Any help ?

[2017-11-30 03:28] krKeydown opened #1238 "grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.RESOURCE_EXHAUSTED, Resource has been exhausted (e.g check quota).)>"
Did you exceed the api request limit?

[2017-12-01 05:27] charlewn opened #1243 "app.yaml flask support?"
## Is google app engine supporting flask?

referring to: https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/flask/hello_world

I am getting this once I added app.yaml

libraries:
- name: flask
  version: 0.12

appcfg.py: error: Error parsing /Users/Documents/Codes/python/web/src/app.yaml: the library "flask" is not supported

My environment is the latest mac

[2017-12-01 05:43] #1243 closed

[2017-12-01 22:27] adrobnych commented on #1238
I also see this error. I tested streaming with mic. Now it's second day when I see this error even with other examples like

python transcribe_async.py resources/audio.raw

I can't realize which quota I broken. My GoogleCloud Dashboard shows no-data for usage

[2017-12-04 03:23] krKeydown commented on #1238
I've seen this error, but the sample rate changes from 16000 to 48000 so it works fine. But again,
 I see this error.

[2017-12-04 17:37] jonparrott commented on #1238
@jerjou @gguuss can you take a look?

[2017-12-05 06:02] krKeydown commented on #1238
thanks reply, jonparrott

attch screenshot

![2017-12-05-150030_1920x1080_scrot](https://user-images.githubusercontent.com/33707734/33592238-383a223a-d9cd-11e7-84a1-eaf152452eda.png)

[2017-12-05 17:55] gguuss commented on #1201
This is not an issue in our sample code, you should try and figure out why audio doesn't work on your imx6 first, then we'll be able to help.

[2017-12-05 21:05] AziziShekoofeh opened #1247 "Request payload size exceeds the limit: 157286 bytes."
Hi,

- In which file did you encounter the issue?
/tree/master/ml_engine/online_prediction

- Did you change the file? If so, how?
I am trying to run the predict_json() for a reshaped image of size (1,244,244,3). It seems after serializing the JSON size is in order of 6.5 MB.  So I am getting this error:

Request payload size exceeds the limit: 157286 bytes.

Which I think, directly is connected t

[2017-12-05 21:18] jonparrott commented on #1247
@dizcology or @elibixby can one of you look at this (or find the right person)?

[2017-12-05 21:33] elibixby commented on #1247
Hey Azizi, there's no way to increase the payload size. However for images
you don't want to send images as JSON anyway, since it's an extremely
inefficient encoding. Instead you should encode the jpeg image bytes in
base64 and pass the bytes to the Cloud ML Online Prediction service as
descrubed here:
https://cloud.google.com/ml-engine/docs/v1/predict-request#data-encoding and
then use the https:

[2017-12-05 21:54] jerjou commented on #1238
Hello-

Did you set up your auth? ie did you download a service account and set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to point to it? [More details here](https://cloud.google.com/speech/docs/auth#application_default_credentials)

[2017-12-06 01:07] AziziShekoofeh commented on #1247
He Eli,

Thanks for your help. I used this code to encode my image:
[code]

Then I am making the request with:
[code]
Which I think should work fine, however, I still do have the same error. I've changed the size of the image to make sure that the problem is not coming from somewhere else. With the new size ((1,10,10,3)!) the request is passing to the network without an error but this is not the a

[2017-12-08 17:40] jaehancrate opened #1262 "Cannot load newline JSON data in GCS with a nested schema. Field: product"
Hello,

I am trying to load a file from GCS bucket.. I have tried uploading from a local file and from google storage and I get this error both times:

![image](https://user-images.githubusercontent.com/20776752/33777928-4cd7263e-dc0c-11e7-928a-a5982d049c30.png)

Here is a code snippet:

![image](https://user-images.githubusercontent.com/20776752/33778018-8dd836e6-dc0c-11e7-9640-a6a7a1c2ec75.png)

[2017-12-08 18:16] jonparrott commented on #1262
@tswast @alixhami can one of you take a look?

[2017-12-08 18:17] tswast commented on #1262
@jaehancrate Could you provide a sample of a minimal CSV file that reproduces the issue?

[2017-12-08 18:28] jaehancrate commented on #1262
Sorry I wrote the wrong title... It's a newline delimited json file in GCS.

Here is an example of sample data
[data_sample.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/files/1543499/data_sample.txt)

[2017-12-08 18:45] tswast commented on #1262
Ah, okay. In that case, note that `CSV` is the default file type. To change the load job to use newline delimited JSON, use the `LoadJobConfig` class. I'll make a note to add a JSON sample to the docs.

This should get you started.

    table_ref = dataset_ref.table(table_id)
    job_config = bigquery.LoadJobConfig()
    job_config.source_format = 'NEWLINE_DELIMITED_JSON'
    job = client.load_tab

[2017-12-09 16:40] titusece commented on #1201
Thanks for your reply.
Actually it worked one time for me, once I reboot and then getting this issue.
What could be the problem ?

[2017-12-10 21:42] mkahn5 opened #1264 "Cloud IoT Core: mqtt: SERVER:The authorization token expired."
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/iot/api-client/mqtt_example/cloudiot_mqtt_example.py

and my version on:
https://github.com/mkahn5/iot-projects/blob/master/RaspberryPi_Thermostat_Cloud_IoT/pubsub_thermostat_f10.py

### Did you change the file? If so, how?

Just changed the payload in my version, https://github.com

[2017-12-10 21:45] mkahn5 commented on #1264
<img width="694" alt="screen shot 2017-12-05 at 11 05 25 pm" src="https://user-images.githubusercontent.com/5521191/33809732-558ec002-ddb0-11e7-84c8-3e066cdea6a2.png">

[2017-12-10 21:45] mkahn5 commented on #1264
<img width="452" alt="screen shot 2017-12-10 at 1 44 49 pm" src="https://user-images.githubusercontent.com/5521191/33809735-5d88d1f8-ddb0-11e7-9576-74b21dfc7ffd.png">

[2017-12-11 09:07] akmalhakimi1991 opened #1265 "Subprocess.Popen not working after updating libraries"
[arecord.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/files/1547226/arecord.txt)

## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

### Did you change the file? If so, how?

I added few things and change the recording input to arecord (instead of PyAudio). In orde

[2017-12-11 15:04] jaehancrate commented on #1262
![image](https://user-images.githubusercontent.com/20776752/33837504-274c63f0-de52-11e7-88d1-dd72381515dd.png)

![image](https://user-images.githubusercontent.com/20776752/33837530-3e151406-de52-11e7-8f1c-520db0a5ff51.png)

That is the exact code I just ran... it still recognizes those files as a CSV

[2017-12-11 16:14] tswast commented on #1262
Looks like you forgot to pass the LoadJobConfig to the `load_table_from_uri` function.

In your code, change to:

[code]

[2017-12-11 16:19] jaehancrate commented on #1262
Yikes, that was a dumb mistake.
I'm getting a 400 error however...
![image](https://user-images.githubusercontent.com/20776752/33841191-a75d29c6-de5c-11e7-945f-d05e5210a6f3.png)

I'm not sure what the issue is here. When I inspect the GCS bucket it looks fine. I am positive it is in the right format..

[2017-12-11 16:19] jaehancrate commented on #1262
[data_sample.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/files/1548471/data_sample.txt)

Here is a data sample

[2017-12-11 16:25] jaehancrate commented on #1262
![image](https://user-images.githubusercontent.com/20776752/33841491-7d349160-de5d-11e7-826d-85ddb67d9e76.png)

I am currently running it from a file upload and it hasn't erred yet, will comment once finished.
Curious though why the from_uri method doesn't work for me.

[2017-12-11 16:30] tswast commented on #1262
Interesting. Thanks for the update. I'll try with your example file in a bit.

[2017-12-11 16:38] jaehancrate commented on #1262
Still having issues... I even tried to do so with a .json version of the same file content.
![image](https://user-images.githubusercontent.com/20776752/33842162-5f371c12-de5f-11e7-8434-d328f1356d53.png)

[2017-12-11 17:16] tswast commented on #1262
Does the table already exist? If so, do you want to overwrite to it or append to it?

[2017-12-11 17:17] jaehancrate commented on #1262
Yes the table exists and I want to overwrite it

[2017-12-11 17:18] jaehancrate commented on #1262
I want to overwrite it, and yes it does

*Jae Han*
Marketing Automation Developer,
Marketing Automation and Technology Management

1250 Techny Road
Northbrook, IL 60062
W (847) 239-6659
M (317) 219-9758

This email and any attachments may contain information that is privileged,
confidential and/or subject to attorney/client privilege, attorney work
product, intellectual property or other protectio

[2017-12-11 17:43] jonparrott commented on #1265
@jerjou @dizcology can on of you take a look?

[2017-12-11 17:44] jonparrott commented on #1264
@gguuss can you take a look?

[2017-12-11 17:48] tswast commented on #1262
In that case, probably also want to set [`job_config.write_disposition = 'WRITE_TRUNCATE'`](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/reference.html#google.cloud.bigquery.job.LoadJobConfig.write_disposition).

[2017-12-11 17:54] tswast commented on #1262
I am able to load your sample file using the following code (to a new table).

[code]

Since you are going to an existing table, my only guess is that the schema does not align with the file that you are uploading.

[2017-12-11 19:33] jerjou commented on #1265
Hello-

**Re: RESOURCE_EXHAUSTED:**
Have you set your `GOOGLE_APPLICATION_CREDENTIALS` environment variable to the path to your service account (per [this doc](https://cloud.google.com/speech/docs/auth#application_default_credentials))?

**Re: hanging**
Hanging can happen for any number of reasons. Do you have your code anywhere we can take a look at?

[2017-12-11 20:34] gguuss commented on #1264
Yup, I was seeing strange things from the console last week as well.

[2017-12-11 20:37] gguuss commented on #1264
I'm guessing that you're not refreshing the JWT after 3600 seconds.    @mkahn5 do you have code similar to the following that is executing:

        if seconds_since_issue > 60 * jwt_exp_mins:
            print('Refreshing token after {}s').format(seconds_since_issue)
            client.loop_stop()
            jwt_iat = datetime.datetime.utcnow()
            client = get_client(
                ar

[2017-12-11 20:55] mkahn5 commented on #1264
@gguuss Nope, I was unaware of the JWT expiration. I can try that snip see if it works. Maybe I missed the JWT refresh in the quickstart example.

[2017-12-11 21:56] jaehancrate commented on #1262
Which version are you using? I can't find where I am off with my schema it looks right.

For some reason I am getting an error when I try to do job_config.autodetect = True

[2017-12-11 21:58] jaehancrate commented on #1262
Is there a way to autodetect schema using load job config?

[2017-12-11 23:36] mkahn5 commented on #1264
@gguuss Couldnt find any documentation on refreshing JWT for cloud iot core. Can you make a pull request on my project? https://github.com/mkahn5/iot-projects/blob/master/raspberrypi_temp_monitor_cloud_iot/temp_monitor.py

[2017-12-12 00:50] akmalhakimi1991 commented on #1265
@jerjou The code is attached. FYI the original sample code (with pyaudio) works fine.

[2017-12-12 07:43] akmalhakimi1991 commented on #1265
To add to this, when I use `p = os.popen("arecord -f S16_LE -r 16000 -t wav")`, I will get "write error" error message

[2017-12-12 07:48] akmalhakimi1991 commented on #1265
To add to this, `os.popen` also works fine:
`p = os.popen("arecord -f S16_LE -r 16000 -t wav")`

[2017-12-12 17:54] rz93594 opened #1273 "detect.py with document call gets UnicodeEncodeError: 'ascii' codec can't encode character..."
## In which file did you encounter the issue?

python-docs-samples/vision/cloud-client/detect/detect.py

## Describe the issue

When processing a sample jpg of a document it would start to process the first part of the document and then dump out on an error shown below.

```./detect.py document letter.jpg```
Block Content: Bor953Sioux,lookout
Block Bounds:
 vertices {
  x: 1432
  y: 262
}
vertices

[2017-12-12 17:58] jonparrott commented on #1273
@dizcology can you take a look?

[2017-12-12 22:54] jerjou commented on #1265
Interesting...
okay, so after a couple tests with your code, which sometimes reproduces and sometimes not, i _think_ what might be happening is that the subprocess isn't cleaning itself up cleanly, from previous times I've run the script. I think this because, I was testing this out, and was flummoxed because it seemed like adding `print` statements was making it work. So I switched to doing somet

[2017-12-14 01:24] gguuss commented on #1264
Done, let me know if the PR helps!

[2017-12-14 01:24] #1264 closed

[2017-12-15 13:44] quarrazzella opened #1281 "extract_table does not check that the job config is an ExtractJobConfig"
Trying to use this one for my task - export_data_to_gcs.py. But what I get is ''google.api_core.exceptions.BadRequest: 400 Operation cannot be performed on a nested schema. Field: user"

**Question 1**

Is there still a way to export this kind of tables from GBQ to GCS using CSV format?

I tried to export the table using JSON, but failed as well. Here's the code

[code]

**Question 2**

How do I e

[2017-12-15 14:05] naveensinghal commented on #847
@gguuss @jonparrott

Hi,
I am trying to use Google Video Intelligence API for SafeContent Detection from python shell. But getting this Error.

[code]

Any suggestions how to fix this ?

Thanks

[2017-12-15 17:38] jonparrott commented on #1281
@tswast can you take a look?

@quarrazzella thanks for reporting, but in the future these sort of broad questions are better suited for Stackoverflow.  :)

[2017-12-15 17:39] tswast commented on #1281
The code you provide appears correct. I'll give it a try.

[2017-12-18 06:43] quarrazzella commented on #1281
Any news? @tswast

[2017-12-18 11:13] NikosTzagkarakis opened #1283 "Django Load Static"
I have a Django app on GCloud Flex and everything works fine except that I cannot find a way to load static files.

These are the steps that I have taken:
a) Handlers in app.yampl:

handlers:
- url: /static
  static_dir: static/

b) settings.py:
STATIC_ROOT = 'static'
STATIC_URL = '/static

c) index.html:

{% load static %}

Is there something I am missing?
Thanks!

[2017-12-18 14:23] Ypurek commented on #870
I've got same issue now with django 2.0 app and gcloud PostgreSQL 9.6.
SQL APIs - enabled
yaml:
[code]
settings.py:
DATABASES = {
[code]
Error on app engine:
`Exception Value:  could not connect to server: No such file or directory 	Is the server running locally and accepting 	connections on Unix domain socket "/cloudsql/<my-instance>/.s.PGSQL.5432"?`

Does anyone know how to fix it?

[2017-12-18 17:56] titusece opened #1284 "ssl_transport_security.cc:976] Handshake failed with fatal error SSL_ERROR_SSL"
## In which file did you encounter the issue?

/python-docs-samples/speech/cloud-client/transcribe_streaming_mic.py

### Did you change the file? If so, how?

Nope.

## Describe the issue

Getting the following errors while executing '**transcribe_streaming_mic.py**' python example.

I have exported the 'GOOGLE_APPLICATION_CREDENTIALS' for KEY location.
Can you please help me on this issue ?

[cod

[2017-12-18 18:12] gguuss commented on #1201
The problem appears to the audio configuration on your device. At some point something changed and caused things to break. You should try and get audio playing back on your linux system before trying the sample. This could mean anything from hotplugging your USB soundcard while watching `dmesg` to determining whether you're loading a bad module with `lsmod` ... `insmod`. There are too many variabl

[2017-12-18 18:30] michaelawyu commented on #1283
Hi!

Are you using `gunicorn` to serve your Django application in App Engine Flexible Environment?

[2017-12-18 19:32] NikosTzagkarakis commented on #1283
Hello there!

Thanks for the fast answer.

Yes I am using gunicorn and I have configured it at the app.yaml file as
follows:

entrypoint: gunicorn -b :$PORT mysite.wsgi

Let me know if you need more information.

Best,
Nikos

On Mon, 18 Dec 2017 at 20:30, michaelawyu <notifications@github.com> wrote:

[2017-12-18 22:45] michaelawyu commented on #1283
Hi!

If you are using `gunicorn`, static files in your web application will not be served as `gunicorn` will only host the app itself. It is recommended that you collect all the static files, upload them to Cloud Storage and update the `STATIC_ROOT` variable to serve static files from other sources. You may want to check out [Running Django in App Engine Flexible Environment](https://cloud.google.

[2017-12-19 00:22] crash13override commented on #947
I'm experiencing this issue also with the NodeJS version.
Sometimes (like 10% of the times) it works and recognize the first sentence, but beside that it never works with any language that is not "en-US"

[2017-12-19 01:31] tswast commented on #1281
I am able to reproduce the issue using the `test_table_nested` from the integration tests in this library. I can successfully export from the web UI, so it is something on this end.

[2017-12-19 01:34] tswast commented on #1281
I found the issue.

[code]

should be changed to

[code]

since this is an extract job.

[2017-12-19 01:36] tswast commented on #1281
I imagine the client library could probably help with this by checking that the provided `job_config` argument is of the right type, or at least produces an extract job configuration if we want to be duck-typed about it.

[2017-12-19 01:41] tswast commented on #1281
Hopefully this resolves your issue.

I've opened https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4622 on the library to do some better checking on the `job_config` arguments.

[2017-12-19 01:41] #1281 closed

[2017-12-19 07:35] doctorBeast opened #1286 "Unable to connect to cloud sql proxy"
## In which file did you encounter the issue?
I encountered the issue in python-docs-samples/appengine/flexible/cloudsql_postgresql/create_tables.py

### Did you change the file? If so, how?
No I did not change the file. I just added my cloud sql instance name username and password and everything else that was required
I followed the steps provided on this link https://cloud.google.com/appengine/d

[2017-12-19 12:22] NikosTzagkarakis commented on #1283
Hello again!.. Thank you so much for your response and your help! I will try it and come back to write about the results and It (hopefully) worked. I guess that I am not the only one that will face this issue.

Thanks again!

[2017-12-19 14:15] NikosTzagkarakis commented on #1283
It worked! I used a Google Cloud Storage Bucket and it works perfectly! Thank you so much! :)

[2017-12-19 14:44] Ypurek commented on #870
Figured out how to fix issue. Guide advises to use:

but it works with

[2017-12-19 17:22] michaelawyu commented on #1283
Great 👍

[2017-12-19 17:22] #1283 closed

[2017-12-19 17:33] michaelawyu commented on #1286
Hi!

For running your application locally you should keep Cloud SQL Proxy running in the background and use `postgresql+psycopg2://[USER_NAME]:[PASSWORD]@127.0.0.1:5432/[DATABASE_NAME]` as your `SQLALCHEMY_DATABASE_URI`.

Note that you will need to use a different URI when deployed. To switch "automatically", you might want to set environment variables as described in the [documentation](https://c

[2017-12-20 04:13] doctorBeast commented on #1286
I have tried this but when deployed it asks:
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) could not connect to server: No such file or directory
Is the server running locally and accepting
connections on Unix domain socket "/cloudsql/[INSTANCE_CONNECTION_NAME]/.s.PGSQL.5432"?

[2017-12-20 04:18] doctorBeast commented on #1286
Also do I need to input the local psql [username] and [password] or the one that I have defined in the cloudsql instance.
It was showing an error message of incorrect password when I used the username and password as defined in the cloudsql instance. I was running create_tables.py.

[2017-12-20 20:09] ep-tpat commented on #1210
Hello, it's been nearly 6 weeks since this issue was opened.  I'm hoping to get a response so we can work toward a solution.

I'm simply trying to use the "remove_bucket_iam_member" function to remove legacy permissions on a bucket.  However, when the final legacy permission is removed, the command "bucket.set_iam_policy" breaks and throws an error (it also doesn't remove the final legacy permissi

[2017-12-21 00:42] QuestionC opened #1290 "Admin Console not working in tutorial "Running Django in the App Engine Flexible Environment""
## In which file did you encounter the issue?

/python-docs-samples/appengine/flexible/django_cloudsql/mysite/settings.py

### Did you change the file? If so, how?

I replaced the middleware settings in your settings.py with those from fresh `django-admin startproject`
[code]

## Describe the issue

I have been following the tutorial at
https://cloud.google.com/python/django/flexible-environment

[2017-12-21 20:24] imwillhang commented on #1290
Not only that, but you also need to remove `django.contrib.auth.middleware.SessionAuthenticationMiddleware`, otherwise things will continue to break. This tutorial needs to be updated for Django 2.0. I spent a solid hour banging my head against this :(

[2017-12-22 03:48] michaelawyu commented on #1286
Hi doctorBeast!

**Your local PostgreSQL database and your Cloud SQL database are two different things. ** For Django applications it is recommended that you always use one database for development, in other words, a) Your app should always connect to the Cloud SQL database b) use Cloud SQL Proxy to connect the app to Cloud SQL database locally c) Use environment variables set in app.yaml to conne

[2017-12-22 10:45] quarrazzella opened #1291 "Running a query.py with destination_table argument results in an error"
## In which file did you encounter the issue?

query.py - https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/query.py

### Did you change the file? If so, how?

No, I didn't change a thing.

## Describe the issue

I'm trying to execute it with the "--destination_table" argument. This here's the command

[code]

Here's what I get:

_Traceback (most recent c

[2017-12-22 19:09] michaelawyu commented on #1290
Temporarily revert to Django 1.11.7 now for Python 2.7 users
#1292

[2017-12-22 23:19] #1290 closed

[2017-12-25 15:24] avibash commented on #870
After deploying a new version (no changes relating to DB) we started to get the `connections on Unix domain socket "/cloudsql/<my-instance>/.s.PGSQL.5432` error. I have tried @Ypurek solution but we still get the error. Any suggestions?

[2017-12-26 12:48] Ypurek commented on #870
Well, after dozen tries to run my app on App Engine without random issues :) I've set up Compute Engine VM from Launcher - https://console.cloud.google.com/launcher/details/bitnami-launchpad/djangostack?project=circus-ticket-app
It already has Python and Postgres withing and guide how to run your app. And FTP access to make deployment faster and easier

[2017-12-26 22:37] mayurjain0312 opened #1293 "grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, When parsing ' ' : Instance name expected in the form 'projects/<project_id>/instances/<instance_id>'.)>"
## In which file did you encounter the issue?

I am getting the error in https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/bigtable/hello

### Did you change the file? If so, how?

Yes, I did. I have attached the new file.

## Describe the issue
grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, When parsing 'projects/qualcomm-cor

[2017-12-27 11:48] akmalhakimi1991 opened #1294 "Is it normal for non-english language to have a long transcription time?"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

## Describe the issue

Is it normal for non-english language to have longer transcription time? When I run the script with `en-US`, it will take only 1 sec max to get the final transcription. However when I changed it to `ms-MY` and

[2017-12-28 00:08] mayurjain0312 commented on #1293
this is the new

[2017-12-28 00:08] #1293 closed

[2018-01-02 17:45] jonparrott commented on #1294
@dizcology can you take a look?

[2018-01-02 17:48] jonparrott commented on #1210
Hey @ep-tpat, sorry for the slow response (Holidays.)

It seems this is an issue with the library itself, would you mind filing an issue over on GoogleCloudPlatform/google-cloud-python?

(I can file one for you if you want)

[2018-01-02 17:48] #1210 closed

[2018-01-02 17:52] tswast commented on #1291
I don't see `run_async_query` in https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/query.py. Are you sure you have downloaded the latest version of the sample program?

[2018-01-02 17:52] jonparrott commented on #1284
@titusece can you let us know your Python version? SSL verification failing is indicative of older Pythons that lack SNI support.

[2018-01-02 18:06] ep-tpat commented on #1210
@jonparrott, the issue has been [recreated](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4682).  Thanks for your help.

[2018-01-02 22:32] theacodes opened #1297 "Dataproc system test is failing"
See https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/324307517?utm_source=github_status&utm_medium=notification

[2018-01-02 22:32] jonparrott commented on #1297
/cc @sgreenberg

[2018-01-03 13:31] degroote22 opened #1299 "How to run unit tests?"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/taskqueue/counter

### Did you change the file? If so, how?

The instructions for running locally and deploying are incredible useful but I can't figure out how to run the test that came within this sample folder.

## Describe the issue

I'm new to Python but I'm

[2018-01-03 19:47] michaelawyu commented on #1299
Hi degroote22!

We have a guide for running tests and automated tools in the [authoring guide of this repository](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/AUTHORING_GUIDE.md#running-tests-and-automated-tools).

[2018-01-03 19:48] #1299 closed

[2018-01-04 21:35] mkahn5 commented on #1264
@gguuss hey Gus, I implemented the PR and JWT refresh and now getting another error..

mqtt: SERVER:The connection was closed because MQTT keep-alive check failed.

Thoughts?
![screen shot 2018-01-04 at 1 33 26 pm](https://user-images.githubusercontent.com/5521191/34585312-091eb404-f154-11e7-9630-c48b8c9997a4.png)

[2018-01-04 21:47] gguuss commented on #1264
@mkahn5 I'm not sure I've seen this error before - is this happening after a duration of time or are you seeing it at random?

[2018-01-05 00:20] mkahn5 commented on #1264
@gguuss Deleted comment in thread, error was from another device. Will provide feedback on the PR and JWT refresh soon. Thanks :)

[2018-01-06 03:29] pakyinchu commented on #1176
Add this to appengine_config.py

import os
import sys
on_appengine = os.environ.get('SERVER_SOFTWARE','').startswith('Development')

if on_appengine and os.name == 'nt':
  sys.platform = "Not Windows"

[2018-01-08 16:01] titusece commented on #1284
Hi,
Thanks for your reply.
As far as I remember that it worked for my friend with the same setup.
python version is 2.7.

[2018-01-08 18:10] dhermes opened #1305 "Pub / Sub list_subscriptions_in_topic uses wrong method"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/06453e45a644fae39ea2c22d4c761645b71aa42b/pubsub/cloud-client/subscriber.py#L30

## Describe the issue

`publisher.list_topic_subscriptions()` should be used rather than `subscriber.list_subscriptions()`

See https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4426

[2018-01-08 18:11] jonparrott commented on #1305
@andrewsg can you take this on?

[2018-01-09 20:25] csantanaes commented on #697
news about this error?

[2018-01-09 20:41] jonparrott commented on #697
You should use a service account as described here: https://cloud.google.com/docs/authentication/getting-started

[2018-01-11 04:12] akmalhakimi1991 commented on #1294
Hi. I just tested the same script on a faster network (100mbps) and I can see the transcription time for non-English are a lot faster and on par with English. FYI the first test was done on 8mbps network.

[2018-01-11 17:48] jonparrott commented on #1294
@akmalhakimi1991 are we good to close this, then?

[2018-01-11 17:58] borisbolvig opened #1315 "Restrictions to input video format? --Getting Error"
without modification running
python-docs-samples/video/cloud-client/analyze/analyze.py

I am attempting to run label detection on a local video file.
It seems not to work for certain widescreen aspect ratios.

I am getting valid response for the demo files and other examples, but for .mov movie trailers as found on http://www.hd-trailers.net/ it doesn't work.
Specific example http://movietrailers.

[2018-01-11 17:59] jonparrott commented on #1315
@dizcology can you take a look?

[2018-01-11 18:01] borisbolvig commented on #1315
#1175 possibly related

[2018-01-12 03:28] akmalhakimi1991 commented on #1294
Hi @jonparrott . My program will not run on a 100mbps network. I will be using it mostly on a 10mbps - 20mbps Wi-Fi network. What I don't understand is, why `en-US` transcription didn't take as long as `ms-MY` and `cmn-Hans-CN` on the slower network. Is it expected for the non-English to perform worse on a slower connection? And why the difference is so big?

FYI, here's our test results :

| Lang

[2018-01-12 21:11] jonparrott commented on #1294
@dizcology would be able to track that down.

[2018-01-16 14:20] sorgloomer commented on #1176
This issue is present for a while now. Happens when you try to kickstart a new Python+Flask application in the local development server on windows. Some guys here already did some research: https://github.com/pallets/click/issues/594

[2018-01-18 21:13] victorhooi commented on #870
I seem to be randomly hitting this error as well.

Trying to follow the tutorial at:

https://cloud.google.com/python/django/flexible-environment

[code]

Is there a categorical answer on whether this is a configuration error, or just some intermittent failure in GAE?

[2018-01-22 02:06] elibixby commented on #1247
Why are you encoding twice? I don't understand the relationship between your two code snippets.

@rhaertel80 is there a way to raise the request size cap?

[2018-01-23 11:32] sorgloomer commented on #1176
I opened a ticket on App Engine's official issue tracker too:
https://issuetracker.google.com/issues/72043776

The reason is that python's standard set of libraries is different on Windows and Linux. On Windows, the msvcrt module is present, and click is loading that module. App Engine's isolated environment strips some of the builtin modules too, leaving only the ones that are present on the Linu

[2018-01-24 22:33] foresmac opened #1330 "Add examples for creating push subscriptions and updating subscriptions"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/pubsub/cloud-client/subscriber.py

### Did you change the file? If so, how?

No.

## Describe the issue

There are no examples in Python for creating push subscriptions (it's totally [possible to do](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/goog

[2018-01-25 03:17] JohnsCreek opened #1334 "Error when run transcribe_streaming_mic.py"
I am running transcribe_streaming_mic.py

I got the following error. Would you please help me? Thanks!

ALSA lib pcm_dmix.c:1052:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2495:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2495:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2495:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
ALSA lib pc

[2018-01-25 18:40] jonparrott commented on #1334
@dizcology can you take a look?

[2018-01-28 15:00] akmalhakimi1991 commented on #1265
Any update on this issue? Seems like if I comment this line `client = speech.SpeechClient()`, the `subprocess.Popen` call won't get stuck.

[2018-01-31 04:43] akmalhakimi1991 commented on #1265
Update: Finally it's working again after upgrading to 0.31.0. Thanks!!

[2018-01-31 04:43] #1265 closed

[2018-01-31 04:48] akmalhakimi1991 opened #1337 "Streaming from mic sample code not working after update with error - "TypeError: __call__() got multiple values for keyword argument 'timeout'""
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

## Describe the issue

The sample code straight up not working after the new `0.31.0` update. Full error message:

[2018-01-31 19:00] vijayanandrp opened #1338 "[export big query table to cloud storage] - Error - 400 Operation cannot be performed on a nested schema. Field: totals"
## In which file did you encounter the issue?

I am trying to export the table data to cloud storage. Following the code I have used.

[code]
I got successful in few tables but after that I got the following errors,

[code]

### Did you change the file? If so, how?

No I haven't any code. Just used the code snippet that's it.

[2018-02-01 06:50] vijayanandrp commented on #1338
https://gist.github.com/vijayanandrp/3f9f6e7469d6378ebe4c5b8f4272375d

Found the answer. I was trying to transfer in CSV format. There are no errors in JSON and Avro formats

[2018-02-01 06:50] #1338 closed

[2018-02-02 06:12] jonparrott commented on #1337
Closing in favor of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4820

[2018-02-02 06:12] #1337 closed

[2018-02-03 05:52] swkim01 opened #1342 "F*cking transcribe_streaming_mic and streamcloud speech api"
I used the cloud speech api with streaming a couple of minutes per a few times.
Then, Google charged to me $203 by using over 8,547 minutes.
I guess that the program abnormally requested the speech api over 30,000 times during actual short time/minute. Btw, the request report per 30 days within google cloud platform page shows just several hundreds of request times for 30 days.

A google manager s

[2018-02-06 11:07] lxmn opened #1347 "Vision: error: 'dict' object has no attribute 'before_request'"
error_remapped_callable
    six.raise_from(exceptions.from_grpc_error(exc), exc)
  File "<string>", line 3, in raise_from
google.api_core.exceptions.ServiceUnavailable: 503 Getting metadata from plugin failed with error: 'dict' object has no attribute 'before_request'

Can anyone tell me how to resolve this issue

[2018-02-06 16:26] jonparrott commented on #1347
Can you let us know which sample you're using and the output of `pip freeze`?

[2018-02-07 07:06] talonx opened #1352 "Sample code is out of sync"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/monitoring/api/v3/api-client/custom_metric.py#L176

### Did you change the file? If so, how?
No

## Describe the issue
The function get_client() does not exist in list_resources

[2018-02-09 21:18] junying1 opened #1357 ""on_disconnect. 1. Out of memory""
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/iot/api-client/mqtt_example/cloudiot_mqtt_example.py

### Did you change the file? If so, how?

No

## Describe the issue

I'm seeing a hard to track down error with Google Cloud IoT. I have 2 projects set up with IoT API enabled. I'm using the same "quickstart" instructions to tes

[2018-02-10 00:11] foresmac commented on #1330
@andrewsg Looks like there's an example of creating a push subscription added recently; thank you! Where is `pubsub_v1.types.PushConfig` documented? I can't seem to find it.

Also, any chance there will be an example of updating a subscription?

[2018-02-10 00:36] foresmac commented on #1330
This _might_ be what I'm looking for, but it seems to suggest that the only thing that can be changed is the `push_endpoint`: https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/types.html#google.cloud.pubsub_v1.types.PushConfig

How can I change, for example, the retention duration?

It seems as though there is [an example somewhere](https://github.com/GoogleCloudPlatform/pyth

[2018-02-10 01:05] myelin commented on #1176
Thanks for being persistent and bringing this to our attention!  msvcrt will be in the whitelist in the SDK once the change makes it through our testing pipeline.

[2018-02-12 17:46] salrashid123 opened #1360 "Update GAE Standard BQ sample to use google-cloud liibarary"
The doc example for [GAE Standard + BQ](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/bigquery)  currently uses the older Google API Client Libraries.

Suggest updating the docs to show google cloud library examples.

eg, a basic example

[code]

- app.yaml:
[code]

- appengine_config.py

[code]

- default.py

[code]

[2018-02-12 17:53] jonparrott commented on #1360
Unfortunately these libraries aren't yet fully supported on GAE standard. See https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893

/cc @tswast.

[2018-02-12 17:54] #1360 closed

[2018-02-12 18:33] tswast commented on #1360
Ooh. I didn't realize / forgot we had these samples. I don't think they are included in the docs at cloud.google.com, but it's been on my list to add some App Engine samples there. Thanks for pointing them out.

Yeah, it is unfortunate that we need to show API client examples for App Engine users.

[2018-02-12 20:33] eyalev opened #1362 "Why there are two requirements files in Django GAE example?"
## In which file did you encounter the issue?

appengine/standard/django/requirements-vendor.txt
appengine/standard/django/requirements.txt

## Describe the issue

In the Django GAE example, why there is a `requirements.txt` file **and** `requirements-vendor.txt` ?

[2018-02-12 20:39] jonparrott commented on #1362
See https://cloud.google.com/python/django/appengine

One is used for running locally, one is used to prepare dependencies when deploying to GAE.

[2018-02-12 20:39] #1362 closed

[2018-02-13 14:02] Osiris1975 opened #1363 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x8b in position 1: invalid start byte"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/quickstart.py

### Did you change the file? If so, how?

Yes, I changed the value of the string bucket_name to 'amr-test-bucket'

## Describe the issue

When I try to run this quickstart script for creating a bucket using the cloud storage API from the PyCharm

[2018-02-13 16:45] jonparrott commented on #1363
@Osiris1975 this is pretty unusual. Can you use PyCharm to run a script that does this?

[code]

[2018-02-13 16:56] Osiris1975 commented on #1363
Yes, that works:
[code]
I think it's something wrong with the particular PyCharm project I'm trying to use the Google storage library with. If I run the quickstart sample code in a new project using a PyCharm run config, it works fine. So not a problem with the library itself.

[2018-02-13 17:06] Osiris1975 commented on #1363
So definitely something with my Conda environment. Not a Google problem so I will close this.

[2018-02-13 17:06] #1363 closed

[2018-02-13 17:20] Osiris1975 commented on #1363
In case anyone else runs into this bizarre issue, I resolved it be deleting the .idea directory in my project and letting PyCharm rebuild it on restart.

[2018-02-15 19:59] tadly opened #1364 "streaming_recognize blocking"
## In which file did you encounter the issue?

[transcribe_streaming_mic.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/d93f8e90c974b24c67f57669d388ae84f705b0ed/speech/cloud-client/transcribe_streaming_mic.py) I guess

### Did you change the file? If so, how?
Doesn't matter

## Describe the issue
Title probably gives it away already.
`streaming_recognize` is (or can be) blocki

[2018-02-16 02:37] junying1 commented on #1357
Turns out it's the python version. It was just about impossible to debug. I ended trying on many different devices/os to slowly isolate the issue. Looks like newly created projects rely on newer versions of google cloud sdk and python. Must have python 2.7.14.

[2018-02-16 02:37] #1357 closed

[2018-02-21 00:08] andrewsg commented on #1330
Hi @foresmac, I looked into this and it looks like retention duration is not configurable for push subscriptions right now.

Other subscription attributes like the topic and ack_deadline_seconds can only be configured on subscription creation; the sub has to be deleted and recreated to change it.

I believe PushConfig (only) can be modified on a live subscription by using an API call: https://clou

[2018-02-21 16:59] foresmac commented on #1330
Well, most specifically, if you have a "bad" message in a topic, and the subscription is set up as push, it'll just keep hitting your endpoint over and over again multiple times per second for seven days—the default retention duration. Now, I no the message is bad, and so I don't want to "fix" the endpoint to deal with this, and since there's no way whatsoever to monitor topics and remove problema

[2018-02-21 17:06] foresmac commented on #1330
@andrewsg Does that make sense?

[2018-02-21 18:18] andrewsg commented on #1330
Yes, it does! Thank you for the feedback. I will send this along to our product manager.

[2018-02-21 19:22] #1330 closed

[2018-02-23 18:59] DanielJoyce commented on #870
Encountered this bug as well, with a ruby app

[2018-02-25 19:02] hack-r commented on #807
@jerjou  I gave a well deserved thumbs up but the link seems to be broken, is there a new link? Incidentally, is possible that this indicative more that we may be going about something the wrong way?

[2018-02-25 19:38] chemelnucfin opened #1371 "update requirements.txt automatically"
## In which file did you encounter the issue?
`/speech/cloud-client/requirements.txt`

## Describe the issue
`requirements.txt` should be updated to keep track of the latest (or almost the latest) package.

See [google-cloud-python/4885](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4885) for some minor background information.

[2018-02-26 21:27] andrewsg commented on #1330
Hi @foresmac, update here, my product manager says that the ability to customize the retention period for push subscriptions is in alpha right now. If you would like to participate, reach out at cloud-pubsub@google.com.

[2018-03-02 21:26] gguuss commented on #1315
In my experience, the best format for the video API is:

* 1080p MP4 / MOV, H.264 with MPEG audio

[2018-03-03 10:57] bjohas commented on #1247
@elibixby Thanks for the answers. What's the recommendation for speech recognition? I have file of an hour that I'd like to transcribe - that would be impossible to fit into 10MB (which seems to be the limit on the speech recognition side).

[2018-03-03 10:59] bjohas opened #1379 "concurrent.futures._base.TimeoutError: Operation did not complete within the designated timeout."
## In which file did you encounter the issue?

transcribe_async.py

### Did you change the file? If so, how?

Unchanged.

## Describe the issue

 python transcribe_async.py gs://sources/audio2.raw

The above neither completes, nor produces an error: "concurrent.futures._base.TimeoutError: Operation did not complete within the designated timeout."

Any thoughts?

[2018-03-03 11:02] bjohas opened #1380 "flac encoding vs. headers: google.api_core.exceptions.InvalidArgument: 400 Specify FLAC encoding to match file header."
## In which file did you encounter the issue?

 transcribe_async.py

### Did you change the file? If so, how?

Unchanged

## Describe the issue

I've not managed to get flac encoded with ffmpeg to match the headers (encoding flac, 16000). Does anybody have a conversion command (ffmpeg ideally) that produces compatible flac?

For flac, why is it necessary to specify the header anyway?

[2018-03-03 11:05] bjohas commented on #1152
@jerjou I may have a similar problem. Does the "google.api_core.exceptions.InvalidArgument: 400 Request payload size exceeds the limit: 10485760 bytes." also apply to files accessed via GCS URIs / gs:// ?

In principle, for files accessed via GCS URI, is there a time limitations? (We'd like to transcribe files that are about an hour long.)

[2018-03-04 05:10] chemelnucfin commented on #1371
?

[2018-03-04 20:00] tazotodua commented on #807
Seems talking about https://github.com/GoogleCloudPlatform/python-docs-samples/blob/speech-continuous/speech/cloud-client/transcribe_streaming_indefinite.py, but i wanted for c#... thanks anyway

[2018-03-04 23:52] monajalal opened #1381 "how to run the entity sentiment for each line of a file saved in google cloud storage?"
I need to write a script that runs a python script on each line of a text file as an input separately and then saves the result in json file named after the line it reads the file from.

So text file input.txt looks like below:
Monday
Tuesday
Wednesday
Thursday
Friday

and I want the output be like 1.json, 2.json, 3.json, 4.json, 5.json in output folder.

The way the script is ran is like below

[

[2018-03-05 18:11] jonparrott commented on #1381
Hi @monajalal, this question might be better suited for Stackoverflow- generally this issue tracker is for bugs or issues with the samples as they are written.

[2018-03-05 18:11] #1381 closed

[2018-03-05 18:12] jonparrott commented on #1371
This is handled automatically https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1377

[2018-03-05 18:12] jonparrott commented on #1380
@jerjou @dizcology can one of you take a look?

[2018-03-05 18:12] jonparrott commented on #1379
@jerjou @dizcology can one of you take a look?

[2018-03-05 19:05] bjohas commented on #1379
Many thanks - happy to engage if further data is needed.

[2018-03-05 19:06] bjohas commented on #1380
Many thanks - happy to engage if further data is needed.

[2018-03-06 22:48] TheNarwhalArmy opened #1384 "The line client = vision.ImageAnnotatorClient() throws an error in a different file."
## In which file did you encounter the issue?
image_annotator_pb2.py

C:\Users\ethan\AppData\Local\Programs\Python\Python36\lib\site-packages\google\cloud\vision_v1\proto\image_annotator_pb2.py

I did not change much b/c I don't really know why it actually is causing an error.

## Describe the issue
when I run the script I got from this link (https://cloud.google.com/vision/docs/detecting-labels#v

[2018-03-06 22:53] jonparrott commented on #1384
It seems you passed in the credentials filename to the constructor:

[code]

You should instead just set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable as documented [here](https://cloud.google.com/docs/authentication/getting-started) and then just:

[code]

[2018-03-06 22:53] #1384 closed

[2018-03-09 08:34] BlonDev commented on #1200
Is this still the case? Really want to use App Engine with FireStore instead of DataStore.

[2018-03-09 14:03] exjohn opened #1391 "video / labels doesn't report actual label segments"
In `python-docs-samples/video/cloud-client/labels/labels.py`, line 53:

[code]
is not as helpful as
[code]

The former is the current state. It always returns the whole clip length for each label.

The latter returns the label segments as detected.

[2018-03-12 04:32] maran1989 opened #1393 "ImportError: No module named googleads in GAE, but already installed it locally."
have a django project using python 2.7 and want to deploy it on Google App Engine(GAE).

I followed all this link for the tutorial: https://cloud.google.com/python/django/appengine

When I finished deploying, and go to my project URL, I got an error and when I look on the Error Reporting in Google Cloud Platform It says "ImportError: No module named googleads", but I already installed it on my loc

[2018-03-12 09:08] #1364 closed

[2018-03-12 13:11] sohamsil opened #1394 "Speech API not working for Hindi and Marathi"
Hey guys,

I have implemented the code successfully for English but whenever I try to transcribe a Hindi or Marathi file. I get alternatives instead of the words in "response" as shown below,

[code]

Getting the output as `word: "\340\244\227\340\244\210"` instead of the exact word in Hindi or Marathi.

Invocation in terminal:
`python3 transcribe_time_offsets_with_language_change.py -s "hi-IN" Ro

[2018-03-12 16:00] jonparrott commented on #1394
@dizcology @jerjou can one of you take a look?

[2018-03-12 16:02] jonparrott commented on #1393
Hi @maran1989, you can't just install packages in a virtualenv for GAE standard. You'll need to add it to `requirements-vendor.txt` and run `pip install -t lib -r requirements.txt`. See [here](https://cloud.google.com/appengine/docs/standard/python/tools/using-libraries-python-27#copying_a_third-party_library).

[2018-03-12 16:02] #1393 closed

[2018-03-14 13:29] amnanajib commented on #816
could anyone explain to me the following parts:
# The name of the audio file to transcribe
file_name = os.path.join(
    os.path.dirname(__file__),
    'resources',
    'phone.3gp')
and
# Loads the audio into memory
with io.open(file_name, 'rb') as audio_file:
    content = audio_file.read()
    audio_sample = speech_client.sample(
        content,
        source_uri=None,
        encoding='AMR',

[2018-03-15 11:24] yozmag opened #1403 "MicroPyhon Support"
Looking at iot/api-client/mqtt_example/cloudiot_mqtt_example.py the exemple is not support on devices running on https://micropython.org/. If somehow this lib could be ported to Micropython would allow a vast range of devices to connect to Google Clould IOT, that cant connect otherway, incluiding the MQTT service.

[2018-03-16 21:06] ahmetb opened #1407 "Rename container_engine/ to kubernetes_engine/"
We should probably do this at some point.

[2018-03-18 02:06] sunnygoel8 opened #1412 "Facing issue while running Python Flask web app on App Engine"
[CRF_FlaskApp.zip](https://github.com/GoogleCloudPlatform/python-docs-samples/files/1822286/CRF_FlaskApp.zip)
I'm facing following issue while running Python Flask web app on Google app engine. Earlier I was getting Flask module import issue. I fixed that by downgrading version to 0.12 and mentioned the same in app.yaml file also. Created a lib folder and installed Werkzeuz 0.12.2 library.

Post d

[2018-03-20 01:41] EffyF commented on #1363
Hi i have the same problem it's from conda"CondaIndexError: Invalid index file: https://github.com/pri22296/beautifultable/tarball/0.4.0/osx-64/repodata.json: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte" this is the error, i have already uninstall beautifultable package but still this error show up every time i want to install something using conda

[2018-03-20 08:17] WierZheng opened #1416 "503 Connect Failed"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

`python quickstart.py `

Traceback (most recent call last):
  File "quickstart.py", line 60, in <module>
    run_quickstart()
  File "quickstart.py", line 52, in run_quickstart
    response = client.recognize(config, audio)
  File "E:\PythonProjects\speech\env\lib\site-packages\google\cl

[2018-03-23 18:17] sunnygoel8 commented on #1412
Can anyone help me fix this issue ?

[2018-04-02 00:03] grantdelozier opened #1432 "client.document_text_detection() errors "Bad image data." but the file seems fine"
## In which file did you encounter the issue?

You can download the file in question from s3 here: https://s3.amazonaws.com/oseberg-public/nlp-files/57c3bad43cc4b5d1ce9cecf2ff6b2fde55c0e797c366704ee264c4091cc43d4a_copy.png

## Describe the issue

Download the file and run the following:

[code]

I don't think there is anything wrong with the png file in question. I can open the png just fine using

[2018-04-03 18:06] jabubake commented on #975
@jsimonweb FYI

[2018-04-06 12:36] MAnand59 opened #1439 "i am getting some sort of environment error at this point " db = firestore.Client()""
why do i get this error when i run this code....Btw i think something is wrong with "db = firestore.Client()" this part....And i am trying to run this on my "raspberry pi 3"

********************
Traceback (most recent call last):
  File "/home/pi/Desktop/test.py", line 8, in <module>
    db = firestore.Client()
  File "/home/pi/.local/lib/python2.7/site-packages/google/cloud/firestore_v1beta1/cli

[2018-04-07 00:03] jabubake commented on #1439
@ryanmats FYI

[2018-04-07 03:31] ryanmats commented on #1439
@MAnand59 Looks like you need to set up authentication to call the Firestore API. To do this you'll need to download a service account key (a JSON file) to your raspberry pi and then set the GOOGLE_APPLICATION_CREDENTIALS environment variable to point to that file on the device.

See https://cloud.google.com/firestore/docs/quickstart#set_up_your_development_environment for more details.

Let me kn

[2018-04-07 03:31] #1439 closed

[2018-04-09 08:25] akmalhakimi1991 opened #1443 "Is there a way to gracefully stop transcription process if it's not returning anything within a period of time?"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

## Describe the issue

Is there any way to gracefully stop the `listen_print_loop()` if it's not returning anything within a period of time? I know I can add a timeout parameter in `streaming_recognize()` but seems like the minimum ti

[2018-04-13 05:34] srivasp2006 opened #1450 "Can we load data into cloud storage through pubsub"
Hi ,

Our requirement is to load data into cloud storage through pubsub , as part of testing we have executed scripts which are given in below path
python-docs-samples/pubsub/cloud-client
quickstart.py
iam.py
subscriber.py
publisher.py
requirements.txt
Can you please suggest where we have to give cloud storage bucket path in this scripts or console level.

and my source files are at desktop and ot

[2018-04-13 06:36] #1416 closed

[2018-04-13 06:39] WierZheng commented on #1416
a good network Access to the Google but not over the wall  will help for  this

[2018-04-14 13:59] vggl opened #1451 "Django 2.0 doesn't support Python 2.7 mismatch with official Cloud Platform tutorial"
## In which file did you encounter the issue?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/flexible/django_cloudsql/requirements.txt

### Did you change the file? If so, how?
No.

## Describe the issue
In the following [official GCP tutorial], it states "This tutorial requires Python 2.7 or 3.4." and then it makes you use [this GitHub repo]. In the "requirements

[2018-04-17 16:02] dalmam11 opened #1456 "RecognitionConfig has no "enable_automatic_punctuation" field"
i want to enable punctuation  on the result of the google cloud speech api .I added  enable_automatic_punctuation=True on the config But i have an error : ValueError: Protocol message RecognitionConfig has no "enable_automatic_punctuation" field.

[2018-04-21 19:28] tuanlemau commented on #1456
I have the same problem

     12         language_code='en-US',
     13         # Enable automatic punctuation
---> 14         enable_automatic_punctuation=True)
     15
     16     response = client.recognize(config, audio)

ValueError: Protocol message RecognitionConfig has no "enable_automatic_punctuation" field.

[2018-04-25 14:28] ericgj opened #1463 "Example connecting to PostgreSQL CloudSQL from App Engine standard?"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/cloudsql

## Describe the issue

I noticed the [docs](https://cloud.google.com/appengine/docs/standard/java/cloud-sql/using-cloud-sql-postgres) only have an example for Java standard GAE environment, is there a way to connect to PostgreSQL yet in Python standard

[2018-04-26 17:29] frankyn opened #1465 "[Pubsub] Test failure or possible flake"
## In which file did you encounter the issue?

In PR [1464](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1464)

### Did you change the file? If so, how?

I updated READMEs, but pubsub test failed.

## Describe the issue

I'm unsure what the actual issue, but the Travis CI error:
* [https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/371411568#L1561](https://trav

[2018-04-27 04:36] zhukaisjtu opened #1467 "Customise Sentiment Analysis"
Hi,

I am trying to use gcp natural language API to do sentiment analysis. In my project, "The project status is red" is very negative, while "The project status is green" is very positive. Thus, I'd like to update words like "red" and "green" (may be more words) in the sentiment analysis model. Is it possible to do this?

Thanks!

[2018-05-01 21:27] jonparrott commented on #1284
It's almost certainly due to older SSL. I would highly suggest installing `requests[security]` and upgrading your Python version.

[2018-05-01 21:27] #1284 closed

[2018-05-02 18:37] DaskJeeves commented on #870
Still getting this issue. What is the solution here?

[2018-05-03 15:40] tab1293 commented on #1284
@jonparrott I have tested with python 2.7.15 with `request[security]` installed and still seeing this issue.

[2018-05-03 15:48] jonparrott commented on #1284
Try this workaround: https://github.com/lightningnetwork/lnd/issues/795#issuecomment-374903140

This actually seems to be a bug in grpc. @nathanielmanistaatgoogle @mehrdada

[2018-05-03 15:52] tab1293 commented on #1284
@jonparrott even with that work around, still not working.

[code]

Is there any additional information I can include to help debug?

[2018-05-03 15:53] jonparrott commented on #1284
Your gRPC version and OS will be helpful

[2018-05-03 15:57] tab1293 commented on #1284
Python's gRPC version is at 1.9.1 and I'm on MacOS 10.13

[2018-05-03 16:11] nathanielmanistaatgoogle commented on #1284
@jiangtaoli2016, @jboeuf: what might cause this user to see `E0503 12:02:25.491373000 140735530255168 ssl_transport_security.cc:1063] Handshake failed with fatal error SSL_ERROR_SSL: error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED`?

[2018-05-03 16:13] jonparrott commented on #1284
Filed https://github.com/grpc/grpc/issues/15261 to track this.

[2018-05-03 16:15] nathanielmanistaatgoogle commented on #1284
@jonparrott: great; see you [there](https://github.com/grpc/grpc/issues/15261).

[2018-05-04 02:38] japhiaolson commented on #870
Still getting this issue here as well.

[2018-05-04 13:35] syedashrafulla opened #1470 "[Monitoring] Update docs to handle google-cloud-monitoring 0.29.0"
## In which file did you encounter the issue?

monitoring/api/v3/cloud-client/snippets.py

### Did you change the file? If so, how?

No.

## Describe the issue

0.29.0 of the client library is incompatible with 0.28.1, and as a result all of the docs for this client should change. I don't know if that means telling users that the docs are for 0.28.1 or updating the docs to handle 0.29.0.

[2018-05-04 14:17] ATajadod94 commented on #1456
I am also having the same problem  in

config = types.RecognitionConfig(
    encoding=enums.RecognitionConfig.AudioEncoding.LINEAR16,
    sample_rate_hertz=24000,
    language_code='en-US',
    enable_word_time_offsets=True,
    enable_automatic_punctuation= True)

I am using long_running_recognize

[2018-05-07 15:57] ATajadod94 commented on #1456
I was able to resolve this by importing speech_v1p1beta1

Here is my [code]('https://github.com/ATajadod94/AudioTranscriber_Gui')

the main thing is from google.cloud import speech_v1p1beta1 though

[2018-05-07 17:28] tuanlemau commented on #1456
@ATajadod94 I've checked out your code. Worked awesomely (though the quality of the punctuation transcription could have been better).

[2018-05-07 17:31] ATajadod94 commented on #1456
@tuanlemau I am getting a lot of the same feedback. Does not seem like google's punctuation is worth the hassle just yet

[2018-05-07 18:11] vtangutoori opened #1471 "PermissionDenied: 403 Error opening file: gs://myocrbucket-v/2.pdf."
Hi,
I am trying to prepare some NLP test data by performing OCR on a bunch of pdf documents using google cloud vision OCR and to test it out on a single file i have created a bucket in google cloud, uploaded a pdf file to it and tried to OCR that file using the below code, however i am getting the permissiondenied error, i tried my best to find documentation on how to properly provide permissions

[2018-05-10 16:19] kurtisvg commented on #1463
Currently, Python GAE Standard runtimes do not support connection to CloudSQL Postrgres instances. You can however use the flexible environment.

[2018-05-10 16:19] #1463 closed

[2018-05-10 21:11] ManjunathanRajan opened #1476 "Translate words which is taken from excel using python through google translate."
Hi

I am developing a code in python similar to the above where the above python code takes the single word and it converts the language specified in the program.
But please help me how to take data from an excel sheet which contains 100 words all of the words should be converted to the language which i choose.

Please refer the below attached excel file where we have to convert the word hello to

[2018-05-11 18:30] eyaler commented on #807
with transcribe_streaming_indefinite i still get:
google.api_core.exceptions.OutOfRange: 400 Exceeded maximum allowed stream duration of 65 seconds.

[2018-05-11 18:39] eyaler opened #1477 "transcribe_streaming_indefinite still gives 65 sec duration error"
Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\google\api_core\grpc_helpers.py", line 76, in next
    return six.next(self._wrapped)
  File "C:\Anaconda3\lib\site-packages\grpc\_channel.py", line 347, in __next__
    return self._next()
  File "C:\Anaconda3\lib\site-packages\grpc\_channel.py", line 330, in _next
    raise self
grpc._channel._Rendezvous: <_Rendezvous of R

[2018-05-14 03:56] mmaaww opened #1479 "The initialization is very slow"
I recently started to try wavenet cloud service. Every time my service started or after long idle time, the wavenet service takes long time to respond, about 20-40 seconds. Afterwards, the response is promptly (<1 second). And I do see the following errors every time. It seems that the authentication takes a long time, but not exactly sure. Can someone help me on this?

05-13 20:36 google.auth.tra

[2018-05-15 19:40] rose888 opened #1482 "Django Postgres on GoogleCloud Platform"
I tried to follow the instruction here to set up the Django Postgres env on google  flex env:
 https://cloud.google.com/python/django/flexible-environment.  But I keep on getting the error below.  and on the database side, I see the error "couldn't connect INSTANCE-NAME".

File "/home/julie/python-docs-samples/appengine/flexible/django_cloudsql/env/lib/python2.7/site-packages/psycopg2/__init__.py"

[2018-05-16 02:21] carlsednaoui commented on #1347
Hi @theacodes, I'm having a similar issue.

[Note: this is my first time trying to use a Google API.]

Here is my pip freeze: http://share.mailcharts.com/012f0Y080R01
Here is the image I am trying to use: https://dha4w82d62smt.cloudfront.net/items/2i1h33230w0C0U3Q1E44/demo-image.jpg?X-CloudApp-Visitor-Id=1951556&v=23a7e102

Here is a more complete example of what I have:

[code]

Let me know if yo

[2018-05-16 05:24] prasadnuk145 opened #1484 "module' object has no attribute 'LanguageServiceClient"
getting this issue in the get_text_classify and ClassifyTextRequest method
@google-admin
I'm trying to get the text classification based on the text document . I'm extracting text content from one of the API and i'm passing the content data into google nlp api method get_text_classify  from this .
i'm getting the error

module' object has no attribute 'LanguageServiceClient .
Can you help me how t

[2018-05-16 13:02] mpdgraev opened #1485 "Typo in attribute name in pubsub notification polling example"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/notification_polling.py#L82

### Did you change the file? If so, how?
No

## Describe the issue
There's a typo in the attribute name, the correct name is "overwrittenByGeneration", currently the field is always returned empty because of this typo.

[2018-05-16 13:47] ClubOfRome commented on #870
MacOS 10.13.4
Django 1.11.10
Postgres 9.6.3

I have not been able to connect to cloud_sql_proxy at other than port 5432.
So, I have to stop my local postgres server to free the port.

[2018-05-17 12:51] dtwj03 commented on #932
asdasd

[2018-05-17 23:33] DaskJeeves commented on #870
Strangely enough, my cloud_sql_proxy connects on 5434, while my local db connects at 5433. And when I deploy I have it set to 5432. Quite the system

[2018-05-17 23:37] ClubOfRome commented on #870
Makes sense to me. I have to shut down my local postgres to use the proxy.

On Thu, May 17, 2018, 7:33 PM David Soth-Kimmel <notifications@github.com>
wrote:

[2018-05-18 04:30] AngelosP commented on #870
@ryanmats I ran into the exact same problem as @KushGoyal because of a bug on this Google Cloud Console page:

![image](https://user-images.githubusercontent.com/8742622/40215842-e141249e-5a17-11e8-92d0-c9a271eb1cbf.png)
[Link to page](https://console.cloud.google.com/flows/enableapi?apiid=sqladmin&redirect=https:%2F%2Fconsole.cloud.google.com)

In this page it's **impossible** to unselect Woo-Ser

[2018-05-21 18:15] SamuelHill commented on #807
With transcribe_streaming_mic I was getting this error:
`google.api_core.exceptions.OutOfRange: 400 Exceeded maximum allowed stream duration of 65 seconds.`
With transcribe_streaming_indefinite I am getting this error:
`google.api_core.exceptions.OutOfRange: 400 Audio data is being streamed too slow. Please stream audio data approximately at real time.`

[2018-05-22 05:01] CJMedina opened #1497 ""_use_grpc" parameter compatibility issues with Python Module"
Issue summary: When using Keyboard interrupt, it gets stuck in GRPCS queue poll setup

Use-case is running on GCE instance
: have created a GCE instance running a python application with google-cloud-datastore version 0.22.0.
I am able to instantiate a Client() object and create a key, however when getting the key from the datastore (via client.get(key)) it fails to retrieve it and timesout. This

[2018-05-22 08:38] komalVats commented on #717
Hi, I am facing the same issue where my Google translate API cant use the credentials.

[2018-05-23 09:10] GaddamKishore opened #1499 "GoogleCloudPlatform/python-docs-samples/transcribe_streaming_test.py"
GoogleCloudPlatform/python-docs-samples/speech/cloud-client/transcribe_streaming_mic_test.py

Error saying no module found named mock

[2018-05-24 05:08] AlabhyaVaibhav opened #1502 "module 'google.cloud.firestore_v1beta1.proto.firestore_pb2' has no attribute 'FirestoreStub'"
Was following the https://firebase.google.com/docs/firestore/quickstart
At the following step :
[code]

Getting

I updated the libraries still the same error persists. How do we resolve this ?

[2018-05-27 22:30] husam212 opened #1504 "Unable to use phone call enhanced model"
I got this error: `ValueError: Protocol message RecognitionConfig has no "use_enhanced" field.`

[2018-05-28 07:02] GaddamKishore opened #1505 "GoogleCloudPlatform/python-docs-samples/speech/cloud-client/transcribe_streaming_mic.py"
## In which file did you encounter the issue?

GoogleCloudPlatform/python-docs-samples/speech/cloud-client/transcribe_streaming_mic.py

### Did you change the file? If so, how?
No.

## Describe the issue
It is giving The import error if I try to run above python file.

ImportError                               Traceback (most recent call last)
<ipython-input-1-22919fe1a463> in <module>()
     14 i

[2018-05-29 13:19] HiteshPA opened #1507 "Conversion not working for Raspberry Pi, Adafruit-i2s-mems-microphone SPH0645 for Continues Speech to Text conversion Using speech Api."
# ** Speech Api mot working with Rpi and i2s microphone .****

 In **Virtual envirment** I have set up the Google speech client api and Set up the GOOGLE_APPLICATION_CREDENTIALS but after running the Python sample code # **transcribe_streaming_mic.py** . it does work but it stuck after and gives the error after 60 sec (I know the limit is 60 sec streaming)

[code]
The Microphone is working perfect

[2018-05-30 15:51] #1485 closed

[2018-06-04 18:20] mdejong3 opened #1511 "Config properties mismatch"
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/bf1e0d7aba4a4e489314106d60d2f58162124650/appengine/standard/firebase/firenotes/frontend/main.js#L24

The properties listed here don't seem to match the properties specified by [Firebase](https://firebase.google.com/docs/web/setup#add_firebase_to_your_app) (missing projectId and messagingSenderId). Without these properties, I got a red

[2018-06-06 21:11] mdejong3 commented on #1511
Resolved

[2018-06-06 21:11] #1511 closed

[2018-06-07 05:43] rendybjunior opened #1513 "Request contains no InfoTypes or CustomInfoTypes, however an InfoTypeTransformation was included that had no InfoType name included."
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/895cbf54527abb3e16817f3d6d6c0c678c2b52b6/dlp/deid.py#L76

Try the sample and get this problem

google.api_core.exceptions.InvalidArgument: 400 Request contains no InfoTypes or CustomInfoTypes, however an InfoTypeTransformation was included that had no InfoType name included. You must specify InfoTypes or CustomInfoTypes within Inspect

[2018-06-07 16:29] jabubake opened #1514 "Add Cloud Bigtable quickstart"
https://github.com/jabubake/nodejs-bigtable/blob/master/samples/README.md#quickstart
Please see expected quickstart for Bigtable here :
https://github.com/jabubake/nodejs-bigtable/blob/master/samples/quickstart.js
(Read a row from an existing table)

@sduskis FYI

[2018-06-09 07:10] patelnav opened #1515 "Remove Channel Example"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/channel/chatactoe.py

### Did you change the file? If so, how?

No changes required

## Describe the issue

[Channel API has been deprecated](https://cloud.google.com/appengine/docs/deprecations/). This example uses channel API, so it doesn't work on local dev-se

[2018-06-10 22:47] aakashshah94 opened #1516 "Can we use crop-hints on each object detected using vision-cloud api itself."
I am trying to use cloud vision api to detect objects in my image. The crop hints provides the bounds for the objects it considers as the main object in the image. Is it possible to use it to detect bounds for each object in the image.

[2018-06-11 13:50] patelnav commented on #1412
It wasn't a Flask versioning issue.
@google seems to be snoozing on this repo, not even a response!
Get rid of the last line `app.run();` - it shouldn't be there.

Then you run the app using `dev_appserver.py app.yaml`

[2018-06-11 13:53] patelnav commented on #1412
btw, I'm not sure where you got the link, but that looks like an old example. Please look at the latest [code here](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/flask/tutorial)

[2018-06-12 13:10] jmkrimm commented on #124
Can we get a sample for Angular 2+ on App Engine?

[2018-06-13 13:58] megretson opened #1521 "Issue with tensorflow dependency"
Hello! I am new to the google app engine, and I have been fighting for a few days with an issue in deploying a basic flask app I've made. The application I've made requires keras, and therefore tensorflow, both of which I have placed in a lib folder in the root directory of my project. However, whenever I attempt to deploy the application, I receive the following error:

Beginning deployment of se

[2018-06-16 19:01] aolives opened #1525 "Small Django 2.0.3 Compatibility Tweaks"
## In which file did you encounter the issue?

[python-docs-samples/container_engine/django_tutorial/mysite/settings.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/container_engine/django_tutorial/mysite/settings.py)

### Did you change the file? If so, how?

[code]

## Describe the issue

The admin page fails to run in Django 2.0.3, which is the version used in the [Ru

[2018-06-18 02:02] juliusspencer opened #1528 "All texttospeech calls fail with: StatusCode.UNIMPLEMENTED, Method not found"
## In which file did you encounter the issue?

python-docs-samples/texttospeech/cloud-client/synthesize_file.py

### Did you change the file? If so, how?

No

## Describe the issue
When I try to use any of the commands I get an error:

(trace below)

I have GOOGLE_APPLICATION_CREDENTIALS configured and exported. I have enabled the API.

Commands that fail the same way:
`python quickstart.py`
`pyth

[2018-06-18 08:56] tetelestia commented on #1528
I'm getting this error as well. Downgrading `google-cloud-texttospeech` to version `0.1.0` has fixed it temporarily.

[2018-06-19 11:53] jetjodh opened #1530 "Issue with bounding boxes"
## In which file did you encounter the issue?
I found the issue in detect.py.

### Did you change the file? If so, how?

## Describe the issue

I am not able to return text detected from images in bounding boxes.

[2018-06-20 20:57] morenoh149 commented on #1525
PR for this https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1503

[2018-06-20 23:53] morenoh149 opened #1534 "Improve kubectl logs tutorial command"
## In which file did you encounter the issue?

no file, this is the documentation

## Describe the issue

`kubectl logs <your-pod-id>` doesn't obviously work. I tried
[code]
and so I tried
[code]
after searching the correct command would be
[code]
the page should suggest something like `kubectl logs <your-pod-id> -c <container-name` and say "container name may be `polls-app` or `cloudsql-proxy`".

[2018-06-22 19:09] nnegrey commented on #1528
Rolling back to `0.1.0` while things get settled, sorry about that.

https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1539

[2018-06-22 19:09] #1528 closed

[2018-06-25 09:40] antoineChammas opened #1540 "Error when I try to run example code: from grpc._cython import cygrpc as _cygrpc ImportError: cannot import name 'cygrpc'"
## In which file did you encounter the issue?

I used the code in the tutorial on my local machine

https://codelabs.developers.google.com/codelabs/cloud-vision-api-python/index.html?index=..%2F..%2Findex#5

### Did you change the file? If so, how?

No

## Describe the issue

When running the example code locally, I get the error mentioned in the title:
from grpc._cython import cygrpc as _cygrpc

[2018-06-25 11:30] #1540 closed

[2018-06-25 11:32] antoineChammas commented on #1540
the problem was with the grcp library not with google cloud, in case anyone stumbles on the same mistake, run python -m pip install grcpio --ignore-installed

[2018-06-29 17:25] francescoperera opened #1547 "Create compute instances with a container"
Hi,
I am trying to understand if I can use the REST API  to create an instance with a container.
The console and gcloud ( beta) support it.
[code]
Does the rest api support this same functionality. I was looking at the `instances.insert` method but did not see an attribute for the container-image.
Is this not supported yet on the api or am I looking at the wrong method ?

[2018-07-03 19:33] carusology opened #1550 "Unresolved conflict in pubsub/cloud-client/requirements.txt file"
## In which file did you encounter the issue?

[pubsub/cloud-client/requirements.txt](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/pubsub/cloud-client/requirements.txt)

### Did you change the file? If so, how?

I did not. I tried to load it using `pip install -r requirements.txt`

Here's a link to the commit that appears to have broken it.
https://github.com/GoogleCloudP

[2018-07-07 23:55] tiancaipipi110 opened #1554 "No such file or directory: 'requirements.txt'"
Installation problem. No such file or directory: 'requirements.txt'

[2018-07-09 15:50] jabubake opened #1555 "Fix Bigtable sample test failures"
@sangramql FYI

Please fix the errors here:
https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/401814769?utm_source=email&utm_medium=notification

[2018-07-09 22:18] jabubake commented on #1555
@sduskis FYI

[2018-07-09 22:22] sduskis commented on #1555
@sangramql, please fix this.

[2018-07-10 04:13] #1554 closed

[2018-07-14 21:02] techieshark commented on #1550
Here's the [exact spot](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/0f26000946455cba56ee0b9e07ed88a2d2858116/pubsub/cloud-client/requirements.txt#L1) that's broken.

Easy to reproduce:
[code]
results in a glaring problem from `pip`:
[code]
("'<<<<<<< HEAD") is the dead giveaway. Must have accidentally been missed during a merge (thanks, git!).

[2018-07-16 21:46] gakeseaton commented on #1032
The tutorial uses PostgreSQL, have you changed all of the necessary settings for it to work with MySQL?

[2018-07-16 21:49] gakeseaton commented on #1286
Also make sure you've adjusted the settings file according to [the tutorial](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/a07a09a2cdbcde938e58b9764708931d0fa6798e/appengine/flexible/django_cloudsql/mysite/settings.py#L101) to connect to the Cloud SQL proxy via localhost if not in GAE production.

[2018-07-16 21:51] gakeseaton commented on #1482
You'll need to keep the cloud sql proxy running in the background, and update the settings file so that your Django application connects to the PostgreSQL instance via the proxy on localhost when not in production on GAE. Here is the relevant line in [settings.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/a07a09a2cdbcde938e58b9764708931d0fa6798e/appengine/flexible/django_clou

[2018-07-17 15:55] kmonsoor opened #1570 "[Speech] `transcribe_async` fails with sample_rate_hertz (16000) in RecognitionConfig"
## In which file did you encounter the issue?

`/home/ubuntu/python-docs-samples/speech/cloud-client/transcribe_async.py`

### Did you change the file? If so, how?

No

## Describe the issue

### Execution environment
[code]

### Command
[code]
### Output
[code]

## Quickfix

Changing the value to 8000, or commenting out the line: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/mas

[2018-07-25 07:04] tj-513 opened #1600 "[Speech] Failing to transcribe filler words"
I tried transcribing an audio file with python transcribe.py. It omits filler words such as "ah,um,uh" in its output. Is there any way I can include them in the output as well ?

[2018-07-26 16:13] LuizFernandoCabral opened #1602 "[Functions] Using zip upload as source code"
## In which file did you encounter the issue?

Folder: https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/functions/helloworld

### Did you change the file? If so, how?

No, possible problem in Cloud Functions beta Python 3.7

## Describe the issue

zipped the folder specified above

In google console >> Cloud Functions >> Create function:
- Trigger: http
- source code: zip upl

[2018-07-29 02:10] MoAbd commented on #1379
I have tha same issue , file length is only 11 Minutes

[2018-07-30 18:25] migtissera commented on #1247
I'm having the same issue here, for an autoencoder.. is there a way to increase this limit??

[2018-08-01 19:32] karchuli commented on #1001
Hey, I am getting the same error.
Running directly with python

Using TensorFlow backend
usage: predict.py [-h] location
predict.py: error: the following arguments are required: location

[2018-08-02 07:55] AziziShekoofeh commented on #1247
@migtissera Usually if you do the encoding/decoding correctly there is no need for the increased limit.

[2018-08-03 02:37] kuonumber opened #1611 "command "python publisher.py project-name publish topic-name messages" doesn't work"
## In which file did you encounter the issue?
maybe a bug of publisher.py
path : python-docs-samples/pubsub/cloud-client/publisher.py

### Did you change the file? If so, how?

## Describe the issue

when I run :
''' python publisher.py project-name publish topic-name 123 '''
It shows  this error message "publisher.py: error: unrecognized arguments: 123"

To be short, I can not find a way to publi

[2018-08-07 22:12] tswast commented on #1451
I've sent CL 207788129 to remove Python 2.7 from the list of versions in the tutorial.

[2018-08-07 22:26] tswast commented on #1451
The [tutorial](https://cloud.google.com/python/django/flexible-environment) has been updated. Thanks for the report!

[2018-08-07 22:26] #1451 closed

[2018-08-08 19:48] bradelkin commented on #733
When I ran into this, it was caused by having /usr/lib/python2.6/site-packages/pkg_resources/ conflicting with /usr/lib/python2.6/site-packages/pkg_resources.py. Erasing the directory allowed everything to work as before. I assume a pip install was the cause, but don't know which package.

[2018-08-10 11:13] haifabenaouicha opened #1625 "running tests in publisher_test.py"
I am trying to run tests in the script  publisher_test.py , But I am getting errors saying that no tests are run , I lanched pytest publisher_test.py, pytest -v , python publisher_test.py. But I am getting the same no tests ran .
Any help with this please.
Thanks a lot

[2018-08-10 14:35] billyjacobson commented on #1514
Fixed by #1616

[2018-08-10 14:35] #1514 closed

[2018-08-17 07:40] fabianschyrer opened #1641 "Python37 CloudFunction ERROR: (gcloud.beta.functions.deploy) OperationError: code=13, message=Error in the build environment"
Hi everyone,

I get an error, when provisioning a cloud function from the python-sample-docs/functions/gcs

gcloud -v
Google Cloud SDK 212.0.0
beta 2018.07.16
bq 2.0.34
core 2018.08.13
gsutil 4.33

We have other functions running in this project. (Node.js 6 / Provisioned through WUI console)
The project has a proper billing account.
Cloud Build API is enabled

I am using MacOS 10.13.6
Python 2.7,

[2018-08-19 22:10] ptiger10 opened #1642 "[Functions] Manually testing Slack tutorial with CURL returns invalid request"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/functions/slack

### Did you change the file? If so, how?

Changed  `verify_web_hook()` to isolate source of error.

Was:
[code]

Changed to:
[code]

## Describe the issue
The function works correctly when triggered by the Slack Slash command, but it breaks when tested manually. By

[2018-08-22 05:55] hanugogi opened #1649 ""transcribe_streaming_mic.py" Error on Raspberry Pi"
## In which file did you encounter the issue?
              ~/python-docs-samples/speech/cloud-client/transcribe_streaming_mic.py
(/home/pi)

### Did you change the file? If so, how?
No I use original source file.

## Describe the issue
![image](https://user-images.githubusercontent.com/26743019/44443607-96d60d00-a613-11e8-9f06-8c614b37b52c.png)

I try this source on Raspberry Pi. And I think it c

[2018-08-22 15:14] steve-at-scotcro commented on #1602
I'm having the same issue but with my own 'hello-world' type effort. My zip file contains 3 files, zip attached.
 * main.py
 * setup.py
 * requirements.txt
[hello-cloud-functions-1.0.0-SNAPSHOT-bin.zip](https://github.com/GoogleCloudPlatform/python-docs-samples/files/2310942/hello-cloud-functions-1.0.0-SNAPSHOT-bin.zip)

From the create function form in the Google Cloud Console I answered with the

[2018-08-22 15:58] LuizFernandoCabral commented on #1602
As I found out (sorry for not posting the solution before), to resolve this problem you have to zip the files directly, that is, select all the files and choose compact to zip, instead of the whole folder

[2018-08-23 12:03] steve-at-scotcro commented on #1602
I would contend that it shouldn't be closed. Forcing a developer to manually assemble the zip file an entry at a time is not tenable. We need to be able to use tools like the maven-assembly-plugin to assemble these zip files via an automated process.

What I want to know is what is WRONG with the zip file I assembled as opposed to one created by adding a file at a time using the Finder and compres

[2018-08-23 18:29] LuizFernandoCabral commented on #1602
I believe the reason for this is that the CloudFunction, under the hoo,d does not have a proper file system, so your zip can't contain any folder, only files; that is, files must be in the root zip, as the CloudFunction doesn't access other folders levels

[2018-08-25 01:17] ashrutv opened #1654 "./transcribe_model_selection.py --> TypeError: __init__() got an unexpected keyword argument 'file'"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_model_selection.py

### Did you change the file? If so, how?

No

## Describe the issue
same script has worked in the past without any changes. My other personal script has started failing on importing beta speech api with the same error.

  File "./t

[2018-08-26 15:06] adriancast commented on #1080
@theacodes I really need to add some kind of async task in my app. I am using google app engine flexible with Python 3.5.

Do I have any way to run task queues, async functions or something like this ?

Thanks

[2018-08-27 16:15] theacodes commented on #1080
@adriancast you can sign up for the [Cloud Tasks Alpha](https://cloud.google.com/tasks/), use Pub/Sub, or run RabbitMQ and use Celery.

[2018-08-28 16:21] TrevorEdwards opened #1662 "composer/workflows/simple.py PythonOperator logs not visible via Airflow UI"
## In which file did you encounter the issue?

composer/workflows/simple.py

### Did you change the file? If so, how?

No

## Describe the issue

The airflow logs do not show 'Hello World' as the Python callable uses print (STDOUT) instead of logging.

[2018-08-29 01:05] #1662 closed

[2018-08-31 05:41] banpiao opened #1676 "The "file a bug link" in iot core tour codelab is pointing to the wrong repo"
## In which file did you encounter the issue?
Not any file here, but in codelab.developers.google.com

### Did you change the file? If so, how?
N/A
## Describe the issue
The "file a bug link" in iot core tour codelab is pointing to the wrong repo, it should be pointing to this issues page instead.
https://codelabs.developers.google.com/codelabs/cloud-iot-core-overview/index.html?index=..%2F..%2Fin

[2018-09-09 14:11] jinser opened #1693 "AttributeError: 'module' object has no attribute 'OperationsStub'"
## In which file did you encounter the issue?
speech/cloud-client/quickstart.py

### Did you change the file? If so, how?

No, straight from cloning the project

## Describe the issue

Python 2.7.6

Followed the Readme instructions (https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/speech/cloud-client) to clone the python samples and and installed dependencies.

The only requi

[2018-09-10 22:13] hegemonic opened #1695 "Cloud Bigtable scaling tool should consider storage utilization"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/bigtable/metricscaler

### Did you change the file? If so, how?

No

## Describe the issue

The Cloud Bigtable scaling tool does not consider [storage utilization per node](https://cloud.google.com/bigtable/quotas#storage-per-node) when it resizes a cluster. It's already a best pra

[2018-09-11 10:55] Justice-lords opened #1697 "PDF/TIFF Document Text Detection"
In **python-docs-samples/vision/cloud-client/detect/detect.py** line 645 **async_detect_document(gcs_source_uri, gcs_destination_uri)** the source and destination URI should can only be GCS.Is there any workaround to use other cloud storage URI for this API?If not how to solve this problem without manually downloading and uploading the pdf.

[2018-09-11 13:02] melom13 commented on #1611
I'm also using this file in an SPL lab. Will this issue be fixed anytime soon?

[2018-09-14 10:45] axchanda opened #1706 "Need the node version for transcribe streaming indefinite"
## In which file did you encounter the issue?

### Did you change the file? If so, how?

## Describe the issue

[2018-09-19 04:41] harini20 commented on #1001
plate_recognition.py: error: the following arguments are required: --api, FILE
what does this error mean?

[2018-09-19 20:43] nnegrey commented on #1697
Hi thanks for commenting.

Right now, the API only supports files on GCS.

Are you looking for a way to use a client library to help automate the process of uploading a PDF to GCS and then downloading the stored results?

[2018-09-19 20:45] nnegrey commented on #1654
Hi,

Which version of the library are you currently using?

`pip show google-cloud-speech`

[2018-09-19 20:54] nnegrey commented on #1570
Hi,

For different audio files, you'll have to modify the "Sample Rate Hertz" based on the audio file as they each have their own Sample Rate Hertz.

[2018-09-19 20:54] #1570 closed